﻿#titleAreaBox {
    margin: 0px;
}
#DeltaSuiteLinks
{
	display:none;
}
#Ribbon\.Documents\.New\.AddDocument-Large
{
display:none;
}
#Ribbon\.Documents\.New\.NewDocument-Large
{
	display:none!important;
}
/*******general*****/
body{
	font-family: Verdana!important;font-size:12px!important;font-weight:normal!important;
}
#suiteBarLeft    {
        background:#3B4F65!important;
    }
#s4-bodyContainer
		{
	width:90%!important;
	margin:auto;
}
.hrDoc
{
	color:#DDDDDD;background:#DDDDDD;height:4px;border:0px;
	margin-bottom:15px;
}
/*********search******/
/****search***/
.styled-select {
  /* width: 240px;*/
   /*height: 34px;*/
   overflow: hidden;
   /*background: url(/images/Icon-DownArrow.png) no-repeat right white!important;*/
  /** border: 1px solid #ccc;*/
  display:table-cell;
   }
.styled-select select {
   background: transparent;
  /* width: 268px;*/
  	/*padding-top: 5px;*/
  margin-top:0;
   border: 0;
   border-radius: 0;
   /*height: 34px;*/
   -webkit-appearance: none;
   }
.ms-srchnav-list
{
	font-size: 8.5px;
vertical-align: middle;

}
#ctl00_PlaceHolderSearchArea_g_81e90696_f647_491d_8355_964c2757a26a_SRCHNAV
{
	margin-top:5px;
}
#searchInputBox

{
	margin-top:15px;
	float:left;
	margin-left:50px;
	display: table;
	width:550px;
}
#SearchBox
{
	/*margin-right:20px;*/
}
#LexisNexisOuterSearchBox
{
 display:table-cell;
 margin-left:30px;

}
#LexisNexisInnerSearchBox
{
	 display:table;
}
#LexisDropDown
{
	display:table-cell;
}
#companyRadio,#tickerRadio
{ font-family:Verdana!important;
font-size:12px!important;
vertical-align:top;
color:#777;
}
#lxselect
{
	margin-right:10px;
}
#searchImg
{
	vertical-align: top;
}
#LexisEnterText
{
border: 2px solid #2CB6C0;
float:left;	
}
#searchkey
{
	border:0;
	height:19px;
}

#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sboxdiv
{	width: 350px;
	border: 2px solid #2CB6C0;
	margin-right:15px;
	/*position: absolute;
	left: 300px;*/	
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sbox
{
	width:80%;
}

/*******system pages UI*********/
.ms-breadcrumb-box 
{
	height:30px;
}
.ms-core-pageTitle a
{
	font-size:20px; font-weight:100;
	width:100%;
	font-family: "Verdana"!important;
	color:#536173;
}
.ms-core-pageTitle
{
	font-size:22px;
}
#DeltaBreadcrumbDropdown
{
	   font-family: "Verdana"!important;
        font-size: 12px;
        color:#868686!important;
        font-weight: bold; 
}
/********left nav********/
.ms-core-listMenu-verticalBox
{
	background:#ECEDF1;
	/*font-weight:bold;*/
	border-bottom:3px #C7C7C7 solid;
	font-family:verdana!important;
	font-size:13px!important;
	color:#48494B!important;
	
}
div.ms-core-listMenu-verticalBox > a{
	display:none!important;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item,.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item
{
	color:#48494B!important;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected,.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:hover
{
	background:#DDD;/**#B9BBBE;**/
	border-left:5px #EA8525 solid;
}
/****Top navigation main div******/
#TopNavigationSuiteBar
{
	display:table;
	width:100%;
}
#TopNavigation
{
    list-style: none!important;
    position:relative;
    font-family: "Verdana"!important; 
    font-size:12px;
    /*height: 30px;*/
    clear:both;
    /*display:table-cell;*/

}

    /*****div that contains header name and alink for header****/

    /****ulHeadNav:- outer most div: that displays name of the header***/
    .divHeadNav
    {
       font-family: "Verdana"!important;
       font-size: 12px;
	  /* padding:9px 14px;*/
	   padding:10px;
	   font-weight:bold;
	   color:#DEE9F5; 
	   display:inline-block;
	   text-decoration:none!important;
       list-style:none; 
       float:left;
       margin-top: 4px;

    }
    .divHeadNav:hover .divCategoryNav
    {
	    border-top:2px #EA8525 solid;	
 	    display:block;
 	    cursor:default;
    }
    .divHeadNav:hover .divCategoryNav:empty{
	    display:none;
    }
    .divHeadNav:hover .aHeaderName
    {	
     background-color:#EA8525!important;
     color:white;
    }

   
    .aHeaderName
    {
	    color:#DEE9F5;
	    text-decoration:none;
	    text-transform:uppercase;
		font-family: "Verdana"!important;
        font-size:12px;
        /*padding: 5px;*/
        padding:9px 6px;
        cursor:pointer;
    }


     /*****div that contains HOME  and alink for HOME****/
    .Home
    {

        font-family: "Verdana"!important;
        font-size: 12px;
	    /*padding:9px 14px;*/
	    padding:10px;
	    font-weight:bold;
	    color:#DEE9F5; 
	    display:inline-block;
	    text-decoration:none!important;
        list-style:none; 
        float:left;
        /*margin-top:5px;*/
        margin-top:4px;
        padding-left: 0px;

    }
    .aHomeLink
    {
        color:#DEE9F5;
	    text-decoration:none;
	    text-transform:uppercase;
		font-family: "Verdana"!important;
        font-size:12px;
        /*padding: 5px;*/
        padding:9px 6px;
    }


    .Home:hover .aHomeLink
    {	
     background-color:#EA8525!important;
    }

    /*******div that contains navigation links, visible when you hover on divHeadNav************/
   .divCategoryNav
    {
        display:none;
        font-family: "Verdana"!important;
        font-size: 13px;
        position:absolute;
        top:43px;
	    float:left;
	    text-align:left;
	    /*padding:20px;*/
	    /**border:1px solid #777777;*/
	    z-index: 999 !important;
	    background:#f1f1f1;
        clear:both;
	    width:auto!important; /**overflow:visible;**/
	    border-top:3px solid #EA8525;
	    border:1px solid #ddd;
	    margin-left:0;
       /*** background: #ECEDF1;***/
    }
   .divCategoryNav:empty
   {
	    display:none;
    }


   /***************Category *******************/
	#TopNavigation a
	{
	text-decoration:none;
	}
   #TopNavigation a.aHeaderName:hover,#TopNavigation a.aHeaderName:active,#TopNavigation a.aHeaderName:visited{
	    text-decoration:none!important;
	    color:#DEE9F5;
    }
    #TopNavigation a.aHomeLink:hover,#TopNavigation a.aHomeLink:active,#TopNavigation a.aHomeLink:visited{
	    text-decoration:none!important;
	    color:#DEE9F5;
    }

  #TopNavigation a.divHeadNav,#TopNavigation a.aHomeLink{color:#DEE9F5;}

    .ulCategoryNav
    {
	       
	    /*padding-left: 9px;*/
       /* padding: 0px 0px 10px 0px !important;*/
	    float:left;
	    width:auto;
	    /*margin:0 30px 0 0;*/
	    padding: 14px!important;
		float: left;
		width: auto;
		margin: 0;		
        list-style:none;
    }
  
    .aCategoryNav
    {        
        text-transform:uppercase;
	   font-family: "Verdana"!important;
        font-size: 12px;
        color:#868686!important;
        font-weight: bold; 
        margin-bottom:25px;
        line-height: normal;
		max-width: 207px;
		min-width: 100%;
    }
.aCategoryNav a,.aCategoryNav a:visited
    {
      color:#868686!important;

    }

    .LinknameLI
    {
	           
        color:#536173!important;
	    font-family: "Verdana"!important;
        font-size:12px;
        font-weight:normal;
    }
    .LinknameLI:hover,.aResources:hover,.aBannerLinks:hover
    {
        color:#EA8525!important;
    }
    /*.liLinkNav:hover 
    {
	    background: #F4F4F4;
    }*/
     .liLinkNav
     {
        margin-bottom: 10px;
		line-height: 12px;
		max-width: 110px;
		min-width: 100%;
		/* word-wrap: break-word; */
		max-height: 34px;
     }

   
    .triangle 
    {
        width: 0; 
	    height: 0; 
	    border-left: 3px solid transparent;
	    border-right: 3px solid transparent;
	
	    border-top: 3px solid #DEE9F5;
	    position: absolute;
        margin-top: 5px;
    }

/*************links resources bookmarks************/
    /***dialog box z-index 1504****/
    #bannerLinksDiv
    {
         top:40px;
        margin-left:10px;
	   background: white;
        right:0;
	    width:850px;
	    position:absolute;
	    clear:both;
	    border-top:3px solid #EA8525;
	    max-width:850px!important;
	    z-index:999;
        font-size: 12px;
	    text-align:left;
	    /***padding:10px 5px 10px 10px;***/
	    padding:20px;
        font-family: "Verdana"!important;
	    text-align:left;
	    border:1px #ddd solid;
	    border-top:3px solid #EA8525;

    }
    #bannerResourcesDiv
    {
         top:40px;
	    /*background: #ECEDF1;*/
	    background: white;
        right:0;
	    width:auto;
	    position:absolute;
	    clear:both;
	    border-top:3px solid #EA8525;
	    z-index:9999999999;
        font-size: 13px;
	    text-align:left;
	    padding:20px;
        font-family: "Verdana"!important;
	    text-align:left;
	     border:1px #ddd solid;
	    border-top:3px solid #EA8525;

    }
    #bannerResources
    {
	padding-top:10px;
}
    #bannerLinks
    {
	    width:65%;
        float:left;
        border-right:1px #ddd solid;
        margin-right:20px;
    }
     #bannerBookmarks
     {

	    float:left;
	   width:30%;
    }
    .LinkSpan
    {
            color:#DEE9F5;
         text-decoration:none;    
         font-weight:bold;
         font-size:12px;
         cursor:pointer;
         text-transform:uppercase;
	    font-family: "Verdana"!important;
         padding: 9px 6px;
    }
    #links-container:hover a#LinkSpan{
    color:black;
    }
    #links-container:hover .LinkSpan,#resources-container:hover .LinkSpan
    {
	  background-color:#6A7B8B!important;
    }

    #links-container
    {
	    list-style: none!important;
	    position:relative;
        float:right;
        font-family: "Verdana"!important;
        font-size: 12px;
	    padding:9px 14px;
	    font-weight:bold;
	    /***color:#DEE9F5; ***/
	    text-decoration:none!important;
        list-style:none; 
        margin-top: 5px;
    }
    .ulBannerLinks,.ulRecources
    {
        padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0----for ulRecources**/
    }
    .ulBannerLinks
    {
	margin-right:30px;
}
    .pUlBannerLink
    {
        text-transform:uppercase;
	   font-family: "Verdana"!important;
        font-size: 12px;
        color:#868686!important;
        font-weight: bold; 
        margin-bottom:25px;

    /* color:#EA8525!important;padding:0 0 10px 0;margin:0!important;text-transform:uppercase;font-weight:bold;**/       
    }


    #resources-container
    {
        list-style: none!important;
	    position:relative;
        float:right;
        font-family: "Verdana"!important;
        font-size: 12px;
	    padding:10px;
	    font-weight:bold;
	    color:#DEE9F5; 
	    text-decoration:none!important;
        width:auto;
        margin-top: 4px;
    }
    #support-container
    {

	    position:relative;
        float:right;
        font-family: "Verdana"!important;
        font-size: 12px;
	    padding:10px 3px 10px 10px;
	    font-weight:bold;
	    color:#DEE9F5; 
	    text-decoration:none!important;
        width:auto;
        margin-top: 5px;
    }
     #support-container a
    {
         color:#DEE9F5;
         text-decoration:none;    
         font-weight:bold;
         font-size:12px;
         cursor:pointer;
         text-transform:uppercase;
	     font-family: "Verdana"!important;
         padding: 5px;
         background-color:#6A7B8B;
    }
      #support-container a:hover
      {
          color:#ea8525;
      }
    .liBannerLinks
    { 
      margin-bottom:20px;   
    }
    .liResources
    {padding-bottom:20px;
     white-space:nowrap;
    }
    
    .aBannerLinks,.aResources{
        color:#536173!important;
	    font-family: "Verdana"!important;
        font-size:12px;
        font-weight:normal;
        }
    .BannerLinkUL
    {padding-bottom:12px;}

    .aBannerLinks:hover .aBannerLinks
    {
        color:silver;
    }
    /****support tab****/
    .supportTabSpan
     {
        display: inline-block;
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0px 7px 0px 11px;
        border-right: 1px solid transparent;
        background-clip: padding-box;
    }
    /****bookmarks******/
    .DivBookmarkGroup
    {
	 margin-bottom:5px;
	 padding:2px;
	}
	.liBookmarkGroup:hover
	{
	 background:#f7f7f7;
	}
    .ulBookmarHead
    {
       padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0**/
    }
    .pBookmarkHead
    {
        text-transform:uppercase;
	    font-family: "Verdana"!important;
        font-size: 12px;
        color: #868686 !important;
        font-weight: bold; 
        margin-bottom:20px;

    /*padding:0 0 5px 0!important;margin:0!important**/
    }
         
   
    .liAddBookmark
    {
	 margin-bottom:5px;
        font-weight:normal;
        clear:both;
        color:#696969!important;
	    font-family: "Verdana"!important;
        font-size:12px;
    }
  .aAddBookmark
  {
    cursor:pointer;
    color:#198FAF!important;
    font-weight:normal;
    margin-bottom:20px;
  }
  .aBookmarkGroup
  {
	cursor:pointer;font-size:12px;color:#536173;
	font-weight:normal;
	font-family:Verdana;
}
 #BookmarHead li a
    {
         cursor:pointer;
    color:#536173;;
    font-weight:normal;

    }
.aBookmarkEdit
{
cursor:pointer;margin-right:10px;	
}
.aBookmarkDelete
{
	
}
  #ms-help
  {
      display:none;
  }

  #Hero-WPQ3,#Hero-WPQ6
  {
	visibility:hidden;
  } 
  .ms-core-listMenu-verticalBox
{
	background:#ECEDF1;
	/*font-weight:bold;*/
	border-bottom:3px #C7C7C7 solid;
	font-family:verdana!important;
	font-size:13px!important;
	color:#48494B!important;
	
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item,.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item
{
	color:#48494B!important;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected,.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:hover
{
	background:#DDD;/**#B9BBBE;**/
	border-left:5px #EA8525 solid;
}
.ms-core-listMenu-selected
{
background:#DDD!important;/**#B9BBBE;**/
	border-left:5px #EA8525 solid;

	
}
.ms-core-listMenu-item
{
	background:#ECEDF1;
	/*font-weight:bold;*/

	font-family:verdana!important;
	font-size:13px!important;
	color:#48494B!important;

}
/***BANNER LINKS***/
.mega-dropdown-menu:after {
content: "";
border-bottom: 17px solid #EA8525;
border-right: 19px solid transparent;
border-left: 19px solid transparent;
position: absolute;
top: -17px;
left: 48px;
z-index: 8;
}
.mega-dropdown-menu:before {
content: "";
border-bottom: 15px solid #f1f1f1;
border-right: 17px solid transparent;
border-left: 17px solid transparent;
position: absolute;
top: -15px;
left: 50px;
z-index: 10;
}

.resourcemega-dropdown-menu:before {
content: "";
border-bottom: 15px solid #FFFFFF;
border-right: 17px solid transparent;
border-left: 17px solid transparent;
position: absolute;
top: -15px;
right: 18px;
z-index: 10;
}


.resourcemega-dropdown-menu:after {
content: "";
border-bottom: 17px solid #EA8525;
border-right: 19px solid transparent;
border-left: 20px solid transparent;
position: absolute;
top: -17px;
right: 16px;
z-index: 8;
}
