﻿/******* Style Code*****/
.ms-cui-tabBody{
	display:none;
}
.ms-cui-tabContainer{
	display:none;
}

#s4-ribbonrow{
	display:none;
}
#TopNavigation{
	display:none;
}

#suiteBarLeft{
	display:none;
}
.ms-designer-ribbon{
	display:none;
}

.button
{
	margin: 7px 7px 7px 6px;
	background:#3B4F65;	
	border:0;
	color:white;
	font-size:12px;
	font-family:Verdana;
	cursor:pointer;
}
.button:hover
{
	background:#3B4F65;	
	cursor:pointer;
}


.ms-core-listMenu-verticalBox{
	display:none;
}

#contentBox{
	margin-left:0px;
}
#suiteBar{
	display:none;
}
#footer{
	display:none!important;


}
#DeltaPlaceHolderPageTitleInTitleArea{
	display:none!important;
}
.hrDoc{
	display:none!important;

}
.Doc{
	border-top:4px Solid #c6c6c6;
}
#uploadDocumentButton{
	margin: 7px 7px 7px 6px;
	background:#3B4F65;	
	border:0;
	color:white;
	font-size:12px;
	font-family:Verdana;
	cursor:pointer;

}
#uploadDocumentButton:hover
{
	background:#3B4F65;	
	cursor:pointer;
}
#cancelButton{
	margin: 7px 7px 7px 6px;
	background:#3B4F65;	
	border:0;
	color:white;
	font-size:12px;
	font-family:Verdana;
	cursor:pointer;

}
#cancelButton:hover
{
	background:#3B4F65;	
	cursor:pointer;
}


#Ribbon.ListForm.Edit.Commit.Publish-Large{
	display:none !important;
}

.style1 {
	font-size: medium;
}
