﻿div.article, div.welcome {
    padding: 0px 0px!important;
}
#DeltaSuiteLinks
{
	display:none;
}
.FloatLeft
{
	float:left
}
.ms-webpart-chrome-vertical, .ms-webpart-cell-vertical {
display:block!important;
}
.ms-webpart-zone{
	float:left!important;
}
/***************MASTER PAGE COMPONENTS******************/
.hidden
{
display: none;
}
html, body {height: 100%;
}

.ms-webpartzone-cell{
	margin:0px!important;
	
}
body{font-size:11pt!important;font-weight:normal!important;}
.wrap {min-height: 100%;}
#main {padding-bottom: 180px; }  /* must be same height as the footer */
#box{width:auto!important;margin:auto 66px!important; padding-top: 0px;}
#box .wrapper{margin: 0;}
#footer 
{
	position: relative;
	margin-top: -180px; /* negative value of footer height */
	min-height: 180px;
	/*height:auto;*/
	clear:both;
	background:none repeat scroll 0% 0% #3a4d64;
} 
#middleConetntDiv
{
	/*display:none;*/
}
/*Opera Fix*/
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
/*display:block!important*/
}
#ctl00_PlaceHolderMain_ctl04__ControlWrapper_RichHtmlField p
{
 display:none;
}
/*******home page******/
/*****Top Conetnt Widget****/
.topConetntTabs
{
color: #3A4D64;font-weight: bold;font-family: 'Raleway', sans-serif !important;font-size: 11pt!important;	
}

.TopContentFileDate
{
 font-family:'Raleway', sans-serif!important;
 font-size:10pt!important;
 color:#777777!important;
 padding-bottom:2px;
}
.TopContentFileName
{
font-family:'Raleway', sans-serif!important;
 font-size:12pt!important;
 color:#222222!important;
  padding-bottom:3px;	
  margin:2px;
}
.TopContentLibraryName
{
	font-size:11pt!important;
 color:#777777!important;

}
div#metadata 
{
  display:none;
  min-width: 230px;

}
div.searchContent:hover div#metadata{
    border: #c0c0c0 1px dotted;
    display: block;
    z-index: 100;
    background: white;
    position: absolute;
    top: 120px;
    left:60px;
    text-decoration: none;
    
}
.arrow > img {
   position: relative;    
	margin-left:130px;
	bottom:190px
}
.social {
    background: none repeat scroll 0 0 #CCCCCC;
    float: left;
    width: 80%;
    padding:20px;
    z-index:999;
    position:relative;
    top:-150px;
}
.social span{
	/*width:10%;*/
	/*float:left;*/
}
.social.active{display:block !important;}

div.searchContent:hover {
    position: relative
}
div#metadata .metadatatitle
{
	float:left;
	clear:both;
}
.ui-tabs-anchor
{
	cursor:pointer!important;
}
/*****Home page page layout*********/
#WidgetContainer
{
	width:100%; overflow:hidden; 
}
#topAnnounceDiv
{
	width:100%;overflow:hidden; float:left;
}
#LeftTopContent
{
	width:64%;  float:left;/*margin:2px;*/margin-right:20px;
}
#tabs,#tabsTablet
{
	border:0 white; background:white;
}
.hrLatestContent
{
	color:gray; width:auto; margin-top:0;margin-left:2px;
}
.fragment
{
	display:block;
}
#RightAnnouncementsIphone
{
	width:90%;float:left;margin:2px;
}
#RightAnnouncements
{
	width:33%;/*margin:2px;*/float:right
}
#moreForTopandAnnounce
{
	width:100%;overflow:hidden; float:left;
}
#moreForTopandAnnounceIphone
{
	width:90%;overflow:hidden; float:left;
}
.leftHrDivTopContent
{
	width:64%;  float:left;/*margin:2px;*/position:relative
}
.rightHrDivAnnouncements
{
	width:33%;  float:right;/*margin:2px;*/position:relative
}
.moreConatinerIPhone
{
	width:100%;  float:right;margin:2px;position:relative
}
#featureSubscriptioPoll
{
	width:33%;overflow:hidden; float:left;/*margin:2px;*/overflow:hidden;
}
#featureSubscriptioPolTab
{
	width:100%;overflow:hidden; float:left;/*margin:2px;*/overflow:hidden
}
#featureSubscriptioPollIphone
{
	width:90%;overflow:hidden; float:left;margin:2px;overflow:hidden
}
#LeftFeaturedLinks
{
	 width:100%;float:left;background:#ebedef;margin-bottom:15px
}
#LeftSubscriptions
{
	margin-top:15px;width:100%;float:left; background:#ebedef; margin-bottom:15px
}
#LeftPoll
{
	margin-top:15px;width:100%;float:left; background:#ebedef; margin-bottom:15px
}
#news
{
	width:64%;overflow:hidden; float:right;/*margin:2px;*/ overflow:hidden;
}
#RightViacomNews
{
	float:right;width:100%;position:relative
}
.moreContainer
{
	float:right;width:100%;position:relative;/*margin-bottom:10px;*/
}
#RightExternalNews
{
	float:right;width:100%;position:relative
}
/***************************************************************************************************************/
/***************************TOP NAVIGATION, BANNER LINKS, BANNER BOOKMARKS, SUPPORT TAB, MS-HELP, SUITEBAR***********/
/****Top navigation main div******/
#TopNavigationSuiteBar
{
	display:table;
	width:100%;
}
#TopNavigation
{
    list-style: none!important;
    position:relative;
    font-family: 'Raleway', sans-serif!important; 
    font-size:12px;
    /*height: 30px;*/
    clear:both;
    /*display:table-cell;*/

}

    /*****div that contains header name and alink for header****/

    /****ulHeadNav:- outer most div: that displays name of the header***/
    .divHeadNav
    {
       font-family: 'Raleway', sans-serif!important;
       font-size: 11pt!important;
	  /* padding:9px 14px;*/
	   padding:10px;
	   /*font-weight:bold;*/
	   color:#FFFFFF!important; 
	   display:inline-block;
	   text-decoration:none!important;
       list-style:none; 
       float:left;
       margin-top: 4px;

    }
    .divHeadNav:hover .divCategoryNav
    {
	    border-top:4px #FA820E solid;	
 	    display:block;
 	    cursor:default;
    }
    .divHeadNav:hover .divCategoryNav:empty{
	    display:none;
    }
    .divHeadNav:hover .aHeaderName
    {	
     background-color:#EA8525!important;
     color:white!important;
    }

   
    .aHeaderName
    {
	    color:#FFFFFF!important;
	    text-decoration:none;
	    text-transform:uppercase;
		font-family: 
        font-size:12px;
        /*padding: 5px;*/
        padding:9px 6px;
        cursor:pointer;
    }
	


     /*****div that contains HOME  and alink for HOME****/
    .Home
    {

        font-family: 'Raleway', sans-serif!important;
        font-size: 10pt!important;
	    /*padding:9px 14px;*/
	    padding:10px;
	    /*font-weight:bold;*/
	    color:#DEE9F5; 
	    display:inline-block;
	    text-decoration:none!important;
        list-style:none; 
        float:left;
        /*margin-top:5px;*/
        margin-top:4px;
        padding-left: 0px;

    }
    .aHomeLink
    {
        color:#DEE9F5;
	    text-decoration:none;
	    text-transform:uppercase;
		font-family: 'Raleway', sans-serif!important;
        font-size:11pt;
        /*padding: 5px;*/
        padding:9px 6px;
    }


    .Home:hover .aHomeLink
    {	
     background-color:#EA8525!important;
    }

    /*******div that contains navigation links, visible when you hover on divHeadNav************/
   .divCategoryNav
    {
        display:none;
        font-family: 'Raleway', sans-serif!important;
        font-size: 13px;
        position:absolute;
        top:29px;
	    float:left;
	    text-align:left;
	    /*padding:20px;*/
	    
	    z-index: 999 !important;
	    background:#f1f1f1;
        clear:both;
	    width:105%!important; /**overflow:visible;**/
	    left: 20px;
	    /*overflow:hidden!important;*/
	    /*border-top:4px solid #black;*/
	   /* border:1px solid #777777;*/
	    margin-left:0;
	    border-top: 17px solid rgb(241, 241, 241)!important;
	    
	    border-bottom: 1px solid #777 !important;

       /*** background: #ECEDF1;***/
    }
    
   .divCategoryNav:empty
   {
	    display:none;
    }

	.OuterDivCategoryNav
	{
		/*overflow: hidden!important;*/
		width: 100% !important;		
		border-left: 1px solid #777;
		border-right:1px solid #777777;
	}
	.InnerDivCategoryNav
	{
		width:100%;
		overflow:auto!important;
		height:470px;
		border-top:3px solid #FA820E;
		padding-right: 20px!important;
		padding-bottom: 15px!important;
	}
   /***************Category*******************/
	#TopNavigation a
	{
	text-decoration:none;
	}
   #TopNavigation a.aHeaderName:hover,#TopNavigation a.aHeaderName:active,#TopNavigation a.aHeaderName:visited{
	    text-decoration:none!important;
	    color:#FFFFFF;
    }
    #TopNavigation a.aHomeLink:hover,#TopNavigation a.aHomeLink:active,#TopNavigation a.aHomeLink:visited{
	    text-decoration:none!important;
	    color:#FFFFFF;
    }

  #TopNavigation a.divHeadNav,#TopNavigation a.aHomeLink{color:#FFFFFF;}

    .ulCategoryNav
    {
	    
   /* padding: 0px 0px 10px !important;*/

	    padding-left: 9px;
  /*      padding: 0px 0px 10px !important;*/
	    
	    width:18%;
	   /* margin:0 30px 0 0; */
        list-style:none;        
        /*padding: 14px!important;*/
		margin: 0;
		display:inline-block;
		vertical-align:top
    }
  	.MusicandEntertainment .ulCategoryNav
	{
		padding-left: 9px;
	   
	    width:15%;
        list-style:none;        
		margin: 0;
		
		
	}
    .aCategoryNav
    {        
        text-transform:uppercase;
	   font-family: 'Raleway', sans-serif!important;
        font-size: 11pt!important;
        color:#777777!important;
        font-weight: bold; 
        margin-bottom:25px;
		line-height: normal;
		max-width: 207px;
		min-width: 100%;
/* padding: 20px; */
    }
.aCategoryNav a,.aCategoryNav a:visited
    {
      color:#868686!important;

    }
    .LinknameLI
    {
	           
        color:#3A4D64!important;
	    font-family: 'Raleway', sans-serif!important;
        font-size:11pt!important;
        font-weight:normal;
    }
    .LinknameLI:hover,.aResources:hover,.aBannerLinks:hover
    {
        color:#EA8525!important;
    }
    /*.liLinkNav:hover 
    {
	    background: #F4F4F4;
    }*/
     .liLinkNav
     {
        margin-bottom: 10px;
		line-height: 16px;
		max-width: 110px;
		min-width: 100%;		
		max-height: 44px;     
	  }

   
    .triangle 
    {
        width: 0; 
	    height: 0; 
	    border-left: 3px solid transparent;
	    border-right: 3px solid transparent;
	
	    border-top: 3px solid #DEE9F5;
	    position: absolute;

    }

    /*************links resources bookmarks************/
    /***dialog box z-index 1504****/
    #bannerLinksDiv
    {
        /**margin-top:14px;**/
        top:40px;
        margin-left:10px;
	   background: white;
        right:0;
	    width:850px;
	    position:absolute;
	    clear:both;
	    border-top:3px solid #EA8525;
	    max-width:850px!important;
	    z-index:999;
        font-size: 12px;
	    text-align:left;
	    /***padding:10px 5px 10px 10px;***/
	    padding:10px;
        font-family: 'Raleway', sans-serif!important;
	    text-align:left;
	    border:1px #ddd solid;	  	    
	    float:left;
	    margin-left:0;
	    border-top:4px #FA820E solid

    }
    #bannerResourcesDiv
    {
        /**margin-top:14px;**/
                top:40px;
	    /*background: #ECEDF1;*/
	    background: white;
        right:0;
	    width:auto;
	    position:absolute;
	    clear:both;
	    border-top:4px solid #EA8525;
	    z-index:9999999999;
        font-size: 13px;
	    text-align:left;
	    padding:20px;
        font-family: 'Raleway', sans-serif!important;
	    text-align:left;
	     border:1px #ddd solid;
	    border-top:4px solid #EA8525;
	    
	    float:left;
	    margin-left:0;


    }
    #bannerResources
    {
	padding-top:10px;
}
    #bannerLinks
    {
	    width:65%;
        float:left;
        border-right:1px #ddd solid;
        margin-right:20px;
    }
     #bannerBookmarks
     {

	    float:left;
	   width:30%;
    }
    .LinkSpan
    {
         color:#FFFFFF;
         text-decoration:none;    
         /*font-weight:bold;*/
         font-weight:normal;
         font-size:11pt!important;
         cursor:pointer;
         text-transform:uppercase;
	    font-family: 'Raleway', sans-serif!important;
         padding: 9px 6px;
    }
    #links-container:hover a#LinkSpan{
    color:black;
    }
    #links-container:hover .LinkSpan,#resources-container:hover .LinkSpan
    {
	  background-color:#6b7a8b!important;
    }
	/*.ms-core-menu-root
	{
		color:#ccccff!important
	}*/
    #links-container
    {
	    list-style: none!important;
	    position:relative;
        float:right;
        font-family: 'Raleway', sans-serif!important;
        font-size: 12px;
	    padding:9px 14px;
	    font-weight:bold;
	    /***color:#DEE9F5; ***/
	    text-decoration:none!important;
        list-style:none; 
        margin-top: 5px;
    }
    .ulBannerLinks,.ulRecources
    {
        padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    /*float:left;*/
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0----for ulRecources**/
    }
    .ulBannerLinks
    {
	margin-right:30px;
	display:inline-block;
	clear:both;
	vertical-align:top
}
    .pUlBannerLink
    {
        text-transform:uppercase;
	   font-family: 'Raleway', sans-serif!important;
        font-size: 12px;
        color:#868686!important;
        font-weight: bold; 
        margin-bottom:25px;

    /* color:#EA8525!important;padding:0 0 10px 0;margin:0!important;text-transform:uppercase;font-weight:bold;**/       
    }


    #resources-container
    {
        list-style: none!important;
	    position:relative;
        float:right;
        font-family: 'Raleway', sans-serif!important;
        font-size: 12px;
	    padding-bottom:10px;
	    padding-top:10px;
	    padding-right:5px;
	    font-weight:bold;
	    color:#DEE9F5; 
	    text-decoration:none!important;
        width:auto;
        margin-top: 4px;
    }
        
    #support-container
    {

	    position:relative;
        float:right;
        font-family: 'Raleway', sans-serif!important;
        font-size: 12pt;
	    padding:10px 3px 10px 10px;
	    /*font-weight:bold;*/
	    color:#ccccff; 
	    text-decoration:none!important;
        width:auto;
        margin-top: 5px;
    }
     #support-container a
    {
         color:#ccccff;
         text-decoration:none;    
        /* font-weight:bold;*/
         font-size:11pt!important;
         cursor:pointer;
         text-transform:uppercase;
	     font-family: 'Raleway', sans-serif!important;
         padding: 5px;
         background-color:#6A7B8B;
    }
      #support-container a:hover
      {
          color:#ea8525;
      }
    .liBannerLinks
    { 
      margin-bottom:20px;   
    }
    .liResources
    {padding-bottom:20px;
     white-space:nowrap;
     font-size:11pt;
    }
    
    .aBannerLinks,.aResources{
        color:#536173!important;
	    font-family: 'Raleway', sans-serif!important;
        font-size:12px;
        font-weight:normal;
        }
    .BannerLinkUL
    {padding-bottom:12px;}

    .aBannerLinks:hover .aBannerLinks
    {
        color:silver;
    }
    /****support tab****/
    .supportTabSpan
     {
        display: inline-block;
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0px 7px 0px 11px;
        border-right: 1px solid transparent;
        background-clip: padding-box;
    }
    /****bookmarks******/
    .DivBookmarkGroup
    {
	 margin-bottom:5px;
	 padding:2px;
	}
	.bookmarkName
	{
		font-family: 'Raleway', sans-serif!important;
        font-size: 12px;
        color: #868686 !important;
        margin-bottom:10px;

	}
	.liBookmarkGroup:hover
	{
	 background:#f7f7f7;
	}
    .ulBookmarHead
    {
       padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0**/
    }
    .pBookmarkHead
    {
        text-transform:uppercase;
	    font-family: 'Raleway', sans-serif!important;
        font-size: 12px;
        color: #868686 !important;
        font-weight: bold; 
        margin-bottom:20px;

    /*padding:0 0 5px 0!important;margin:0!important**/
    }
         
   
    .liAddBookmark
    {
	 margin-bottom:5px;
        font-weight:normal;
        clear:both;
        color:#696969!important;
	    font-family: 'Raleway', sans-serif!important;
        font-size:12px;
    }
  .aAddBookmark
  {
    cursor:pointer;
    color:#198FAF!important;
    font-weight:normal;
    margin-bottom:20px;
  }
  .aBookmarkGroup
  {
	cursor:pointer;font-size:12pt;color:#536173;
	font-weight:normal;
	font-family:'Raleway', sans-serif;
}
 #BookmarHead li a
{
     cursor:pointer;
	color:#536173;;
	font-weight:normal;

}
.aBookmarkEdit
{
cursor:pointer;margin-right:10px;	
}
.aBookmarkDelete
{
	
}
  #ms-help
  {
      display:none;
  }
/***BANNER LINKS***/
#signInAs
{
	list-style: none!important;
	height:35px !important;
	/* Rounded Corners */	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#3B4F65;
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
	position:relative;
}
.ms-srchnav-item
{
	padding-right:15px;
}
/****search***/
.styled-select {
  /* width: 240px;*/
   /*height: 34px;*/
   overflow: hidden;
   /*background: url(/images/Icon-DownArrow.png) no-repeat right white!important;*/
  /** border: 1px solid #ccc;*/
  display:table-cell;
   }
.styled-select select {
   background: transparent;
  /* width: 268px;*/
  	/*padding-top: 5px;*/
  margin-top:0;
   border: 0;
   border-radius: 0;
   /*height: 34px;*/
   -webkit-appearance: none;
   }
.ms-srchnav-list
{
	font-size: 8.5px;
vertical-align: middle;

}
#ctl00_PlaceHolderSearchArea_g_81e90696_f647_491d_8355_964c2757a26a_SRCHNAV
{
	margin-top:5px;
}
#searchInputBox

{
	margin-top:15px;
	float:left;
	margin-left: 150px;
	display: table;
	width:550px;
}
#SearchBox
{
	/*margin-right:20px;*/
}
#LexisNexisOuterSearchBox
{
 display:table-cell;
 margin-left:30px;

}
#LexisNexisInnerSearchBox
{
	 display:table;
}
#LexisDropDown
{
	display:table-cell;
}
#companyRadio,#tickerRadio
{ font-family:'Raleway', sans-serif!important;
font-size:12px!important;
vertical-align:top;
color:#777;
}
#lxselect
{
	margin-right:10px;
}
#searchImg
{
	vertical-align: middle;
}
#LexisEnterText
{
border: 2px solid #2CB6C0;
float:left;	
}
#searchkey
{
	border:0;
	height:19px;
}

#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sboxdiv
{	width: 457px;
	height:31px;
	border: 1px solid #1999c0;
	margin-right:15px;
	/*position: absolute;
	left: 300px;*/	
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sbox
{
	width:88%;
	height: 31px;
}
/***featured content background***/
/*#scriptWPQ3
{
 background:#F1F2F5;
}*/
*/
/**tabs/***/
.ui-widget-header{
background:gray;
}

/***accordian featured links***/
#accordion {
    list-style: none;
   /* padding:20px;*/padding-left:8px

}
#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion ul{
    display: none;
}
#accordion a {
    text-decoration: none;
}
#accordion a:hover {
    text-decoration: underline;
}
.accordianFeatureLinksLi
{
margin-bottom:10px;	
}
.divFeatureLinkGroupName
{
	padding-top:5px;font-family:'Raleway', sans-serif;
	font-size:14px;
	display: block;
    font-weight: bold;
    margin: 1px;
    cursor: pointer;
    padding: 5 5 5 7px;
    list-style: circle;
    color:#222222;
}
.ulFeatureLink
{
	margin-left:10px;
}
.liFeatureLink
{
	padding-bottom:10px;margin-left:15px;
	margin-top:10px;
	font-weight: normal;
    cursor: auto;
    padding: 0 0 0 7px;
}
.aFeatureLink
{
	font-family:'Raleway', sans-serif;color:#48494B!important;/**#78797A**/
	font-size:13px;
}
/**---------------------**accordian featured links end ***------------------------------------*/
#s4-titlerow
{
margin: auto 66px;/**t r b l**/
height: auto;
}
#s4-bodyContainer
{
 padding-bottom:0;
 margin-bottom:15px;
}
#middleConetntDiv
{
/**margin:10px 20px 20px 20px;**/
float:right;
width:80%;
}
#megaMenuDiv
{
 padding-bottom:50px;/**margin:0 20px 0 20px;**/
}
#DeltaPlaceHolderPageTitleInTitleArea
{
	text-transform:uppercase;
	font-family: 'Raleway', sans-serif!important;
	font-size:15px;
	color:#262626;
	font-weight:200;
	padding:0;
	margin:0;
}
#sideNavBox 
{
 /**margin-left:25px!important;**/
 /*width:100%;*/
	margin:0px;
 margin-right:2%;
}
#box
{
  width:100%;
/*  margin:auto;**/
/**margin:10px 20px 10px 20px;**/
}
#leftContentDiv
{
	width:18%;
	float: left;
}
 /****LEFT NAVIGATION ************/
 .ms-core-listMenu-item {
  /*  background-color: #ECEDF1 !important;*/
 
}
 
li.selected
 {
	/*background:red;*/
}
	#s4-leftpanel-content{
background-color:red!important;
}
/****left nav****/
.ms-core-listMenu-verticalBox
{
	background:#EBEDEF;
	/*font-weight:bold;*/
	/* border-bottom:3px #DDDDDD solid; */
	font-family:'Raleway', sans-serif!important;
	font-size:13px!important;
	color:#EBEDEF!important;
	
}
div.ms-core-listMenu-verticalBox > a{
	display:none!important;
}

.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item
{
	color:#222222!important;
	font-size:12pt!important;
	font-family:'Raleway', sans-serif!important;

}
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item
{
	color:#444444!important;
	font-size:12pt

}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li.selected  > .ms-core-listMenu-item
{
	background-color:#b9bbbd!important;

}
.ms-core-listMenu-verticalBox li.static > ul.selected  > li.selected  > .ms-core-listMenu-item
{
	background-color:#b9bbbd!important;
}

.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected,.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:hover
{
	background:#B9BBBD;/**#B9BBBE;**/
	border-left:8px #FA820E solid;
	padding-left: 12px;
}
.homeHeader
{
	background-color:#DDDDDD;padding:10px 0 10px 0px; font-size:17pt; font-weight:100; margin-bottom:15px;
	float:left;width:100%;
	font-family: 'Raleway', sans-serif!important;
	color:#3a4d64; text-indent: 15px;
}
.pageHeader
{
	background-color:#DDDDDD;padding:10px 0 10px 5px; font-size:18pt; font-weight:100; margin-bottom:15px;
	width:100%;
	font-family: 'Raleway', sans-serif!important;
	text-align:left;color:#536173;
}
.pageNameHeader
{
	font-size:22px; font-weight:400; 
	width:100%;
	font-family: 'Raleway', sans-serif!important;
	text-align:left;color:#536173;
	height:25px;
	margin-bottom: 3px;
}

#titleAreaBox
{
	margin:0px;
}
/***********library vieww****/
/****display none for article div from page layout***/
/**div.article
{
	display:none;
}**/
#dvDocuments
{
	padding-left:0px;clear:both;
}
.clsdocLib
{
	font-size:16px;font-weight:bold;color:#1C86CF;
	text-align:left;width:21%;margin: 0 2%;padding-bottom:38px;
	display:inline-block; vertical-align: top;

}
.#my_Vote
{
	color:#DDDDDD;background:#DDDDDD;height:4px;border:0px;
	margin-bottom:15px;
}
.clsLibName
{
border-bottom:1px #CFCFCF solid;padding-bottom:10px;padding-left:5px;	
font-size:16px;
font-family:'Raleway', sans-serif; font-weight: normal; white-space: pre; text-overflow: ellipsis; overflow: hidden; word-wrap: normal;
}
.clsLibName,.clsLibName 
{
color:#008bbb;/***#1C86CF;**/
}
.clsdocLibDetails
{
	padding-top:10px;padding-left:5px; font-size:13px;font-weight:normal;color:black;width:72%;float:left;
}
.clsdocLibImg
{
	padding-top:10px;padding-right:5px;float:left;
}
.spanCount
{
	color:#008bbb;/**#1C86CF;**//*font-weight:bold;*/

}
.spanTitle
{
color:#222222;
}
.spanText
{color:#777777;
}

/*********Top nav, Links, resources , bookmarks, support, login name************/
 #suiteBarLeft    {
        background:#3a4d64!important;
    }
#suiteBarRight   {
     /*   background:#3a4d64!important;*/
     font-size:12pt
    }

   
  /*****************FOOTER LINKS*******************/
  /**FOOTER***/
#FooterLinkUL/**#footerLinks ul **/
{
 color:white!important;
 width:15%;


}
a.FooterLinkLI 
{
 color:#FFFFFF;/**#E6E6E6;**/
 text-transform:none;
  text-decoration:none;
 font-weight:normal;
  padding-bottom:0;
  cursor:pointer;
  padding:2px;
    font-family: 'Raleway', sans-serif!important;
    font-size:15pt;
    font-weight:normal;
}
a.FooterLinkLI:hover
{
	color:orange;
}
/*li.BannerLinkLI 
{
 color:black;
 text-transform:none;
 font-weight:normal;
  padding-bottom:0;
  cursor:pointer;
  padding:2px;
  font-size:13px;
  
  font-family:Arial, Helvetica, sans-serif;


}*/
.ms-webpart-chrome
{
	width:100%!important;
}
#footerLinks
{
	
	margin:auto 66px; 
	overflow:hidden;
	
}
  .ulFooterLinks
  {
	 padding-left: 0;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 30px 0 0;
        list-style:none;
}
.pUlFooterLinks
{

	cursor:default;	
		text-transform:uppercase;
	   font-family: 'Raleway', sans-serif!important;
        font-size: 15pt;
        font-weight: bold; 
        margin-bottom:25px;
         color:#FFFFFF;
	    
}
/*******content feed****/
.divContentCategory
{
	display: block;
	font-weight: bold;
	cursor: pointer;
	list-style:none;
	padding: 20px;
}
.ContentCategoryRefinerLI
{
	margin-left:5px;
	display: inline;
	font-family: 'Raleway', sans-serif!important;
	font-size:13px;
	
	padding-bottom:10px;
	font-weight: normal;
    cursor: auto;
    margin-top:10px;
}
.aContentCategoryRefinerLI
{
	font-family:'Raleway', sans-serif;color:#48494B!important;/**#78797A**/
	font-size:11pt;

}
.ContentCategoryRefinerDIV
{
	margin-bottom:10px;
}
/*******************Announcements******************/
.pTdAnnouncements
{
	cursor:pointer; color:#008bbb;font-size: 18px!important;/***2CB6C0**/
	display: inline;margin:0;

}
.pAnnouncementSourceSite
{
	font-family: 'Raleway', sans-serif!important;
	font-weight:normal;color:#777777;font-size:10pt;margin:0;
	padding:5px 0 5px 0;
	}
.pAnnouncementDesc
{
	font-family: 'Raleway', sans-serif!important;
	font-size:12px!important;display: inline;
	color:#222222;font-size:15px!important
}
.ms-rtestate-field p, p.ms-rteElement-P 
{
	margin:0px
}
/*******Subscriptions****/
#mySubscriptionContainer
{
	 padding:20px;
}
.aSubscription  
{
	font-family:'Raleway', sans-serif;color:#48494B!important;/**#78797A**/
	font-size:13px;

}
.trSubscription
{
		background:#ECEDF1;
	padding-bottom:10px;
	margin-top:10px;
	font-weight: normal;
    cursor: auto;
}
.hrDoc
{
	color:#DDDDDD;background:#DDDDDD;height:4px;border:0px;
	margin-bottom:30px;
}

/****refinement panel search center results****/
.ms-ref-refinername
{
	color: #3a4d64!important;font-family: 'Raleway', sans-serif !important;font-size: 13px!important;
}
.ms-srch-hover-actions
{
	 background:#3B4F65!important;
	padding: 12px 20px;
}
.ms-calloutLink
{
	text-decoration:none!important;
	    color:#DEE9F5!important;

}
.searchHoverData
{
	color:#939393;
	 font-size:11px;
}
.searchHoverDataConatiner
{
	margin-bottom:5px;
	font-size:12px;
	font-family:'Raleway', sans-serif;
	margin-top:2px;
}
.highlightedSummary
{
	font-size:12px;
	font-family:'Raleway', sans-serif;
	margin-top:2px;

}
.cbs-TopConetntWidget div
{
	/*height:150px!important;
	vertical-align:top!important;*/
}
.mega-dropdown-menu:after {
content: "";
border-bottom: 19px solid #FA820E;
border-right: 21px solid transparent;
border-left: 21px solid transparent;
position: absolute;
top: -19px;

z-index: 8;
}
.mega-dropdown-menu:before {
content: "";
border-bottom: 19px solid #f1f1f1;
border-right: 19px solid transparent;
border-left: 19px solid transparent;
position: absolute;
top: -15px;

z-index: 10;
}

.resourcemega-dropdown-menu:before {
content: "";
border-bottom: 15px solid #FFFFFF;
border-right: 17px solid transparent;
border-left: 17px solid transparent;
position: absolute;
top: -15px;
right: 18px;
z-index: 10;
}


.resourcemega-dropdown-menu:after {
content: "";
border-bottom: 17px solid #EA8525;
border-right: 19px solid transparent;
border-left: 20px solid transparent;
position: absolute;
top: -19px;
right: 16px;
z-index: 8;
}
.MusicandEntertainment:after {
    /*content: "";
    border-right: 21px solid transparent;
    border-left: 21px solid transparent;
    position: absolute;
    top: -19px;*/
    left: 150px;
    /*z-index: 8;
    border-bottom: 17px solid #FA820E;*/
}
.MusicandEntertainment:before {
    left: 150px;
}
.Nickelodeon:after {    
    left: 320px;
}
.Nickelodeon:before {
    left: 320px;
}
.International:after {
    left: 450px;
}
.International:before {
    left: 450px;
}
.CorporateReports:after {
    left: 630px;
}
.CorporateReports:before {
    left: 630px;
}

.EditExpiryDate
{
	vertical-align: top;
margin-left: 10px;
cursor:pointer;
}

/****External sharing***/
.floatLeft
{
	float:left;
}
.clearBoth
{
	clear:both;
overflow: hidden;
}
.Width15
{
 width:15%;	
}
.Width10
{
 width:10%;	
}
.header
{
	color: #777;font-size:11px
}
.ms-srchnav-link
{
	color:#7777777;
	font-size: 14px;
}
.ms-srchnav-link-selected{font-size: 14px;}

h2, h3, .ms-h2, .ms-h3, .ms-headerFont
{
	font-family: "Raleway",sans-serif;
}

#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sboxdiv .ms-srch-sb-searchLink{float: right; margin-top: 4px;}

.ulFooterLinks{width: 20%; margin: 0;}
#upViacomNews .dvSeperator {border-bottom: 1px solid #ddd;}
.ui-tabs{padding: 0;}
.ui-tabs .ui-tabs-nav li a {margin-right: 0 !important; padding-right: 0 !important;}
.ui-tabs .ui-tabs-nav li{margin-right: 20px;}
#leftContentDiv #sideNavBox{width: 100%;}
#leftContentDiv .ms-core-sideNavBox-removeLeftMargin{margin-left: 0;}
#middleConetntDiv .welcome-content{margin: 0;}
#middleConetntDiv .cell-margin{margin-top: 0;}

#Announcetable img {height: 80px;  margin: 0 15px; width: 80px;}
.ms-welcome-root{height: 36px; line-height: 36px;}

.lx-sb-searchLink{float: right; margin: 4px 2px 0 0; height: 20px; overflow: hidden; position: relative;  width: 20px;}
.lx-input { border: 1px solid #1999c0;  width: 235px;}
.lx-input input[type="text"]{  border: 0; height: 30px;  padding: 0 10px; outline: 0!important; width: 175px; }

.ms-dlg-heading, h2.ms-dlg-heading{color: #0072c6; font-size: 17px; font-family: "Raleway",sans-serif;}
.ms-srch-hover-actions .ms-calloutLink:link{font-size: 12px; font-family: "Raleway",sans-serif; color: #fff!important; }
.ms-srch-hover-content{background: #f1f1f1;}
.ms-srch-hover-arrow{border-right-color: #f1f1f1;}
.ms-srch-hover-content .ms-soften,.ms-srch-hover-content .ms-soften:link,.ms-srch-hover-content a.ms-soften:visited,.ms-srch-hover-content .ms-soften:hover,.ms-srch-hover-content .ms-soften:active { color: #222; font-size: 15px;}
.ms-srch-hover-content .ms-srch-hover-text,.ms-srch-hover-content .ms-srch-hover-text a{color: #777;}

/*.ms-srch-hover-content .ms-srch-hover-actions .ms-srch-hover-action:nth-child(3){display: none;}*/
.ms-srch-hover-content .ms-srch-hover-action{padding-top: 0;}
.ms-srch-ellipsis{font-size: 16px;}
.ms-srch-item-path,.ms-srch-item-summary{font-size: 14px;}
.ms-srch-item-summary{color: #222; margin-bottom: 3px;}
.ms-ref-unselSec,.ms-ref-allSec,.ms-ref-selSec {padding-left: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.ms-ref-unselSec a{font-size: 13px!important; color: #666;}
.ms-ref-refiner #Value{padding: 4px 0}
#Refinement .ms-ref-uparrow,#Refinement  .ms-ref-downarrow{display: inline-block!important; vertical-align: middle; float: left; margin-top: 0;}
.ms-core-navigation{font-size: 13px;}
#Refinement .ms-ref-uparrow{background: none; border-left: 4px solid transparent; border-right: 4px solid transparent;  border-top: 4px solid #3a4d64; margin-right: 5px; height: 0; width: 0; margin-top: 5px;}
#Refinement .ms-ref-downarrow{background: none; border-bottom: 4px solid transparent; border-left: 4px solid #3a4d64; border-top: 4px solid transparent; margin-right: 5px; height: 0; width: 0; margin-top: 5px;}
.ms-ref-refiner #Container{padding-bottom: 10px;}
#Refinement .ms-core-listMenu-selected:before {content: "";  left: 0;  position: absolute;  top: 6px;  z-index: 99; background: url(../../SiteAssets/images/icon6.png) no-repeat 0 0; width: 13px; height: 11px; float: left;}
#Refinement .ms-core-listMenu-selected{color: #666;}
.ms-ref-selSec{position: relative;}
.ms-srch-upscope-top{display: none!important;}
.top-content-img img{width: 100% !important; height: 125px !important;}

.ms-searchCenter-result-main{width: 100%;}
.ms-searchCenter-result-main .heading-bg{  width: 98%; padding: 10px 1%;}
.left-sidebar .ms-core-sideNavBox-removeLeftMargin{margin-left: 0;}
.left-sidebar .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item{ padding: 0px 20px;}
.wrapper .wrapper{margin: 0;}
.ms-promlink-button-image{margin-left: -5px; top: -4px;}
li > a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, li > a.ms-core-listMenu-item:hover, li > a.ms-core-listMenu-item:active{background: none;}
#ultabs.tab-items{margin-top: 0;}
.ms-srch-result { margin-top: 0;}
div.ms-srch-video-playbutton-result {bottom: 50%;  right: 50%;  margin: 0px -12px -12px 0!important;}
.ms-srch-video-playbutton > span{margin: 5px 0px 0px 8px;}
.tab-items li.active {border-bottom: 6px solid #fa820e!important;}

#searchInputBox #verticalSearch{display: none;}
#searchInputBox.search-on-searchcenter #verticalSearch{display: block;}
.mid-container .cell-margin{margin: 0;}
.mid-container .welcome-content{margin: 0;}
.mega-menu > li.header-selected-menu > a {background: #ea8525;}
.body-container{min-height: 100%; min-height: calc(100% - 160px);}
.refiner-block{margin-top: 10px;}
.ms-ref-refiner #Value .ms-ref-name{max-width: 85%; font-size: 13px;}

.search-mid .search-on-searchcenter {margin-left: 80px; margin-top: -80px; padding-bottom: 80px;}
.search-mid .search-on-searchcenter .ms-srchnav-list { float: left;  margin: 5px 0;  width: 100%;}
.search-mid .search-on-searchcenter .ms-srch-sbLarge > input{font-size: 16px;}
.ms-srch-people-item #UserInfoContainer{width: 375px;}
.news-box h3{line-height: 20px;}
.news-box h3 a{line-height: 20px;}
#NewsLoading {left: 50%;  margin-left: -30px; position: absolute;  top: 150px;  width: 60px;}
.viacom-news{position: relative;}
.news-content img {margin-right: 15px;}
.mid-container .ms-rte-embedil{display: block;}
.mid-container .tableCol-75,.mid-container .tableCol-25{display: block;}
.bookmark-box h4{font-weight: bold;}
.manage-bookmark-container .bookmark-box h4 .toggle-arrow {margin-top: 7px;}
body{font-family: 'Raleway', sans-serif!important;}
.validate{font-family: 'Raleway', sans-serif;   width: 100%;  float: left;  font-size: 14px;  margin-bottom: 10px;  line-height: 18px;}
.ui-button-text-only .ui-button-text {padding: 6px 16px; font-family: 'Raleway', sans-serif;} 
.dialog-alert,#dialog-add-doc,#dialog,#dialog-del,#edit-group,#group-del,#dialog-add{display: none;}

#ViacomNewsRSSFeed{float: left; width: 100%;}
#ViacomNewsRSSFeed > tbody > tr > td {width: 50%;}
.ui-widget-header .ui-icon {background: #fff url(../images/ui-icons_ef8c08_256x240.png) no-repeat -96px -128px !important;}