@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:1390px) {
	.mega-menu-container{font-size: 14px;}
	.mega-menu > li > a{padding: 3px 5px;}
	.mega-menu > li.has-dropdown > a > span{border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 3px solid #fff;}
}


@media only screen and (max-width:1200px) {
	.submenu-level1{width: 100%;}
	.mega-menu-container{position: relative;}	
	.submenu-level1{padding: 0;}
	.submenu-level1 > ul {width: 30%; border-right: 2px solid #ea8525; min-height: 450px; }
	.submenu-level2{left: 30%; min-width: 0; width: 70%; border: 0; top: 0; }
	.mega-menu > li{position: static;}
}

/* iPad Landscape */
@media only screen and (max-width: 1024px) {
	body{background: url(../images/bg-tablet.jpg) repeat 0 0;}	
	.wrapper{margin: 0 15px;}
	.left-top-content,.right-top-content,.left-bottom-content,.right-bottom-content{width: 100%;}
	.tab-items li{border-bottom: 6px solid transparent}
	.heading-bg{background: none;}
	.featured-links,.my-subscriptions,.poll-box{background: none;}
	.hidden-desktop{display: block;}
	.hidden-tablet{display: none;}
	.header-search input[type="text"]{background: none;}
	.header-menu{display: none;}
	.header{border-bottom: 1px solid #767676; padding: 15px 0;  -webkit-box-shadow: 0 1px 0 0 #ccc; -moz-box-shadow: 0 1px 0 0 #ccc; box-shadow: 0 1px 0 0 #ccc;}
	.header-search{float: right; margin-top: 0;}
	.search-options{display: none;}
	.mobile-toggle{display: block;}
	.mobile-menu-container{display: block;}
	.header-logo{margin-top: 0;}
	.left-sidebar{display: none;}
	.mid-container{width: 100%; border: 0; margin-top: 10px;}
	.mid-container .content-padding{padding: 0;}
	.page-title{border: 0;}
	.content-overlay{display: none!important;}
	.mid-container .heading-bg{padding-left: 0;}	
	.header-logo img {max-height: 33px;}
	.document-box{width: 50%;}
	.content-result-block.content-result-block-full{width: 100%;}
	.content-result{padding-right: 0;}
	.my-subscriptions,.poll-box{padding: 20px 15px;}
	.left-sidebar, .mid-container{min-height: 0!important;}
	
	
}

/* iPad Portrait */
@media only screen and (max-width:992px) {
	
}

/* iPhone Landscape */	
@media only screen and (max-width:767px) {
	.mega-toggle-nav{display: inline;}
	.mega-menu{float: left; width: 100%;}
	.mega-menu > li{width: 100%;}
	.submenu-level1{position: static; min-height: 0; float: left; }
	.submenu-level1 > ul{width: 100%; min-height: 0;}
	.submenu-level2{position: static; width: 100%; min-width: 0px!important; min-height: 0!important;}
	.submenu-level2 > ul{width: 100%!important;}
	.mega-menu > li > a{width: 100%;}
	.mega-menu-inner {border-top: 1px solid #fff; float: left; width: 100%;}
	.footer .footer-links{width: 100%; margin-bottom: 20px;}
	.viacom-news td{display: block;}
	.mid-container{margin-bottom: 0;}
	.mid-container .external-news-refiner{display: none;}
	.mid-container .external-news-results{width: 100%; border: 0; padding: 0;}
	.mid-container .external-news-img{width: 25%;}
	.mid-container .external-news-box{margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #ccc;}
	.mid-container .external-news-box h3 a {color: #222; font-size: 14px; font-weight: 700;}
	.mid-container .external-news-box {color: #444;  font-size: 13px;  line-height: 16px;}
	.mid-container .external-news-box .date{font-size: 11px; line-height: 11px;}	
	.top-content-list li{width: 50%;}	
	.table-responsive{float: left; width: 100%; overflow-x: auto; padding-bottom: 15px;}
	.table-responsive > table, .table-responsive > div {width: 650px;}
	.doc-filter-options ul li{margin-bottom: 10px;}
	.title-mobile{color: #fff; font-size: 18px; text-align: center; }
	.footer .footer-links a{font-size: 14px;}
	.header-mobile{display: block;}
	.hide-mobile{display: none;}
	.mid-container .refiner-block{display: none;}
	.mid-container .content-result-block{width: 100%;}
	.refiner-heading{display: block;}
	.tab-items{display: none;}
	.content-result{border-bottom: 1px solid #ccc; margin-bottom: 12px; padding-bottom: 12px;}
	.content-result h3 a {color: #222;  font-size: 14px; font-weight: 700;}
	.content-result{font-size: 13px; line-height: 16px;}
	.heading-bg{font-size: 18px;}
	.page-title h3{font-size: 18px;}
	.shared-user-details{margin-top: 5px;}
	.news-box{padding-right: 0;}
	.bookmark-box{width: 48%;}
}		


@media only screen and (max-width:600px){
	.ui-dialog.ui-widget {left: 2% !important; padding: 0 !important; width: 96% !important;}		
}


/* iPhone Portrait */				
@media only screen and (max-width:479px){
	.document-box {width: 100%;}
	.bookmark-box{width: 98%;}
}	

@media only screen and (max-width: 360px){	
	.top-content-list li{width: 100%;}
}