﻿@charset "utf-8";
/* CSS Document */

*{padding: 0; margin: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}

.mega-menu-container{font-family: 'Raleway', sans-serif; background: #3a4d64; float: left; width: 100%; font-size: 14px; padding: 0 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; }
.mega-menu{float: left;}
.mega-menu *{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.mega-menu > li{float: left; position: relative;}
.mega-menu > li > a{color: #fff; text-transform: uppercase; padding: 3px 10px; line-height: 30px; float: left; }
.mega-menu > li:hover > a{background: #ea8525}
.mega-menu a{text-decoration: none!important}
.pull-right{float: right!important;}
.mega-menu > li.has-dropdown > a > span{border-left: 5px solid transparent;  border-right: 5px solid transparent;  border-top: 5px solid #fff;  height: 0; width: 0; margin: 0 0 0 3px; display: inline-block; vertical-align: middle;  }

.has-dropdown > a:after{content: ""; border-left: 7px solid transparent;  border-right: 7px solid transparent;  border-bottom: 7px solid #fff; position: absolute; bottom: -2px; left: 50%; margin-left: -4px; z-index: 9999; display: none; }


.submenu-level1{position: absolute; left: 0; top: 100%; z-index: 999; width: 250px; background: #fff; border: 2px solid #ea8525; min-height: 450px; /*display: none;*/
-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
-moz-box-shadow:    0 2px 4px 0 rgba(0, 0, 0, 0.13);
box-shadow:         0 2px 4px 0 rgba(0, 0, 0, 0.13);
visibility:hidden;
}
.mega-menu.pull-right .submenu-level1{left: auto; right: 0;}
.submenu-level1 > ul{padding: 5px 0;}
.submenu-level1 > ul> li > a{text-transform: uppercase; display: block; padding: 5px 15px 5px 10px; position: relative; font-weight: 700; line-height: 18px;}
.submenu-level1 a{color: #3a4d64;}
.submenu-level1 h4{padding: 10px; margin: 5px 0;font-weight:bold;font-size:18px;}
.submenu-level1 > ul> li:hover > a{background: #ea8525; color: #fff;}
.mega-menu > li:hover .submenu-level1{display: block !important;}
.mega-menu > .has-dropdown:hover > a:after{display: block;}

.submenu-level1 > ul > li > a:after {content: "\203A"; float: right; font-size: 20px; line-height: 24px; margin-top: -14px; position: absolute; right: 5px; top: 50%;}
.submenu-level1 > ul > li.has-no-dropdown > a:after{display: none;}
.submenu-level2{position: absolute; top: -2px; left: 100%; z-index: 999; background: #fff; border: 2px solid #ea8525; padding: 10px 15px; min-width: 504px; min-height: 450px; /*display: none;*/ -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
-moz-box-shadow:    0 2px 4px 0 rgba(0, 0, 0, 0.13);
box-shadow:         0 2px 4px 0 rgba(0, 0, 0, 0.13);}
.submenu-level2.submenu-col1{width: auto; min-width: 250px;}
.submenu-level2.submenu-col1 > ul {width: 100%;}
.submenu-level2.submenu-col2{min-width: 504px;}
.submenu-level2.submenu-col3{width: auto; min-width: 700px;}
.submenu-level2.submenu-col3 > ul {width: 32.3%;}
.submenu-level2.submenu-col4{width: auto; min-width: 900px;}
.submenu-level2.submenu-col4 > ul {width: 25%;}
.submenu-level2.submenu-col5{width: auto; min-width: 1100px;}
.submenu-level2.submenu-col5 > ul {width: 20%;}

.mega-menu.pull-right .submenu-level2{left: auto; right: 100%;}
.submenu-level2 > ul{display: inline-block; vertical-align: top; width: 49%; padding-right: 15px;}
.submenu-level2 > ul > li{display: block; float: left; width: 100%; padding: 0 0 6px; }
.submenu-level2 a {color: #3a4d64; font-size: 15px; line-height: 22px;}
.submenu-level2 a:hover{color: #ea8525;}
.submenu-level1 > ul> li:hover .submenu-level2{display: block !important;}

.mega-toggle-nav{width: 30px; float: left; margin: 10px 0; display: none; }
.mega-toggle-nav > span{background: #fff; width: 100%; float: left; height: 2px; margin: 3px 0;}

.link-dropdown{position: absolute; float: left; right: 0; top: 100%; width: 500px; min-height: 300px; z-index: 999; font-size: 14px; background: #fff; border: 2px solid #ea8525; padding: 10px 10px; display: none; -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
-moz-box-shadow:    0 2px 4px 0 rgba(0, 0, 0, 0.13);
box-shadow:         0 2px 4px 0 rgba(0, 0, 0, 0.13);}
.quicklink-container{float: left; width: 100%; /*min-height: 300px;*/line-height: 18px;}
.quicklink-container > ul{display: inline-block; width: 49%; vertical-align: top; margin-bottom: 20px; }
.quicklink-container > ul h4{color: #3a4d64;  margin: 0 0 5px; font-size: 14px; }

.quicklink-container > ul li{display: block; padding: 2px 0;}
.quicklink-container > ul a{color: #3a4d64;}
.quicklink-container > ul a:hover{color: #ea8525;}

.bookmark-container {padding: 0 10px 35px;line-height: 18px; width: 700px; min-height: 300px;  }
.bookmark-container ul{margin: 0 0 10px 0;}
.bookmark-container > ul li{display: block; padding: 5px 0;}
.bookmark-container > ul a{color: #3a4d64; display: inline!important; padding: 0!important }
.bookmark-container > ul a img{width: 13px; margin: 0px 0px 0 5px; position: relative; top: 2px;}
.bookmark-container > ul a:hover{color: #ea8525;}
.bookmark-container .add-bookmark,.bookmark-container .manage-bookmark{margin-top: 12px; clear: both; display: inline-block; color: #008bbb; cursor: pointer;}
.bookmark-container h3 {font-weight: normal;}
.mega-menu > li:hover .link-dropdown{display: block;}
.submenu-level1.bookmark-container > ul > li:hover > a{background: none; color: #ea8525;}
.submenu-level1.bookmark-container > ul > li > a::after{display: none;}
.submenu-level1.bookmark-container a.pull-right{padding: 0;}

.bookmark-box{display: inline-block; width: 32.5%; vertical-align: top; padding: 10px 1% 0; }
.bookmark-box h4{padding: 0; font-size: 14px; color: #3a4d64; margin-top: 0; float: left; cursor: pointer; }
.bookmark-box h4 .toggle-arrow{margin-top: 5px;}
.bookmark-box .active .toggle-arrow {margin-left: -4px;}
.bookmark-box ul{display: none; float: left; width: 100%; padding-left: 10px; }
.bookmark-box li {float: left; width: 100%; margin-bottom: 5px;}
.bookmark-box .bookmark-edit,.bookmark-box .group-edit,.bookmark-box .bookmark-del,.bookmark-box .group-del{display: none;}
.bookmark-box .bookmark-edit img,.bookmark-box .group-edit img{width: 15px; height: auto; float: right; margin: 0 4px;}
.bookmark-box .bookmark-del img,.bookmark-box .group-del img,.bookmark-box .group-edit img{width: 15px; height: auto; float: right;}
.bookmark-box li:hover a,.add-bookmark-link a:hover,.manage-bookmark-link a:hover{color: #ea8525;} 
.manage-bookmark-link{ bottom: 10px;  left: 15px;  position: absolute;  z-index: 1;}
.bookmark-box.individual-links ul{display: block!important; margin: 0; line-height: 17px;}
.bookmark-box.individual-links ul a{color: #3a4d64; line-height: 17px;}
.bookmark-box.individual-links ul a:hover{color: #ea8525;}

.bookmark-box li:hover .bookmark-edit,.bookmark-box li:hover .bookmark-del{display: inline;}
.bookmark-box .bookmark-head:hover .group-edit,.bookmark-box .bookmark-head:hover .group-del{display: inline;}

