﻿#drawermenu
{
	height:10%;
	width:10%;
	display:inline-block!important;
}
#s4-titlerow
{
	display:inline-block!important;
}
#box
{
	width:100%!important
}
#TopNavigation
{
	display:none
}
#drawermenu a:hover #TopNavigation
{
	display:block;
	z-index:999;
	position:absolute;
	top: 120px;
    left:60px;

}
.drawermenu:hover
{
	position:relative
}
.divHeadNav,.Home 
{
	float:none;
	display:block
}
.Home
{
	padding-left:12px
}
#suiteBarLeft,#LeftTopContent
{
	width:100%!important;
	display:inline-block
}
#suiteBarRight
{
	display:none
}
#support-container,#resources-container,#links-container
{
	float:left;
	clear:both
}
#moreForTopandAnnounce
{
	display:none
}
#RightAnnouncements,#featureSubscriptioPoll,#news
{
	width:100%!important;	
	float:left
}
/*.divCategoryNav
{
	z-index:0;
	display:block
}*/
#siteIcon
{
	margin-right:0
}
#searchInputBox
{
	margin-left:0;
	width:500px
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sboxdiv
{
	width:330px
}
.ms-siteicon-img
{
	max-width:80%
}
@media only screen  and (min-device-width : 1025px) and (max-width:761px)
{
	
}
