﻿@charset "utf-8";
/* CSS Document */
img{border: 0;}
body{font-family: 'Raleway', sans-serif; position: relative;}
.body-container{float: left; width: 100%; font-family: 'Raleway', sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.body-container *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.wrapper{margin: 0 66px;}
.hidden-desktop{display: none;}


/* Header */
.header{float: left; width: 100%; padding: 29px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.header *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.header-logo{float: left; width: 29.2%;}
.header-search{float: left; width: 446px; margin-top: 14px; }
.search-input{float: left; width: 100%; border: 1px solid #1999c0; position: relative; }
.header-search input[type="text"]{float: left; width: 100%; border: 0; height: 30px; line-height: 30px; padding: 0 40px 0 10px;}
.search-btn{position: absolute; right: 3px; top: 2px; background: url(../images/icon7.png) no-repeat center center; width: 26px; height: 26px; float: left; text-indent: -999px; border: 0; cursor: pointer; }
.search-options ul li{float: left; padding: 6px 0; position: relative; }
.search-options ul li a{float: left; font-size: 13px; color: #777; margin-right: 10px; }
.search-options li.selected a{color: #222;}
.search-options li.selected a:before{position: absolute; left: 50%; top: 0; margin-left: -5px; background: url(../images/icon22.png) no-repeat 0 0; float: left; width: 9px; height: 5px; content: "";}

.left-top-content{float: left; width: 64%;}
.heading-bg{background: #ddd; color: #3a4d64; font-size: 22px; padding: 10px 15px; line-height: 30px; float: left; width: 100%; }
.heading-bg span{color: #777;}
.content-padding{float: left; width: 100%; padding: 0 15px; }

/* Top content css */
.tab-items{float: left; width: 100%; border-bottom: 1px solid #ddd; margin: 12px 0 15px; }
.tab-items li{float: left; margin-right: 15px; padding: 10px 0 5px; border-bottom: 6px solid #fff; }
.tab-items li.active{border-bottom: 6px solid #fa820e;}
.tab-items li a{text-transform: uppercase; font-size: 13px; color: #3a4d64;}
.top-content .top-content-tab{display: none;}
.top-content-img {float: left; width: 100%;}
.top-content-list{margin: 0 -10px;}
.top-content-list li{float: left; width: 25%; padding: 10px 10px 5px; min-height: 190px; }
.top-content-box h3 {overflow: hidden; text-overflow: ellipsis;  white-space: pre; font-size: 15px; font-weight: normal; color: #222; float: left; width: 100%; padding: 3px 0; }
.top-content-list li h3 a{font-size: 15px; font-weight: normal; color: #222;}
.content-date img{float: left; margin-right: 5px;  }
.content-date{font-size: 13px; color: #777; line-height: 16px; margin: 2px 0 2px; display: block; }
.top-content .top-content-box  .content-date{float: left; width: 100%;  text-overflow: ellipsis; overflow: hidden; white-space: pre; }
.top-content-text{background: #f1f1f1; font-size: 10px; line-height: 14px; padding: 5px 15px; float: left; width: 100%; height: 120px; overflow: hidden; }
.top-content-img img{float: left; border: 0; max-width: 100%;  width: 100% !important;  height: 125px !important; background: #f1f1f1; max-height: none !important;}
/* Top content css */

.right-top-content{float: right; width: 33%;}
.top-announcement{float: left; width: 100%; margin: 20px 0 0;}
.announcement-box{margin-bottom: 12px;}
.top-announcement h3{font-weight: normal; margin: 3px 0;}
.top-announcement h3 a{font-size: 18px; font-weight: normal; color: #008bbb;}
.top-announcement .announcement-date{display: block; color: #777; font-size: 13px;}
.announe-text{font-size: 15px; color: #222;  padding: 6px 0 0;}

.top-more-links{float: left; width: 100%;}
.more-link{float: left; width: 100%; border-bottom: 6px solid #ddd; padding: 5px 15px; margin-bottom: 30px; }
.more-link a{color: #008bbb; font-size: 17px;}

/* Footer css start here */
.footer{float: left; width: 100%; background: #3a4d64; padding: 25px 0; font-family: 'Raleway', sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 10px; }
.footer *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.footer .footer-links{float: left; width: 20%; padding-right: 15px;}
.footer .footer-links h3{color: #fff; font-weight: bold; font-size: 15px; text-transform: uppercase; margin-bottom: 8px; }
.footer .footer-links li{margin-bottom: 2px;}
.footer .footer-links a{color: #fff; font-size: 15px; line-height: 20px;}
.footer .footer-links a:hover{color: #fa820e;}
/* Footer css end here */

/* Sidebar Links */
.left-sidebar{float: left; width: 18%; background: #ebedef; border-bottom: 6px solid #c7c7c7; margin-bottom: 30px; }
.sidebar-links > ul{float: left; width: 100%; margin-bottom: 30px;}
.sidebar-links li{ float: left; width: 100%;}
.sidebar-links li.selected{background: #b9bbbd;}
.sidebar-links li.selected > a{ border-left: 6px solid #e67d17; }
.sidebar-links li a{color: #222; font-size: 15px; line-height: 34px; float: left; padding: 0 10px; border-left: 6px solid #ebedef; }
.sidebar-links li ul a{font-size: 14px; font-size: 14px; padding: 0 10px 0 25px;}

.sidebar-links .heading-bg{font-size: 15px; background: #b9bbbd; padding: 0 15px; color: #222; line-height: 34px;}
.sidebar-links .featured-links{padding: 10px 18px 0;}
.sidebar-links .featured-links h4{font-size: 16px;}
.sidebar-links .featured-links ul{padding-left: 20px;}

.mid-container{float: right; width: 80%; border-bottom: 6px solid #c7c7c7; margin-bottom: 30px;}
.page-title{border-bottom: 6px solid #c7c7c7; float: left; width: 100%; }
.page-title h3{color: #3a4d64; font-size: 22px; font-weight: normal; line-height: 34px;}
.page-subtitle{font-size: 11px; color: #777; float: left; line-height: 12px;}

/* Refiners */
.refiner-block{float: left; width: 20.5%; padding-right: 15px; max-width: 200px; }
.refiner-block h4{font-size: 13px; color: #3a4d64; font-weight: normal; margin-bottom: 5px; cursor: pointer; }
.toggle-arrow{width: 0; height: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left: 4px solid #3a4d64; float: left; margin-top: 3px; margin-right: 5px; }
.active .toggle-arrow{border-top: 4px solid #3a4d64; border-left: 4px solid transparent; border-right: 4px solid transparent; margin-top: 5px; }
.refiner-block ul{margin-bottom: 10px; display: none; }
.refiner-block ul li{padding: 2px 0 2px 20px;}
.refiner-block ul li.selected{background: url(../images/icon6.png) no-repeat 3px center;}
.refiner-block ul li a{font-size: 13px; color: #666;}

.content-result-block{float: left; width: 79.5%;}
.content-result{float: left; width: 100%; font-size: 14px; color: #222; margin-bottom: 25px; padding-right: 8%; position: relative; }
.content-result h3 {font-size: 16px; font-weight: normal; }
.content-result h3 a{font-size: 16px; font-weight: normal; color: #0072c6;}
.content-result-link a{color: #338200;}
.content-result-text{margin-bottom: 3px;}
.content-result img.pull-right{margin-left: 20px;}
.pull-right{float: right;}

.bottom-container{float: left; width: 100%;}
.left-bottom-content{float: left; width: 33%;}
.right-bottom-content{float: right; width: 64%;}

/* Featured links */
.featured-links{float: left; width: 100%; background: #ebedef; padding: 25px 18px; margin-bottom: 30px; }
.featured-links h4{color: #222; font-size: 18px; font-weight: normal; margin: 0 0 11px; cursor: pointer; float: left; }
.featured-links h4 .toggle-arrow{margin-top: 8px; margin-right: 8px;}
.featured-links ul{padding-left: 32px; display: none;}
.featured-links ul li{margin-bottom: 12px; float: left; width: 100%; }
.featured-links ul a{font-size: 15px; color: #444; line-height: 18px; float: left;}
.featured-head{float: left; width: 100%;}

/* My Subscription */
.my-subscriptions{float: left; width: 100%; background: #ebedef;  padding: 26px 37px 18px; margin-bottom: 30px; }
.my-subscriptions ul li{margin-bottom: 10px;}
.my-subscriptions ul a{font-size: 15px; color: #444;}
.my-subscriptions .more{font-size: 18px; color: #008bbb; float: left; margin-top: 7px; }

/* Poll Box */
.poll-box{float: left; width: 100%; background: #ebedef;  padding: 26px 37px; margin-bottom: 30px; }
.poll-box h4{font-weight: normal; color: #222; font-size: 18px; line-height: 24px; margin: 0 0 24px;}
.poll-box label{display: block; margin-bottom: 18px; font-size: 15px; color: #444;}
.poll-box label input[type="radio"]{margin-right: 5px;}
.btn{background: #3a4d64; color: #ddd; border: 0; padding: 6px 10px; display: inline-block; cursor: pointer; min-width: 75px; }
.poll-box .btn{margin: 9px 0;}

/* Viacom News */
.viacom-news{float: left; width: 100%; font-size: 15px; line-height: 20px; color: #222;}
.viacom-news .more-link{padding: 0 15px 15px;}
.viacom-news td{vertical-align: top;}
.news-filter{float: left; width: 100%; padding: 10px 0; margin-bottom: 14px; border-bottom: 1px solid #ddd;}
.news-filter select{height: 24px; line-height: 24px; min-width: 100px; font-size: 13px; }
.news-box{padding: 0 30px 20px 0;}
.news-box h3 {margin: 0 0 3px;}
.news-box h3 a{font-size: 18px; color: #008bbb; font-weight: normal;}
.news-date{display: block; font-size: 13px; color: #777; margin: 0 0 3px; }

/* External News */
.external-news{float: left; width: 100%; border-bottom: 6px solid #ddd; margin-bottom: 30px; }
.external-news-refiner{float: left; width: 23.5%; padding: 26px 0; border-right: 1px solid #ddd; margin-right: -1px; }
.external-news-refiner h3{font-size: 15px; color: #3a4d64; font-weight: normal; margin-bottom: 8px; }
.external-news-refiner h4{color: #3a4d64; font-size: 15px; line-height: 18px; padding: 9px 10px 9px 0; font-weight: normal; cursor: pointer; }
.external-news-refiner h4.selected{border-right: 6px solid #fa820e;}
.external-news-refiner h4 .toggle-arrow{margin-top: 4px; margin-bottom: 10px; }
.external-news-refiner h4.active .toggle-arrow{margin-left: -4px;}
.external-news-refiner ul{display: none;  float: left;  padding: 0px 10px 9px 20px; width: 100%;}
.external-news-refiner li {float: left; margin: 8px 0; width: 100%;}
.external-news-refiner li a{color: #666; font-size: 15px;}
.external-news-refiner .more{font-size: 18px; color: #008bbb;}
.external-news-results{float: left; width: 76.5%; border-left: 1px solid #ddd; padding: 26px 0 15px 22px; }
.external-news-box{float: left; width: 100%; color: #222; font-size: 15px; line-height: 20px; margin-bottom: 22px; }
.external-news-img{float: left; width: 32%; max-width: 180px; margin-right: 3%; }
.external-news-img img{max-width: 100%;}
.external-news-text{float: left; width: 64.5%;}
.external-news-box .date{font-size: 13px; line-height: 13px; margin-bottom: 5px; color: #777; display: block;}
.external-news-box h3{margin: 0 0 10px 0;}
.external-news-box h3 a{font-size: 18px; color: #008bbb; font-weight: normal;}

/* Document Library */
.document-libraries{float: left; width: 100%; border-bottom: 6px solid #ddd; margin-bottom: 30px;}
.document-box{float: left; width: 25%; vertical-align: top; padding: 0 15px; font-size: 13px; margin-bottom: 10px; min-height: 130px; }
.document-box h3{color: #0072c6; font-size: 16px; border-bottom: 1px solid #c7c7c7; padding: 8px 15px; margin: 10px 0 18px; font-weight: normal; text-overflow:ellipsis; overflow: hidden; white-space: pre; }
.document-box .folder-icon{float: left; margin: 0 10px 10px;}
.latest-content{float: left; width: 100%; padding: 10px 0 0;}

/* Overlay Css */
.content-overlay{position: absolute; left: 94%; top: -100px; z-index: 99; background: #f1f1f1; float: left; min-width: 337px; border: 2px solid #b2b2b2; border-bottom: 0; display: none; }
.close-overlay{float: left; width: 12px; height: 12px; background: url(../images/icon10.png) no-repeat 0; position: absolute; right: 15px; top: 15px; cursor: pointer;}
.content-overlay .date{color: #777; font-size: 13px;}
.content-overlay .date img{display: inline-block; vertical-align: middle; margin-right: 5px;}
.overlay-body{float: left; width: 100%; padding: 17px 20px;}
.overlay-body h3{padding-right: 20px;}
.overlay-img{float: left; width: 100%; margin: 18px 0 15px;}
.overlay-details {color: #777; font-size: 15px;}
.overlay-details {float: left; width: 100%;}
.overlay-details li{float: left; width: 100%; margin-bottom: 16px;}
.overlay-details li:last-child{margin: 0;}
.overlay-details label{font-size: 15px; color: #222; display: block;}
.overlay-footer{float: left; width: 100%; padding: 18px 20px; background: #3a4d64;}
.overlay-footer li{float: left; margin-right: 15px;}
.overlay-footer a{color: #fff; text-transform: uppercase; font-size: 12px;}
.overlay-arrow{width: 17px; height: 38px; background: url(../images/icon11.png) no-repeat 0 0; position: absolute; left: -14px; top: 130px; }
.content-category .content-overlay{left: 70%;}

/* Client Account Links */
.client-account-link{float: left; width: 90%; margin-left: 5%; border-top: 1px solid #777; margin-bottom: 20px; padding: 12px 0; }
.client-account-link h4{font-size: 15px; font-weight: normal; background: url(../images/icon12.png) no-repeat 0 4px; padding-left: 20px; margin: 8px 0;}
.client-account-link ul{float: left; width: 100%; padding: 0 20px; }
.client-account-link li{float: left; width: 100%; margin: 6px 0;}
.client-account-link li a{font-size: 14px; color: #444; background: url(../images/icon13.png) no-repeat 0 5px; padding-left: 15px; }

/* External Users */
.btn-grey{background: #f2f2f2; color: #3a4d64; font-size: 13px; border: 1px solid #e2e2e2; line-height: 30px; padding: 0 10px; border-radius: 4px; cursor: pointer;}
.external-user{float: left; width: 100%;}
.external-user .btn-grey{margin: 9px 0;}
.external-user-table{float: left; width: 100%; border-top: 1px solid #ddd; padding: 10px 0 0; }
.external-user-table.no-border{border: 0;}
.external-user-table table{width: 100%; font-size: 13px; text-align: left; color: #777; }
.external-user-table table th,.external-user-table table td{padding: 7px 5px;}
.external-user-table table th{color: #3a4d64; padding:  15px 5px; text-align: left; }
.external-user-table table a{color: #777;}
.external-user-table .user-name{color: #222;}
.external-user-table th.user-name{color: #3a4d64;}

.external-user-table .user-name img{float: left; margin-right: 10px; margin-top: -1px; }
.content-shared-head{float: left; width: 100%; margin: 10px 0; padding: 0 30px; }
.content-shared-head h4{font-size: 13px; color: #222; font-weight: normal; cursor: pointer; padding-bottom: 8px; padding-left: 5px; }
.content-shared-head h4.active{border-bottom: 1px solid #c7c7c7;}
.content-shared-body{float: left; width: 100%; display: none; margin-bottom: 10px;}

.shared-user-details{float: left; color: #777; margin-top: 25px; font-size: 15px; }
.shared-user-details ul{float: left;}
.shared-user-details li{float: left; margin-right: 15px; } 
.shared-user-details li strong{font-weight: normal; color: #222;}

/* Add New Document */
.add-new-doc{float: left; width: 100%; padding: 19px 7px 0px; color: #777; }
.add-new-doc a{color: #0072c6;}
.add-new-doc a img{float: left; margin-right: 5px; margin-top: 1px; }
.doc-filter-options{float: left; width: 100%; padding: 0px 7px; margin-top: 15px; }
.doc-filter-options ul li{float: left; margin-right: 17px;}
.doc-filter-options ul li a{color: #777; font-size: 16px; }

.doc-filter-options ul li.selected a{color: #0072c6;}
.small-search-box{border: 1px solid #ababab; float: left; width: 185px; position: relative; margin-left: 25px; margin-top: -2px; }
.small-search-box input[type="text"]{border: 0; height: 22px; line-height: 22px; width: 100%; padding: 0 22px 0 5px; }
.small-search-btn{position: absolute; right: 0px; top: 0; background: url(../images/icon18.png) no-repeat center center; text-indent: -999px; width: 22px; height: 22px; float: left; }

.down-arrow {border-left: 4px solid transparent;  border-right: 4px solid transparent;  border-top: 4px solid #3a4d64; display: inline-block; height: 0; margin: 0 0 0 3px; vertical-align: middle; width: 0;}

/* Folder Links */
.folder-link{float: left; width: 90%; margin-left: 5%; border-top: 1px solid #777; margin-bottom: 20px; padding: 12px 0; }
.folder-link h4{font-size: 15px; font-weight: normal; background: url(../images/icon19.png) no-repeat 0 3px; padding-left: 18px; margin: 8px 0;}
.folder-link ul{float: left; width: 100%; padding: 0 20px; }
.folder-link li{float: left; width: 100%; margin: 6px 0;}
.folder-link li a{font-size: 14px; color: #444; background: url(../images/icon20.png) no-repeat 0 3px; padding-left: 15px; }

.doc-hierarchy{float: left; width: 90%; margin-left: 5%; padding-top: 25px; margin-bottom: 30px; border-top: 1px solid #777; }
.doc-hierarchy h3{font-size: 15px; color: #222; font-weight: normal; background: url(../images/icon21.png) no-repeat 0 5px; padding: 0 10px; margin-bottom: 5px; }
.doc-hierarchy .folder-link,.doc-hierarchy .client-account-link{border: 0; margin-bottom: 0; padding: 0; }

.manage-shared-content .content-shared-head h4{float: left; width: 21%;}
.shared-users{float: left; font-size: 13px; color: #777; width: 15%;}
.manage-shared-content .content-shared-head h4.active{border: 0;}
.manage-shared-content  .content-shared-body{border-top: 1px solid #c7c7c7; padding-top: 10px;}

/* Mobile Menu */
.mobile-menu-container{position: fixed; top: 0; left: -300px; display: none; z-index: 999; width: 300px; background: #a9a9a9 url("../images/bg-menu.jpg") repeat 0 0; height: 100%; overflow: auto; padding: 15px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #929292;}
.mobile-menu-container *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.user-panel{float: left; width: 100%; padding: 0 15px;}
.user-panel a{color: #003366; font-size: 14px; line-height: 33px;}
.user-panel a img{border-radius: 4px; margin-right: 15px; float: left;}
.mobile-menu{float: left; width: 100%; margin-bottom: 10px; }
.mobile-menu ul{float: left; width: 100%;}
.mobile-menu ul li{float: left; width: 100%;}
.mobile-menu > ul > li{border-bottom: 1px solid #929292; border-top: 1px solid #bbb;}
.mobile-menu > ul > li:first-child{border-top: 0;}
.mobile-menu > ul > li:last-child{border-bottom: 0;}
.mobile-menu ul li a{padding: 14px 15px 14px 5px; float: left; width: 100%;  color: #222; font-size: 14px; line-height: 18px; border-left: 9px solid transparent; position: relative; }  
.mobile-menu  ul  li.current a{border-left: 9px solid #ff6600; background: rgba(0, 0, 0, 0.1); }
.mobile-menu > ul > li > ul > li > a{padding: 14px 25px 14px 25px; float: left; }
.mobile-menu > ul > li > ul > li > ul > li > a{padding: 14px 25px 14px 55px; float: left; }
.mob-menu-level1 > a:after,.mob-menu-level2 > a:after {border-right: 2px solid #5e5e5e; border-top: 2px solid #5e5e5e; content: ""; float: left; height: 8px; position: absolute; right: 20px;  top: 15px;  -ms-transform: rotate(135deg); -webkit-transform: rotate(135deg); transform: rotate(135deg); width: 8px;}
.mob-menu-level1 > a.active:after,.mob-menu-level2 > a.active:after{-ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg);  top: 20px;}
.mob-submenu-level1{border-top: 1px solid #bbb;}
.mob-menu-level1 > a.active{border-bottom: 1px solid #929292;}
.mob-submenu-level1,.mob-submenu-level2{display: none;}

.mobile-toggle{float: left; width: 20px; display: none; margin: 6px 30px 0 0; cursor: pointer; position: relative; z-index: 2; }
.mobile-toggle span{height: 4px; width: 100%; float: left; background: #828282; margin-bottom: 3px;}
.mid-container .external-news{border: 0;}

/* Mobile Header */
.header-mobile{display: none; background: #1099c1; float: left; width: 100%; padding: 0 0 0 15px; border-bottom: 1px solid #2c3b4c; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative;}
.header-mobile *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.header-mobile .mobile-toggle{margin-top: 9px;}
.header-mobile .mobile-toggle span{background: #b8e1ed;}
.title-mobile{color: #fff; font-size: 18px; line-height: 38px; position: absolute; text-align: center; left: 0;  top: 0; width: 100%; z-index: 1; white-space: pre; text-overflow: ellipsis; overflow: hidden;  padding: 0 86px;}
.refiner-mobile{float: right; position: relative; z-index: 2; border-left: 1px solid transparent; border-right: 1px solid transparent; }
.refiner-btn{background: url(../images/icon23.png) no-repeat center center; width: 48px; height: 38px; float: left; }
.refiner-mobile.active{ background: #a9a9a9 url("../images/bg-menu.jpg") repeat 0 0; border-left: 1px solid #2c3b4c; border-right: 1px solid #2c3b4c; height: 38px; z-index: 99; }
.search-mobile{float: right; position: relative; z-index: 2; border-left: 1px solid transparent; }
.search-mobile-btn{background: url(../images/icon24.png) no-repeat center center; width: 48px; height: 38px; float: left; }
.search-mobile.active{ background: #a9a9a9 url("../images/bg-menu.jpg") repeat 0 0; border-left: 1px solid #2c3b4c;  height: 38px; z-index: 99; }

/* Mobile Refiner */
.refiner-mobile-container{position: absolute; left: 0; top: 37px; border-top: 1px solid #2c3b4c;  float: left; width: 100%; display: none; z-index: 9;  }
.refiner-mobile-container .external-news-refiner{width: 100%; border: 0; padding: 20px; background: #a9a9a9 url("../images/bg-menu.jpg") repeat 0 0;}
.refiner-mobile-container .toggle-arrow {border-bottom: 6px solid transparent;   border-left: 10px solid #676767;  border-top: 6px solid transparent; margin-top: 2px;}
.refiner-mobile-container .active .toggle-arrow { border-left: 6px solid transparent;  border-right: 6px solid transparent;  border-top: 10px solid #676767; margin-top: 1px; margin-left: -2px;}
.refiner-mobile-container .external-news-refiner h4{color: #222;}
.refiner-mobile-container .external-news-refiner ul{padding: 0 10px 9px 30px;}
.refiner-mobile-container .external-news-refiner li {position:relative;}
.refiner-mobile-container .external-news-refiner li a{color: #222;}
.refiner-mobile-container .external-news-refiner li.selected:before{content: ""; background: url(../images/icon27.png) no-repeat 0 0; float: left; width: 14px; height: 14px; position: absolute; left: -18px; top: 3px;}
.refiner-mobile-container .external-news-refiner h3{color: #222; padding-left: 15px; }
.refiner-btns{float: left; width: 100%; border-bottom: 1px solid #dedede; margin-bottom: 15px; padding: 0 0 10px; }
.btn-mobile{ background: #000; background: rgba(0,0,0,.4); color: #fff; line-height: 32px; font-size: 14px; padding: 0 15px; display: inline-block;}
.refiner-heading{display: none; float: left; width: 100%; text-align: center; background: rgba(0,0,0,.3); }
.refiner-heading h3{font-size: 11px; color: #444; line-height: 20px; }

/* Mobile Search */
.search-mobile-container{position: absolute; left: 0; top: 37px; border-top: 1px solid #2c3b4c;  float: left; width: 100%; padding: 20px; background: #a9a9a9 url("../images/bg-menu.jpg") repeat 0 0; display: none; z-index: 9; }
.mobile-search-input{float: left; width: 100%; border: 1px solid #ddd; position: relative;}
.mobile-search-input input[type="text"]{float: left; width: 100%; height: 30px; line-height: 30px; background: none; border: 0; padding: 0 35px 0 10px; }
.mobile-search-input .search-btn{background: url("../images/icon25.png") no-repeat center center;}
.mobile-search-options{float: left; width: 100%; margin: 10px 0;}
.mobile-search-options li{float: left; width: 100%; margin: 10px 0; padding: 0 0 0 30px; position: relative; }
.mobile-search-options li a{font-size: 14px; color: #222;}
.mobile-search-options li.selected:before{content: ""; background: url(../images/icon26.png) no-repeat 0 0; float: left; width: 14px; height: 14px; position: absolute; left: 5px; top: 3px; }

.edit-bookmark-form{float: left; width: 100%;}
.inputs{float: left; width: 100%; margin-bottom: 5px;}
.inputs label{float: left; width: 40%; line-height: 28px; font-size: 14px; }
.inputs input,.inputs select{border: 0; background: #fff; padding: 0px 0px; width: 55%; height: 28px; float: right; }
.inputs input{text-indent: 10px; }
.inputs select{text-indent: 5px; }

.manage-bookmark-container{float: left; width: 100%; margin: 20px 0;}
.manage-bookmark-container .add-bookmark-link .add-bookmark{color:#008bbb; font-size: 16px; margin-left: 10px;}
.manage-bookmark-container .bookmark-box li a{ color: #3a4d64; font-size: 14px;}
.manage-bookmark-container .bookmark-head{margin-bottom: 5px; float: left; width: 100%;}

.add-group-field{display: none;}
.add-bookmark-group{float: left; width: 100%; max-width: 500px}
.add-bookmark-group .inputs input,.add-bookmark-group .inputs select{border: 1px solid #ddd;}
.edit-bookmark-form table{width: 100%; text-align: left; font-size: 15px; margin-bottom: 10px;}
.edit-bookmark-form table th{padding-bottom: 5px;}
.edit-bookmark-form table td{padding: 2px 0;}
.edit-bookmark-form table a{font-size: 14px; line-height: 28px;}
.edit-bookmark-form table input{background: #fff;   border: 0; float: left;  height: 28px;  padding: 0 10px; width: 70%;}
.edit-bookmark-form .user-name{font-size: 14px;}