﻿#TopNavigation {
	list-style: none!important;
	position: relative;
	font-family: "Verdana"!important;
	font-size: 12px;
	height: auto;
	clear: both;
	background: #003366;
	padding-bottom: 5px;
}
/*****div that contains header name and alink for header****/
/****ulHeadNav:- outer most div: that displays name of the header***/
.divHeadNav {
	font-family: "Verdana"!important;
	font-size: 12px; /* padding:9px 14px;*/;
	padding: 10px;
	font-weight: bold;
	color: #DEE9F5;
	display: inline-block;
	text-decoration: none!important;
	list-style: none;
	float: left;
	width: 100%;
}
.divHeadNav:hover {
	background-color: #EA8525!important;
}
/*.divHeadNav:hover .divCategoryNav {
	border-top: 2px #EA8525 solid;
	display: block;
	cursor: default;
}
.divHeadNav:hover .divCategoryNav:empty {
	display: none;
}
.divHeadNav:hover .aHeaderName {
	background-color: #EA8525!important;
	color: white;
}*/
.aHeaderName {
	color: #DEE9F5;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Verdana"!important;
	font-size: 12px; /*padding: 5px;*/;
	padding: 9px 6px;
	cursor: pointer;
}
/*****div that contains HOME  and alink for HOME****/
.Home {
	font-family: "Verdana"!important;
	font-size: 12px; /*padding:9px 14px;*/;
	padding: 10px;
	font-weight: bold;
	color: #DEE9F5;
	display: inline-block;
	text-decoration: none!important;
	list-style: none;
	float: left; /*margin-top:5px;*/;
	padding-left: 10px;
	width: 100%;
}
.Home:hover {
	background-color: #EA8525!important;
}
.aHomeLink {
	color: #DEE9F5;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Verdana"!important;
	font-size: 12px; /*padding: 5px;*/;
	padding: 9px 6px;
}
.Home:hover .aHomeLink {
	background-color: #EA8525!important;
}
/*******div that contains navigation links, visible when you hover on divHeadNav************/
.divCategoryNav {
	display: none;
	font-family: "Verdana"!important;
	font-size: 13px;
	position: relative;
	margin-top: 10px;
	float: left;
	text-align: left;
	padding: 10px 5px 10px 5px;
/**border:1px solid #777777;*/z-index: 999 !important;
	background: #ECEDF1;
	clear: both;
	width: 100%!important; /**overflow:visible;**/;
	border-top: 3px solid #EA8525;
	background: #ECEDF1;
}
.divCategoryNav:empty {
	display: none;
}
/***************Category *******************/
#TopNavigation a:hover, #TopNavigation a:active, #TopNavigation a:visited {
	text-decoration: none!important;
}
#TopNavigation a {
	color: #DEE9F5;
}
.ulCategoryNav {
	padding-left: 9px;
	padding: 0px 0px 10px 0px !important;
	float: left;
	width: 100%;
	margin: 0 10px 10px 0;
}
.aCategoryNav {
	text-transform: uppercase;
	font-family: "Verdana"!important;
	font-size: 13px;
	color: #ea8525 !important;
	font-weight: bold;
	padding-bottom: 10px;
}
.LinknameLI {
	color: #696969!important;
	font-family: "Verdana"!important;
	font-size: 13px;
	color: #696969!important;
	font-weight: normal;
}
.LinknameLI:hover {
	color: grey;
}
/*.liLinkNav:hover 
    {
	    background: #F4F4F4;
    }*/
.liLinkNav {
	padding-bottom: 15px;
}
.triangle {
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #DEE9F5;
	position: absolute;
	margin-top: 5px;
}
/*************links resources bookmarks************/
/***dialog box z-index 1504****/
#bannerLinksDiv {
	margin-top: 14px;
	margin-left: 10px;
	background: white;
	right: 0;
	width: 850px;
	position: absolute;
	clear: both;
	border-top: 3px solid #EA8525;
	max-width: 850px!important;
	z-index: 999;
	font-size: 12px;
	text-align: left;
	padding: 10px 5px 10px 10px;
	font-family: "Verdana"!important;
	text-align: left;
	border: 1px #ddd solid;
	border-top: 3px solid #EA8525;
}
#bannerResourcesDiv {
	margin-top: 14px; /*background: #ECEDF1;*/;
	background: white;
	right: 0;
	width: auto;
	position: absolute;
	clear: both;
	border-top: 3px solid #EA8525;
	z-index: 9999999999;
	font-size: 13px;
	text-align: left;
	padding: 10px 5px 10px 5px;
	font-family: "Verdana"!important;
	text-align: left;
	border-top: 3px solid #EA8525;
	background: #ECEDF1;
}
#bannerLinks {
	width: 70%;
	float: left;
	border-right: 1px #ddd solid;
}
#bannerBookmarks {
	float: right;
}
.LinkSpan {
	color: #DEE9F5;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Verdana"!important;
	padding: 5px 5px 5px 0;
}
#links-container:hover a#LinkSpan {
	color: black;
}
#links-container:hover .LinkSpan, #resources-container:hover .LinkSpan {
	background-color: #6A7B8B!important;
}
#links-container {
	list-style: none!important;
	position: relative;
	float: left;
	font-family: "Verdana"!important;
	font-size: 12px;
	padding: 9px 15px;
	font-weight: bold;
	color: #DEE9F5;
	text-decoration: none!important;
	list-style: none;
	width: 100%;
}
#links-container:hover {
	background-color: #6A7B8B!important;
}
.ulBannerLinks, .ulRecources {
	padding-left: 9px;
	padding: 0px 0px 10px 0px !important;
	float: left;
	width: auto;
	margin: 0 10px 10px 0;
	list-style: none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0----for ulRecources**/
}
.clr {
	clear: both;
}
.pUlBannerLink {
	text-transform: uppercase;
	font-family: "Verdana"!important;
	font-size: 12px;
	color: #868686!important;
	font-weight: bold;
	margin-bottom: 25px;

    /* color:#EA8525!important;padding:0 0 10px 0;margin:0!important;text-transform:uppercase;font-weight:bold;**/
}
#resources-container {
	list-style: none!important;
	position: relative;
	float: left;
	font-family: "Verdana"!important;
	font-size: 12px;
	padding: 9px 15px;
	font-weight: bold;
	color: #DEE9F5;
	text-decoration: none!important;
	width: 100%;
}
#resources-container:hover {
	background-color: #6A7B8B!important;
}
#support-container {
	position: relative;
	float: left;
	font-family: "Verdana"!important;
	font-size: 12px;
	padding: 9px 15px;
	font-weight: bold;
	color: #DEE9F5;
	text-decoration: none!important;
	width: 100%;
	background-color: rgba(192, 192, 192, 0.25);
}
#support-container:hover {
	background-color: #6A7B8B!important;
}
#support-container a {
	color: #DEE9F5;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	padding-left:1px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Verdana"!important;
	
}
#support-container a:hover {
	color: #ea8525;
}
.liBannerLinks {
	margin-bottom: 20px;
}
.liResources {
	padding-bottom: 20px;
	white-space: nowrap;
}
.aBannerLinks, .aResources {
	color: #444!important;
	font-family: "Verdana"!important;
	font-size: 12px;
	font-weight: normal;
}
.BannerLinkUL {
	padding-bottom: 12px;
}
.aBannerLinks:hover .aBannerLinks {
	color: silver;
}
/****support tab****/
.supportTabSpan {
	display: inline-block;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0px 7px 0px 10px;
	border-right: 1px solid transparent;
	background-clip: padding-box;
}
/****bookmarks******/
.ulBookmarHead {
	padding-left: 9px;
	padding: 0px 0px 10px 0px !important;
	float: left;
	width: auto;
	margin: 0 10px 10px 0;
	list-style: none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0**/
}
.pBookmarkHead {
	text-transform: uppercase;
	font-family: "Verdana"!important;
	font-size: 13px;
	color: #868686 !important;
	font-weight: bold;
	margin-bottom: 20px;

    /*padding:0 0 5px 0!important;margin:0!important**/
}
#BookmarHead li a {
	cursor: pointer;
	color: #696969;
	font-weight: normal;
}
#BookmarHead li img {
	padding-bottom: 1px;
}
.liAddBookmark {
	margin-bottom: 15px;
	font-weight: normal;
	clear: both;
	color: #696969!important;
	font-family: "Verdana"!important;
	font-size: 12px;
}
.aAddBookmark {
	cursor: pointer;
	color: #696969;
	font-weight: normal;
	margin-bottom: 20px;
}
#ms-help {
	display: none;
}
/***BANNER LINKS***/

/*style for sliding Panel*/

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
.navbar-nav > div{
	float:left;
}
.nav > div > a{
	display:block;
	padding: 15px;
	line-height:20px;
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
	#slide-nav .container {
	    margin: 0;
	    padding: 0!important;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: -8px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 80%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#slide-nav #navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
	    width: 80%;
	    left: -80%;
	    background: #eee;
	}
	#slide-nav.navbar-inverse #navbar-height-col {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
}
@media (min-width:768px) { 
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}

