﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ExternalContentSharedWithUserApp.aspx.cs" Inherits="Viacom.AdSpace.AppsWeb.Pages.ExternalContentSharedWithUserApp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
