﻿/*
 *  File:         Access_request_style.css
 *  Description:  CSS 
 *  Author:       L&T Infotech
 *  Language:     CSS

    Modification Date       Modified By         Comments    
    29 - Jul- 2014          L&T Infotech        First Release
*/
@charset "utf-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    align: absmiddle;
}

/* Reset CSS end */




body {
    font-family: "Roboto";
    font-size: 11pt;
    background-color: #ffffff;
    color: #333333;
}

/*header*/
.header {
    height: 50px;
    width: 99%;
    background-color: #ffffff;
    text-align: left;
    font-size: 24px;
    color: #3d4b5f;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.header_secondary {
    color: #1393b6;
}

a:link {
    color: #0066FF;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #0066FF;
}

a:hover {
    text-decoration: underline;
    color: #0066FF;
}

a:active {
    text-decoration: none;
    color: #0066FF;
}

#mainwrapper {
    /*width: 980px;*/
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2px;
    position: relative;
}

#container {
    width: 99%;
    margin: 0 auto;
    padding: 2px; 
}

.clr {
    clear: both;
}

.flt_left {
    float: left;
}

.flt_right {
    float: right;
}

.div_white {
    padding: 5px;
}

.div_white_border {
    padding: 0px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.div_blue {
    padding: 5px;
    background-color: #cde6f7;
}

.div_dark_grey {
    padding: 5px;
    background-color: #394d65;
}

.div_grey {
    padding: 5px;
    background-color: #eeeeee;
}

h1 {
    font-size: 12px;
    color: #2f517e;
    padding: 2px 0px 5px 0px;
    text-transform: uppercase;
    border-bottom: 2px solid #e5e5e5;
    text-align: left;
}

.title {
    font-size: 12px;
    color: #2f517e;
    font-weight: bold;
    padding: 4px;
    text-transform: uppercase;
    text-align: left;
}

.text_bold {
    font-weight: bold;
}

.align_center {
    text-align: center;
    padding: 2px;
    width: 100%;
}

input {
    font-size: 11pt;
    border: 1px solid #999;
    font-family: "Roboto";
    color: #333333;
    padding: 2px;
    text-align: left;
}


.fields {
    font-size: 11px;
    font-family: "Roboto";
    border: 1px solid #999;
    color: #333333;
    padding: 2px;
    text-align: left;
}

.input_dropdown {
    font-size: 10pt;
    border: 1px solid #999;
    font-family: Roboto;
    color: #333333;
    padding: 2px;
    text-align: left;
}

.input_search {
    background-image: url(images/ico_search.png);
    background-position: 135px 2px;
    width: 150px;
    padding: 2px;
    font-size: 10px;
    background-repeat: no-repeat;
}

.button_primary {
    text-align: center;
    background-color: #ff6600;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    border: 1px solid #2e5175;
    font-size: 11pt;
    height: 23px;
    cursor: pointer;
}

    .button_primary:hover {
        text-align: center;
        background-color: #ff6600;
        color: #ffffff;
        padding-left: 15p;
        padding-right: 15px;
        padding-top: 0px;
        border: 1px solid #2e5175;
        font-size: 11pt;
        height: 23px;
        cursor: pointer;
    }


.button_secondary {
    height: 23px;
    background-color: #eaeaea;
    color: #003;
    text-align: center;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    cursor: pointer;
}

    .button_secondary:hover {
        height: 23px;
        background-color: #ff6600;
        color: #ffffff;
        text-align: center;
        padding-top: 0px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 11px;
        cursor: pointer;
    }

.button_action {
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 1px solid #999;
}

.note {
    font-size: 10px;
    text-align: left;
    color: #ff6e0e;
}

footer {
    text-align: center;
    border-top: 3px solid #e5e5e5;
    font-size: 11px;
    color: #333333;
    padding: 5px;
}

#file_structure {
    float: left;
    border-right: 1px solid #cccccc;
    width: 23%;
}

#access_structure {
    float: right;
    width: 76%;
}

.panel_title {
    background-image: url(images/white_bg.jpg);
    background-repeat: repeat-x;
    padding: 0px 6px 0px 2px;
    height: 35px;
}

.div_user_actions {
    /*width: 100%;*/
    padding: 5px 10px;
    background-color: #cde6f7;
}

.btn_user_action {
    padding-right: 5px;
}

.access_option_row {
    padding: 5px;
    height: 28px;
    border-bottom: 1px solid #ccc;
}

.main_content {
    height: 400px;
    margin-top: 10px;
}

.dialog_table tr {
    padding-top: 10px;
    margin-top: 10px;
}

.dialog_td_label {
    padding-right: 10px;
}

.dialog_td_value {
    padding-left: 10px;
}

.access_rights_scroll {
    overflow: auto;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.access_rights_loader {
    margin: auto;
}

.tr_parent_row {
    background-color: #F7BE81;
    color: black;
    font-weight: bold;
}

.btn_parent_row {
    background-color: transparent;
}

table.display tbody td:nth-child(2) {
    padding-left: 30px;
}

.access_tree_scroll {
    overflow: auto;
    height: 400px;
}

<!-- top menu css starts-- > #menu {
    height: 35px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #394e64;
}


#menu ul {
    height: auto;
    padding: 7px 5px;
    color: #ffffff;
    margin: 0px;
    background-color: #394e64;
}


#menu li {
    display: inline;
    padding: 6px 0px;
    border-right: 1px solid #999;
}



#menu a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}


    #menu a:hover {
        color: #fff;
        background-color: #ff6600;
    }

.active_menu {
    color: #fff;
    background-color: #ff6600;
}

    .active_menu a:link {
        color: #fff !important;
    }


<!-- top menu css starts-- > body {
    z-index: 1;
}

input[value=View], input[value=Edit] {
    border: none;
    cursor: pointer;
}

.fixed_div {
    bottom: 0;
    /*position: absolute;*/
}

#imgsectionItemLoading, #imgRequestedItems {
    width: 30px;
    height: 30px;
}

#imgRequestedItems {
    /*margin-top: 2em;
    margin-left: 40em;*/
}

#imgeditPermission {
    margin-top: 9em;
    margin-left: -2em;
    width: 30px;
}

#imgViewPermission, #imgeditUpdatePermission {
    margin-top: 9em;
    margin-left: 29em;
    width: 30px;
}

#EditItemPermission {
    display: none;
    z-index: 1000;
}

#EditPermissionLoading {
    display: none;
    z-index: 1000;
    float: left;
}

#UpdatePermissionLoading {
    float: left;
    display: none;
    z-index: 1000;
}

#ViewItemPermission, #ViewPermissionLoading {
    display: none;
}

#ViewPermissions, #EditPermissions {
    display: none;
}

#treeViewLoading {
    display: none;
}

#treeViewLoading {
    margin-top: 14em;
    margin-left: 7em;
    height: 200px;
}

#imgTreeViewLoading {
    width: 30px;
}

#sectionTreeDiv {
    height: 400px;
    display: none;
}

#sectionTree {
    height: 400px;
    overflow: scroll;
}

#sectionWithAccessRights {
    display: none;
    height: 400px;
}

#sectionItemDetailsLoading {
    display: none;
    margin-left: 28em;
    margin-top: 14em;
}

.InheritedClass {
    color: green;
}

.UniqueClass {
    color: blue;
}

/*#ItemDetailsEditInformations {
            width: 50%;
        }*/

#ErrorDetailsInformation {
    float: left;
    width: 50%;
    margin-top: 15px;
    color: red;
}


.tr_parent_row {
    background-color: #F7BE81;
    font-weight: bold;
}

.btn_parent_row {
    font-weight: bold;
}

#updatingMessage {
    font-weight: bold;
    font-family: Roboto;
    margin-left: 27em;
    margin-top: 6em;
    color: black;
}

#UpdatePermissionLoading {
    margin-top: -20em;
    z-index: 1001;
}

.div_siteName, .div_ListName, .div_ItemName {
    font-weight: bold;
}

#lblUserComments, #txtUserComments {
    display: inline-block;
    vertical-align: middle;
}

#tbRequestedAccessItems_wrapper, #tbApproverItemsList_wrapper, #tbrequestDetails_wrapper, #tbSectionItemDetails_wrapper,
#tblViewItemPermission_wrapper, #tblEditItemPermission_wrapper, #tbSectionItemsList_wrapper {
    width: 100%;
}

#RequestedAccessItemsLoading {
    margin-top: -1em;
    margin-left: 40em;
    float: left;
    z-index: 1001;
    display: none;
}

#div_RequestedAccessItems {
    z-index: 1000;
}

#lblAccessRequestUpdatingMessage {
    margin-left: -19px;
    font-weight: bold;
    font-family: Roboto;
    color: black;
}

#lbRequestID, #lblActionDetails, #lblRequestType {
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
    padding: 6px;
}

.div_AllPendingApprovalLoading {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    /*margin-top: 9em;
    margin-left: 42em;*/
}

select[name=PermissionLevel] {
    max-width: 150px;
}

#tbrequestDetails tr td, #tblCopyRequestDetails tr td {
    vertical-align: middle;
}

#tbrequestDetails tr:hover {
    background-color: #dedede;
    cursor: pointer;
}

#tblCopyRequestDetails tr:hover {
    background-color: #dedede;
    cursor: pointer;
}


#tblUserDetails tr th {
    background-color: #dedede;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #ccc;
}

#tblUserDetails tr td {
    font-weight: bold;
    padding: 6px;
    border: 1px solid #ccc;
}

#tblUserDetails tr:nth-child(2n+1) {
    background-color: #f5f5f5;
}



select[name=ApproverStatus] {
    max-width: 130px;
}

#errorUser {
    color: red;
}

.div_RequestDetails, .div_User_Details {
    padding: 6px;
}

.spnDetails {
    color: white;
}

input[name=openRequestbtn] {
    border: none;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    color: blueviolet;
}

.collapsed-group {
 background: url("../Images/plus.jpg") no-repeat scroll left center transparent;
padding-left: 15px !important;
  
}

.expanded-group {
   background: url("../Images/minus.jpg") no-repeat scroll left center transparent;
    padding-left: 15px !important;
   
   
}

.errorborder {
    border: 1px solid red;
}

.img_RequestFor, .img_Search, .Img_User {
    width: 14px;
    height: 17px;
    alt: "";
    valign: "absmiddle";
    align: "absmiddle";
}

.img_Search {
    alt: "Search";
}

.Img_User {
    alt: "Click to search for user";
}

#txtRequestForUser, #txtAccessCopyUser {
    width: 300px;
}

.div_Loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#imgLoader {

    left: 50%;
    top: 50%;
}

.ManagePermissionUnderlay, .RequestApprovalUnderlay, .RequestApprovalSubmitUnderlay, .AccessRequestUnderlay, .AccessRequestSubmitUnderlay,.MyRequestUnderlay,.ManagePermissionByUserUnderlay {
    display: none;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .8;
    z-index: 1000;
}

.ManagePermissionLightBox, .RequestApprovalLightBox, .AccessRequestLightBox, .AccessRequestSubmitLightBox, .RequestApprovalSubmitLightBox, .MyRequestLightBox,.ManagePermissionByUserLightBox {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 25%;
    margin-left: 50%;
    background-color: transparent;
}

.AccessRequestSubmitLightBox {
    float: left;
    width: 96px;
    height: 50px;
    margin-top: 25%;
    margin-left: 50%;
    background-color: transparent;
}

#successMessage {
    color: green;
}

#lblRequestId, #lblRequestType1, #lblRequestStatus, #lblActionDetails1, #lblRequestBy, #lblRequestedFor, #lblCopyFrom, #lblStatus, #lblApproverComment {
    font-weight: bold;
    font-family: Roboto;
}

#lblRequestId, #lblRequestType1, #lblRequestStatus, #lblActionDetails1 {
    padding: 6px;
}

#tblCopyRequestDetails tr td {
    border: 1px solid #ccc;
    padding: 5px;
}

#ErrorMessage {
    padding: 6px;
}

input[name=DeleteRowButton] {
    border: none;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    color: blueviolet;
}

.div_mainwrapper {
    /*height: 660px;*/
}

.div_menu {
    float: left;
    width: 100%;
    height: 25px;
}

#divAllPendingApprovals {
    margin-top: 6px;
    float: left;
}

#divRequestSummary {
    height: 175px;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.div_User_Details {
    margin-top: 5px;
}

#tblUserDetails, #tblCopyRequestDetails {
    width: 100%;
}

#divRequestDetails {
    /*height: 400px;*/
    float: left;
    width: 100%;
    margin-top: 20px;
    overflow: auto;
}

#BlkApprovalButtons {
    padding: 6px;
    margin-top: 5px;
}

#btnBlkApprovalApproveAll, #btnBlkApprovalRejectAll {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.div_RequestDetails {
    overflow-x: scroll;
    z-index: 1000;
}

#CopyRequestDetails {
    overflow-x: scroll;
    z-index: 1000;
    display: none;
    padding: 6px;
}

#ErrorMessage {
    display: none;
    color: red;
}

#PendingApprovalButtons {
    display: none;
    height: 30px;
    float: left;
    bottom: 0;
    /*position: absolute;*/
}

#txtBlkApproverComment {
    vertical-align: middle;
}

#tblUserDetails tr td:nth-child(2n+1) {
    width: 100px;
}

#tblUserDetails tr td:nth-child(2n) {
    width: 300px;
}

#tblCopyRequestDetails tr td:nth-child(2n+1) {
    width: 117px;
}

#tbSectionList {
    border: 1px solid black;
}

#sectionTreeView {
    height: 428px;
    overflow: auto;
}

.RequestedAccessItemsOuterDiv {
    display: none;
}

#txtUserComments {
    height: 50px;
    width: 400px;
    resize: none;
}

#SuccessMessage {
    color: green;
}

#lblApprovalUpdatingMessage {
    margin-left: -15px;
    text-align: center;
}

#EditItemPermission {
    margin-top: -31px;
}

#divAllAccessRequests {
    margin-top: 6px;
    width: 100%;
    float: left;
}

 .custom-combobox {
position: relative;
display: inline-block;
}
.custom-combobox-toggle {
position: absolute;
top: 0;
bottom: 0;
margin-left: -1px;
padding: 0;
/* support: IE7 */
*height: 1.7em;
*top: 0.1em;
}
.custom-combobox-input {
margin: 0;
padding: 0.3em;
}