﻿/*
 *  File:         Bookmark.css
 *  Author:       L&T Infotech
 *  Language:     CSS

    Modification Date       Modified By         Comments    
    29 - Jul- 2014          L&T Infotech        First Release
*/

body {
}
#dvEditBookmark
{
    width:100%;overflow:hidden;clear:both;
}
#dvBookmarkTitle
{
    width:100%;padding-bottom:10px;
}
#dvBookmarkGroup
{
    width:100%;padding-bottom:10px;
}
#bookmark,.dvConatiner
{
    overflow:hidden;
    clear:both;
}
.inputSpan
{
    float:left;
}
#title
{
    margin-left:5px;
}
.leftsection
{
font-family:Roboto;font-size:12px!important;margin-bottom:10px;font-weight:bold;text-align:left;color:#536173;/**3B4F65**/
float:left;width:30%;

}
.hrDoc
{
	color:#DDDDDD;background:#DDDDDD;height:4px;border:0px;
	margin-bottom:15px;
}
.rightsection
{
float:left;
font-family:Roboto;font-size:12px!important;
color:#536173;	
margin-bottom:10px;width:70%;
/*float:left;*/

}
#dvMessage
{
color:green!important;/*#3B4F65;*/
font-family:Roboto!important;font-size:15px!important;font-weight:bold!important;	
}
.button
{	
	background:#3B4F65;	
	border:0;
	color:white;
	font-size:12px;
	font-family:Roboto;
	cursor:pointer;
    padding:10px;
}
 .aBannerLinks,.aResources{
        color:#536173!important;
	    font-family: "Roboto"!important;
        font-size:12px;
        font-weight:normal;
        }
    .BannerLinkUL
    {padding-bottom:12px;}

    .aBannerLinks:hover .aBannerLinks
    {
        color:silver;
    }
 
    /****bookmarks******/
    .DivBookmarkGroup
    {
	 margin-bottom:5px;
	 padding:2px;
	}
	.bookmarkName
	{
		font-family: "Roboto"!important;
        font-size: 12px;
        color: #868686 !important;
        margin-bottom:10px;

	}
	.liBookmarkGroup:hover
	{
	 background:#f7f7f7;
	}
    .ulBookmarHead
    {
       padding-left: 9px;
        padding: 0px 0px 10px 0px !important;
	    float:left;
	    width:auto;
	    margin:0 10px 10px 0;
        list-style:none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0**/
    }
    .pBookmarkHead
    {
        text-transform:uppercase;
	    font-family: "Roboto"!important;
        font-size: 12px;
        color: #868686 !important;
        font-weight: bold; 
        margin-bottom:20px;

    /*padding:0 0 5px 0!important;margin:0!important**/
    }
         
    #dvGroupNameError, #dvtitleError
    {
        color:red!important;
        font-size:12px!important
    }

    .liAddBookmark
    {
	 margin-bottom:5px;
        font-weight:normal;
        clear:both;
        color:#696969!important;
	    font-family: "Roboto"!important;
        font-size:12px;
    }
  .aAddBookmark
  {
    cursor:pointer;
    color:#198FAF!important;
    font-weight:normal;
    margin-bottom:20px;
  }
  .aBookmarkGroup
  {
	cursor:pointer;font-size:12px;color:#536173;
	font-weight:normal;
	font-family:Roboto;
}
 #BookmarHead li a
    {
         cursor:pointer;
    color:#536173;;
    font-weight:normal;

    }
.aBookmarkEdit
{
cursor:pointer;margin-right:10px;	
}

.ErrorMessage
{
    font-family: Roboto;
    font-size: 12px;
    float: right;
    padding-left: 15px;
}

