﻿/*
 *  File:         ExternalSharing.css
 *  Author:       L&T Infotech
 *  Language:     CSS

    Modification Date       Modified By         Comments    
    29 - Jul- 2014          L&T Infotech        First Release
*/

body{
}
/******External Sharing****/
#condn
{
    height:160px;
    overflow:auto;
}
#ExSTitleDiv
{
	margin:10px 0 10px 0;
	clear:both
}
#ExternalSharingTitleLbl
{
	margin:0 0 10px 10px;
	font-family:Roboto;
	font-size:17px;
	font-weight:bold;
	color:#536173;
	
}
#CalendarExtender1
{width:90%;}
#ExternalSharingDiv
{
	font-family:Roboto;
	font-size:14px;
	width:100%;	
	clear:both;
	
}
#mainDiv
{margin: 5px 5px 5px 5px;text-align:left;}
#ExternalSharingLeftSideDiv
{
	width:35%;
	border-right:1px solid #ccc;
	float:left;
	height:580px;
}
#ExternalSharingRightSideDiv
{
	width:50%;
	float:right;
}
.ExternalSharingConetnt
{
	clear:both;
	overflow: hidden;
	margin-bottom:15px;
	color:#536173;
	font-weight:bold;
	font-size:12px;
}
.ExSLabel
{
	
	width:30%;float:left;
	color:#222222;
	font-weight:bold;
	font-size:14pt;
}
.ExSInputContent
{
	width:70%;
	float:right;

}
#PeoplePicker,#Message,#ExpiryDate,#ExSsetTitleTxt,#ExSContentGrpDrpDwn
{
	width:85%;
	border:1px solid #ccc;
}
#ExpiryDate
{
width:30%;
}
#ExternalSharingForm
{
	height:100%;
}
.ExSlbl
{

	font-family:Roboto;
	font-size:15pt;
	font-weight:bold;
	color:#536173;
	
	
}
.leftContent
{

	font-family:Roboto;
	font-size:12px;
	font-weight:bold;
	color:#536173;
	
	
}
#ExSlblDiv
{
	margin:0 0 30px 0;
}
#ExSorLbl
{
 text-align:right;
 color:orange;
 float:right;
}
.hrDiv
{
width: 90%;
float: left;
}

.add-more
{
    font-size:12pt!important
}
.docDetails
{
    font-size:12pt!important;
}
.ExSHr
{
	border:1px  solid #ccc;
}
.ExSSelectedDetails
{
	clear:both;
	overflow: hidden;
	color:#939393;
	font-size:12pt!important;
}
.ExSSelectedDetailsLbl
{
	width:60%;
	float:left;
}
.ExSSelectedDetailsSelectAll
{
	float:none;
	text-align:left;
}
#ExSSelectAllChkBox
{
	vertical-align:top;
	height: 1em;
    width: 1em;
    padding: 0;
    margin:0;
}
#termsbtn
{
    display:none;
}
#ExSRightTop
{
	    margin-bottom: 15px;
    clear: both;
    overflow: hidden;
}
#SharedContentDocsDiv
{
	overflow-y: auto; height:330px;width:95%;	
}
#ExSButtons
{
	
	float:left;
    text-align:right;width:100%;border-top:1px solid #CCC;padding-top:10px
}
#shareBtn,#cancelBtn
{
    float:right;
    margin-right:5px;
}
#shareBtn
{
    color:#ffffff;
    background-color:#3a4d64;
    border-color:#dfdfdf;
    font-size:13pt!important;
}
#cancelBtn
{
    color:#3a4d64;
    background-color:#f1f1f1;
    border-color:#dfdfdf;
    font-size:13pt!important;
}
#shareBtn:hover
{
    background-color:#6b7a8b;
}
#cancelBtn:hover
{
    background-color:#d2d2d2;
}
/****gridview***/
.mGrid
{border:0px!important;

}
.docIcon {
  float: left;
  padding-right: 6px;
}
.docURL {
  float: left;
}
.hide
{
    display:none;
}

.button
{
	margin: 7px 7px 7px 6px;
	background:#3B4F65;	
	border:0;
	color:white;
	font-size:12px;
	font-family:Roboto;
	cursor:pointer;
    height:30px;
    width:100px;
}
.button:hover
{
	background:#3B4F65;	
	cursor:pointer;
}
 
.docName
{
 color:#198faf !important;   
}
.docDate
{
font-family: Roboto !important;font-size: 12px;color: #939393;padding: 2px;
}
.docURL
{
color: #338200;
}
.docURL a
{
    cursor:pointer;color: #338200;text-decoration:none;
}

