﻿/*
 *  File:         ManagePermissionByUser.css
 *  Author:       L&T Infotech
 *  Language:     CSS

    Modification Date       Modified By         Comments    
    29 - Jul- 2014          L&T Infotech        First Release
*/

.err {
    color: red;

}

.uniqueperm {
    color: blue;
}

.inheritperm {
    color: green;
}

.noperm {
    color: red;
}
