﻿/*
 *  File:         Poll.css
 *  Author:       L&T Infotech
 *  Language:     CSS

    Modification Date       Modified By         Comments    
    29 - Jul- 2014          L&T Infotech        First Release
*/

#Question
{
	padding-bottom:10px;
	font-family:"Roboto";
	font-size:14pt;
    font-weight: bold !important;
    margin: 1px;
    cursor: pointer;
    padding: 5 5 5 7px;
    list-style: circle;
    color:#222222;
	
}

#Answers
{
	background:#ECEDF1;
	padding-bottom:10px;margin-left:15px;
	margin-top:10px;
	font-weight: normal;
    cursor: auto;
    padding: 0 0 0 7px;
	font-family:"Roboto";color:#444444!important;/**#78797A**/
	font-size:13pt;

}

#Answers input
{
	margin: 7px;
margin-left: 0;
}

#my_Vote
{
margin: 7px 7px 7px 6px;
background:#3a4d64;	
border:0;
color:#dddddd;
font-size:13pt;
height:30px;
width:130px!important;
cursor:pointer;
}
#my_Vote:hover
{
    background-color:#6b7a8b

}
#Previous
{
	float:left;
}

#Next
{
	float:right;
}

#pollContainer
{ 
background:#ECEDF1;
}

#LeftPoll
{ 
background:#ECEDF1;

}

.white_content {
	display: none;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	border: 0px solid blue;
	background-color: #ECEDF1;
	z-index:1002;
	overflow: auto;
}
.aCloseBtn
{
    margin-right: 10px
}
.hidden
{
    display:none;
}
.imgClose
{background-color: #ECEDF1;float:right}

#pollContainer
{
    background: #ebedef;
    padding-left:37px!important;
    padding-right:37px!important
}
.fullWidth
{
    width:100%;
}
