<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Page Layout (.aspx file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .aspx file, and any rename, move, or deletion operations will be reciprocated.

To build the page layout directly from this HTML file, simply fill in the contents of content placeholders.  Use the Snippet Generator at http://sp2013-dev-10:1451/_layouts/15/ComponentHome.aspx?Url=http%3A%2F%2Fsp2013%2Ddev%2D10%3A1451%2F%5Fcatalogs%2Fmasterpage%2FAdSpaceMasterPageAndLayouts%2FAdSpaceHome%2Easpx to create and customize additional content placeholders and other useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file within content placeholders will automatically sync to the associated page layout.

-->
<!-- _lcid="1033" _version="15.0.4569" _dal="1" -->
<!-- _LocalBinding -->
<!--SPM:<%@Master language="C#"%>-->
<!--SPM:<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Import Namespace="Microsoft.SharePoint" %>-->
<!--SPM:<%@ Assembly Name="Microsoft.Web.CommandUI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>-->
<!--SPM:<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Register TagPrefix="wssuc" TagName="Welcome" src="~/_controltemplates/15/Welcome.ascx" %>-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"[]>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head runat="server">
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="http://sp2013-dev-2:5000/_layouts/15/1033/styles/corev15.css" type="text/css" rel="stylesheet" />
        <link href="http://sp2013-dev-2:5000/_layouts/15/1033/styles/searchv15.css" type="text/css" rel="stylesheet" />
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--CS: Start Edit Mode Panel Snippet-->
            <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<Publishing:EditModePanel runat="server" id="editmodestyles">-->
                <!--MS:<SharePoint:CssRegistration name="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/editmode15.css %&#62;" After="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/pagelayouts15.css %&#62;" runat="server">-->
                <!--ME:</SharePoint:CssRegistration>-->
            <!--ME:</Publishing:EditModePanel>-->
            <!--CE: End Edit Mode Panel Snippet-->
            <!--MS:<style type="text/css">//<![CDATA[-->
                <!--

    .mid-container
    {
    float: none;
     margin:auto;
    width:100%;
        border:0;

    }
    .left-sidebar {
    display: none;}


    -->
            <!--ME: //]]></style>-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link rel="stylesheet" type="text/css" href="/_catalogs/masterpage/AdSpaceMasterPageAndLayouts/jQuery/jquery-ui-1.9.2.custom.css" />
        <link rel="stylesheet" type="text/css" href="/_catalogs/masterpage/AdSpaceMasterPageAndLayouts/CSS/menu.css" />
        <link rel="stylesheet" type="text/css" href="/_catalogs/masterpage/AdSpaceMasterPageAndLayouts/CSS/media.css" />
        <link rel="stylesheet" type="text/css" href="/_catalogs/masterpage/AdSpaceMasterPageAndLayouts/CSS/style.css" />
        <link rel="stylesheet" type="text/css" href="/_catalogs/masterpage/AdSpaceMasterPageAndLayouts/CSS/AdSalesUI.css" />
        <link rel="stylesheet" type="text/css" href="/_catalogs/masterpage/AdSpaceMasterPageAndLayouts/CSS/AdSpaceCustomPages.css" />
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
        <!--MS:<style type="text/css">//<![CDATA[-->
            <!--.ms-core-animation-transparent
    {
        opacity:0;
    }
    .ms-isBot .ms-core-animation-transparent
    {
        opacity:1;
    }
        -->
        <!--ME: //]]></style>-->
        <script type="text/javascript">//<![CDATA[

        var g_pageLoadAnimationParams = { elementSlideIn : "sideNavBox", elementSlideInPhase2 : "contentBox" };









        
    //]]>
        </script>
        <!--[if gte mso 9]><xml>
    <mso:CustomDocumentProperties>
    <mso:_dlc_DocId msdt:dt="string">NWH36MZ2TYXW-1-931</mso:_dlc_DocId>
    <mso:_dlc_DocIdItemGuid msdt:dt="string">bc535f2a-a690-49ea-97da-55347ecbd6f1</mso:_dlc_DocIdItemGuid>
    <mso:_dlc_DocIdUrl msdt:dt="string">http://sp2013-dev-10:1451/_layouts/15/DocIdRedir.aspx?ID=NWH36MZ2TYXW-1-931, NWH36MZ2TYXW-1-931</mso:_dlc_DocIdUrl>
    <mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea>
    <mso:ContentPlaceHolderHashPlaceHolderMain msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderMain>
    <mso:HtmlDesignStatusAndPreview msdt:dt="string">http://sp2013-ddev-4:5000/_catalogs/masterpage/AdSpaceHome.html, Conversion successful.</mso:HtmlDesignStatusAndPreview>
    <mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead>
    <mso:ContentTypeId msdt:dt="string">0x01010007FF3E057FA8AB4AA42FCB67B453FFC100E214EEE741181F4E9F7ACC43278EE8110003D357F861E29844953D5CAA1D4D8A3B</mso:ContentTypeId>
    <mso:ContentPlaceHolderHashPlaceHolderPageTitle msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitle>
    <mso:MasterHash msdt:dt="string">736709082</mso:MasterHash>
    <mso:HtmlDesignFromMaster msdt:dt="string">http://sp2013-ddev-4:5000/_catalogs/masterpage/AdSpaceMaster.html, http://sp2013-ddev-4:5000/_catalogs/masterpage/AdSpaceMaster.html</mso:HtmlDesignFromMaster>
    <mso:PublishingAssociatedContentType msdt:dt="string">;#HomePageCT;#0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900D195CB4C771344A097BEFDF09E75BFA4;#</mso:PublishingAssociatedContentType>
    <mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
    <mso:ContentPlaceHolderHashPlaceHolderFormDigest msdt:dt="string">1833940137</mso:ContentPlaceHolderHashPlaceHolderFormDigest>
    <mso:ContentPlaceHolderHashPlaceHolderLeftActions msdt:dt="string">1162160849</mso:ContentPlaceHolderHashPlaceHolderLeftActions>
    <mso:ContentPlaceHolderChangedPlaceHolderMain msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderMain>
    <mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead>
    <mso:ContentPlaceHolderHashPlaceHolderCalendarNavigator msdt:dt="string">-1689116638</mso:ContentPlaceHolderHashPlaceHolderCalendarNavigator>
    <mso:ContentPlaceHolderChangedPlaceHolderPageTitle msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitle>
    <mso:ContentPlaceHolderHashPlaceHolderTitleBreadcrumb msdt:dt="string">683900979</mso:ContentPlaceHolderHashPlaceHolderTitleBreadcrumb>
    <mso:ContentPlaceHolderHashPlaceHolderQuickLaunchBottom msdt:dt="string">-2114089562</mso:ContentPlaceHolderHashPlaceHolderQuickLaunchBottom>
    <mso:ContentPlaceHolderHashPlaceHolderQuickLaunchTop msdt:dt="string">-336572028</mso:ContentPlaceHolderHashPlaceHolderQuickLaunchTop>
    <mso:ContentPlaceHolderHashPlaceHolderLeftNavBar msdt:dt="string">1402090288</mso:ContentPlaceHolderHashPlaceHolderLeftNavBar>
    <mso:ContentPlaceHolderHashPlaceHolderSearchArea msdt:dt="string">-1430592098</mso:ContentPlaceHolderHashPlaceHolderSearchArea>
    <mso:ContentPlaceHolderHashPlaceHolderTopNavBar msdt:dt="string">2010927482</mso:ContentPlaceHolderHashPlaceHolderTopNavBar>
    <mso:ContentPlaceHolderHashPlaceHolderLeftNavBarDataSource msdt:dt="string">-221322779</mso:ContentPlaceHolderHashPlaceHolderLeftNavBarDataSource>
    <mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea>
    <mso:ContentPlaceHolderHashPlaceHolderPageDescription msdt:dt="string">1337919370</mso:ContentPlaceHolderHashPlaceHolderPageDescription>
    <mso:ContentPlaceHolderHashPlaceHolderLeftNavBarTop msdt:dt="string">-44974201</mso:ContentPlaceHolderHashPlaceHolderLeftNavBarTop>
    <mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
    <mso:ContentPlaceHolderChangedPlaceHolderSearchArea msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderSearchArea>
    <mso:ContentPlaceHolderChangedPlaceHolderLeftNavBar msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderLeftNavBar>
    <mso:ContentType msdt:dt="string">Html Page Layout</mso:ContentType>
<mso:ContentPlaceHolderChangedPlaceHolderFormDigest msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderFormDigest>
<mso:ContentPlaceHolderChangedPlaceHolderTopNavBar msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderTopNavBar>
<mso:ContentPlaceHolderChangedPlaceHolderPageDescription msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageDescription>
<mso:ContentPlaceHolderChangedPlaceHolderTitleBreadcrumb msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderTitleBreadcrumb>
<mso:PublishingPreviewImage msdt:dt="string"></mso:PublishingPreviewImage>
<mso:HtmlDesignPreviewUrl msdt:dt="string"></mso:HtmlDesignPreviewUrl>
<mso:MasterPageDescription msdt:dt="string"></mso:MasterPageDescription>
<mso:PublishingAssociatedVariations msdt:dt="string"></mso:PublishingAssociatedVariations>
<mso:PublishingHidden msdt:dt="string">0</mso:PublishingHidden>
</mso:CustomDocumentProperties>
    </xml><![endif]-->
        <title>
        AdSpaceHome
    
        </title>
    </head>
    <body>
        <script type="text/javascript">//<![CDATA[
         var submitHook = function () { return false; }; theForm._spOldSubmit = theForm.submit; theForm.submit = function () { if (!submitHook()) { this._spOldSubmit(); } };








        
    //]]>
        </script>
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderTitleBreadcrumb" runat="server">-->
            <!--SPM:<SharePoint:ListSiteMapPath
        runat="server"
        SiteMapProviders="SPSiteMapProvider,SPContentMapProvider"
        RenderCurrentNodeAsLink="false"
        PathSeparator=""
        CssClass="ms-breadcrumb"
        NodeStyle-CssClass="ms-breadcrumbNode"
        CurrentNodeStyle-CssClass="ms-breadcrumbCurrentNode"
        RootNodeStyle-CssClass="ms-breadcrumbRootNode"
        NodeImageOffsetX="0"
        NodeImageOffsetY="289"
        NodeImageWidth="16"
        NodeImageHeight="16"
        NodeImageUrl="/_layouts/15/images/fgimg.png?rev=23"
        RTLNodeImageOffsetX="0"
        RTLNodeImageOffsetY="312"
        RTLNodeImageWidth="16"
        RTLNodeImageHeight="16"
        RTLNodeImageUrl="/_layouts/15/images/fgimg.png?rev=23"
        HideInteriorRootNodes="true"
        SkipLinkText=""/>-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderTopNavBar" runat="server">-->
            <!--SPM:<SharePoint:AspMenu
    ID="TopNavigationMenu"
    Runat="server"
    EnableViewState="false"
    DataSourceID="topSiteMap"
    AccessKey="&#60;%$Resources:wss,navigation_accesskey%&#62;"
    UseSimpleRendering="true"
    UseSeparateCss="false"
    Orientation="Horizontal"
    StaticDisplayLevels="2"
    AdjustForShowStartingNode="true"
    MaximumDynamicDisplayLevels="2"
    SkipLinkText=""/>-->
            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><link rel="stylesheet" type="text/css" href="../_layouts/15/1033/styles/menu-21.css" /><div id="zz7_TopNavigationMenu" class=" noindex ms-core-listMenu-horizontalBox"><ul id="zz9_RootAspMenu" class="root ms-core-listMenu-root static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" title="Default Publishing Site" href="#" accesskey="1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Default Publishing Site</span></span></a></li></ul></div><!--PE: End of READ-ONLY PREVIEW-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderSearchArea" runat="server">-->
            <div id="searchInputBox">
                <!--SPM:<SharePoint:DelegateControl runat="server" ControlId="SmallSearchInputBox"/>-->
                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome "><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPart" width="100%" class="ms-WPBody noindex " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_SmallSearchInputBox1_csr" id="ctl00_SmallSearchInputBox1_csr"><div id="SearchBox" name="Control"><div class="ms-srch-sb ms-srch-sb-border" id="ctl00_SmallSearchInputBox1_csr_sboxdiv"><input type="text" value="Search This Site..." maxlength="2048" accesskey="S" title="Search This Site..." id="ctl00_SmallSearchInputBox1_csr_sbox" autocomplete="off" autocorrect="off" class="ms-srch-sb-prompt ms-helperText" /><a title="Search" style="float:right;" class="ms-srch-sb-searchLink" id="ctl00_SmallSearchInputBox1_csr_SearchLink" href="javascript: {}"><img src="http://adspaceprototype/_layouts/15/images/searchresultui.png" class="ms-srch-sb-searchImg" id="searchImg" alt="Search" /></a><div class="ms-qSuggest-container ms-shadow" id="AutoCompContainer"><div id="ctl00_SmallSearchInputBox1_csr_AutoCompList"></div></div></div></div></div><div componentid="ctl00_SmallSearchInputBox1_csr" id="ctl00_SmallSearchInputBox1_csr"></div><div id="ctl00_SmallSearchInputBox1"></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                <div id="verticalSearch">
                    <!--CS: Start Search Navigation Snippet-->
                    <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                    <!--SPM:<%@Register Tagprefix="a2e8ead9d"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
                    <!--MS:<spsswc:SearchNavigationWebPart runat="server" QueryGroupName="Default" Title="&#60;%$Resources:Microsoft.Office.Server.Search,SearchNavigation_Title;%&#62;" FrameType="None" SuppressWebPartChrome="False" Description="&#60;%$Resources:Microsoft.Office.Server.Search,SearchNavigation_Desc;%&#62;" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&#60;%$Resources:core,ImportErrorMessage;%&#62;" ImportErrorMessage="&#60;%$Resources:core,ImportErrorMessage;%&#62;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_81e90696_f647_491d_8355_964c2757a26a" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{81e90696-f647-491d-8355-964c2757a26a}" WebPart="true" Height="" Width="">-->
                    <!--ME:</spsswc:SearchNavigationWebPart>-->
                    <!--CE: End Search Navigation Snippet-->
                </div>
                <div class="styled-select" style="display:none">
                    <select id="lxselect" name="select">
                    </select>
                </div>
            </div>
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderLeftNavBar" runat="server">-->
            <a id="startNavigation" name="startNavigation" tabindex="-1">
            </a>
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderLeftNavBarTop" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderQuickLaunchTop" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderLeftNavBarDataSource" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderCalendarNavigator" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderLeftActions" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
            <div class="ms-core-sideNavBox-removeLeftMargin">
                <!--SPM:<SharePoint:SPNavigationManager
                            id="QuickLaunchNavigationManager"
                            runat="server"
                            QuickLaunchControlId="V4QuickLaunchMenu"
                            ContainedControl="QuickLaunch"
                            EnableViewState="false"
>-->
                <!--SPM:<SharePoint:DelegateControl runat="server"
                ControlId="QuickLaunchDataSource">-->
                <!--SPM:<Template_Controls>-->
                <!--SPM:<asp:SiteMapDataSource
                                        SiteMapProvider="SPNavigationProvider"
                                        ShowStartingNode="False"
                                        id="QuickLaunchSiteMap"
                                        StartingNodeUrl="sid:1025"
                                        runat="server"
/>-->
                <!--SPM:</Template_Controls>-->
                <!--SPM:</SharePoint:DelegateControl>-->
                <!--SPM:<SharePoint:AspMenu
                                id="V4QuickLaunchMenu"
                                runat="server"
                                EnableViewState="false"
                                DataSourceId="QuickLaunchSiteMap"
                                UseSimpleRendering="true"
                                Orientation="Vertical"
                                StaticDisplayLevels="3"
                                AdjustForShowStartingNode="true"
                                MaximumDynamicDisplayLevels="0"
                                SkipLinkText=""
/>-->
                <!--SPM:</SharePoint:SPNavigationManager>-->
                <!--SPM:<SharePoint:SPNavigationManager
                                id="TreeViewNavigationManagerV4"
                                runat="server"
                                ContainedControl="TreeView"
                                CssClass="ms-tv-box"
>-->
                <!--SPM:<SharePoint:SPLinkButton runat="server" NavigateUrl="~site/_layouts/15/viewlsts.aspx" id="idNavLinkSiteHierarchyV4" Text="&#60;%$Resources:wss,treeview_header%&#62;" accesskey="&#60;%$Resources:wss,quiklnch_allcontent_AK%&#62;"
                CssClass="ms-tv-header"/>-->
                <!--SPM:<SharePoint:DelegateControl runat="server" ControlId="TreeViewAndDataSource">-->
                <!--SPM:<Template_Controls>-->
                <!--SPM:<SharePoint:SPHierarchyDataSourceControl
                                            runat="server"
                                            id="TreeViewDataSourceV4"
                                            RootContextObject="Web"
                                            IncludeDiscussionFolders="true"
/>-->
                <!--SPM:<SharePoint:SPRememberScroll runat="server" id="TreeViewRememberScrollV4" onscroll="javascript:_spRecordScrollPositions(this);"
                            style="overflow: auto;">-->
                <!--SPM:<SharePoint:SPTreeView
                                            id="WebTreeViewV4"
                                            runat="server"
                                            ShowLines="false"
                                            DataSourceId="TreeViewDataSourceV4"
                                            ExpandDepth="0"
                                            SelectedNodeStyle-CssClass="ms-tv-selected"
                                            NodeStyle-CssClass="ms-tv-item"
                                            SkipLinkText=""
                                            NodeIndent="12"
                                            ExpandImageUrl="/_layouts/15/images/tvclosed.png?rev=23"
                                            ExpandImageUrlRtl="/_layouts/15/images/tvclosedrtl.png?rev=23"
                                            CollapseImageUrl="/_layouts/15/images/tvopen.png?rev=23"
                                            CollapseImageUrlRtl="/_layouts/15/images/tvopenrtl.png?rev=23"
                                            NoExpandImageUrl="/_layouts/15/images/tvblank.gif?rev=23"
>-->
                <!--SPM:</SharePoint:SPTreeView>-->
                <!--SPM:</SharePoint:SPRememberScroll>-->
                <!--SPM:</Template_Controls>-->
                <!--SPM:</SharePoint:DelegateControl>-->
                <!--SPM:</SharePoint:SPNavigationManager>-->
                <!--MS:<asp:ContentPlaceHolder id="PlaceHolderQuickLaunchBottom" runat="server">-->
                    <div class="ms-core-listMenu-verticalBox">
                        <!--SPM:<SharePoint:ClusteredSPLinkButton
                    runat="server"
                    id="idNavLinkViewAll"
                    PermissionsString="ViewFormPages"
                    NavigateUrl="~site/_layouts/15/viewlsts.aspx"
                    Text="&#60;%$Resources:wss,AllSiteContentMore%&#62;"
                    accesskey="&#60;%$Resources:wss,quiklnch_allcontent_AK%&#62;"
                    CssClass="ms-core-listMenu-item ms-core-listMenu-heading"/>-->
                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><a id="ctl00_idNavLinkViewAll" accesskey="3" class="ms-core-listMenu-item ms-core-listMenu-heading" href="#"><span class="ms-splinkbutton-text">All Site Content</span></a><!--PE: End of READ-ONLY PREVIEW-->
                    </div>
                <!--ME:</asp:ContentPlaceHolder>-->
            </div>
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitleInTitleArea" runat="server">-->
            <!--SPM:<SharePoint:SPTitleBreadcrumb
                runat="server"
                RenderCurrentNodeAsLink="true"
                SiteMapProvider="SPContentMapProvider"
            CentralAdminSiteMapProvider="SPXmlAdminContentMapProvider">-->
            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><span id="ctl00_DeltaPlaceHolderPageTitleInTitleArea">Home</span><!--PE: End of READ-ONLY PREVIEW-->
            <!--SPM:<PATHSEPARATORTEMPLATE>-->
            <!--SPM:<SharePoint:ClusteredDirectionalSeparatorArrow runat="server"/>-->
            <!--SPM:</PATHSEPARATORTEMPLATE>-->
            <!--SPM:</SharePoint:SPTitleBreadcrumb>-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageDescription" runat="server">-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderMain" runat="server">-->
            <script type="text/javascript">//<![CDATA[

        var announcementsURL = _spPageContextInfo.siteAbsoluteUrl + '/_catalogs/masterpage/AdSpaceMasterPageAndLayouts/JS/REST/GlobalWidgetAnnouncements.js?V=' + RetreiveAppDetails.getAppDetails('Javascript Version');
        //document.body.appendChild(document.createElement('script')).src = announcementsURL;

        document.write("<script type='text/javascript' src='" + announcementsURL + "'>//<![CDATA[<\/scr" + "ipt>")
    //]]>
            </script>
            <div class="body-container">
                <div class="wrapper">
                    <div class="top-container">
                        <div class="left-top-content">
                            <div class="heading-bg">
                        Top Content

                    
                            </div>
                            <div class="content-padding">
                                <div class="top-content">
                                    <ul class="tab-items">
                                        <li style="background: white ;border:0 white; padding-left:0;margin-left:0 " id="tab1">
                                            <a style="padding-left:0;margin-right:2px" href="#fragment1" onclick="ascommon.loadLatest()">
                                        LATEST
                                    
                                            </a>
                                        </li>
                                        <li style="background: white ;border:0 white; padding-left:0;margin-left:0 " id="tab2">
                                            <a style="padding-left:0;margin-right:2px;display:none" href="#fragment2" onclick="ascommon.loadMostViwed()">

                                        MOST VIEWED



                                    
                                            </a>
                                        </li>
                                        <li style="background: white ;border:0 white; padding-left:0;margin-left:0 " id="tab3">
                                            <a style="padding-left:0;margin-right:2px;padding-left:0;margin-right:2px;display:none" href="#fragment3" onclick="ascommon.loadLastAccesed()">

                                        LAST ACCESSED



                                    
                                            </a>
                                        </li>
                                        <li style="background: white ;border:0 white; padding-left:0;margin-left:0 " id="tab4">
                                            <a style="padding-left:0;margin-right:2px" href="#fragment4" onclick="ascommon.loadPopular()">

                                        POPULAR



                                    
                                            </a>
                                        </li>
                                    </ul>
                                    <hr class="hrLatestContent" />
                                    <div class="top-content-container">
                                        <div id="fragment1" class="top-content-tab">
                                            <div data-name="WebPartZone">
                                                <!--CS: Start Web Part Zone Snippet-->
                                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                                <div xmlns:ie="ie">
                                                    <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="LatestZone" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                                        <!--MS:<ZoneTemplate>-->
                                                            <!--DC: Replace this comment with default web parts for new pages. -->
                                                        <!--ME:</ZoneTemplate>-->
                                                    <!--ME:</WebPartPages:WebPartZone>-->
                                                </div>
                                                <!--CE: End Web Part Zone Snippet-->
                                            </div>
                                        </div>
                                        <div id="fragment2" class="top-content-tab">
                                            <div data-name="WebPartZone">
                                                <!--CS: Start Web Part Zone Snippet-->
                                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                                <div xmlns:ie="ie">
                                                    <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="LatestViewedZone" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                                        <!--MS:<ZoneTemplate>-->
                                                            <!--DC: Replace this comment with default web parts for new pages. -->
                                                        <!--ME:</ZoneTemplate>-->
                                                    <!--ME:</WebPartPages:WebPartZone>-->
                                                </div>
                                                <!--CE: End Web Part Zone Snippet-->
                                            </div>
                                        </div>
                                        <div id="fragment3" class="top-content-tab">
                                            <div data-name="WebPartZone">
                                                <!--CS: Start Web Part Zone Snippet-->
                                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                                <div xmlns:ie="ie">
                                                    <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="MostViewedZone" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                                        <!--MS:<ZoneTemplate>-->
                                                            <!--DC: Replace this comment with default web parts for new pages. -->
                                                        <!--ME:</ZoneTemplate>-->
                                                    <!--ME:</WebPartPages:WebPartZone>-->
                                                </div>
                                                <!--CE: End Web Part Zone Snippet-->
                                            </div>
                                        </div>
                                        <div id="fragment4" class="top-content-tab">
                                            <div data-name="WebPartZone">
                                                <!--CS: Start Web Part Zone Snippet-->
                                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                                <div xmlns:ie="ie">
                                                    <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="PopularZone" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                                        <!--MS:<ZoneTemplate>-->
                                                            <!--DC: Replace this comment with default web parts for new pages. -->
                                                        <!--ME:</ZoneTemplate>-->
                                                    <!--ME:</WebPartPages:WebPartZone>-->
                                                </div>
                                                <!--CE: End Web Part Zone Snippet-->
                                            </div>
                                        </div>
                                        <div class="hidden">
                                            <div id="fragmentTab1" class="hidden">
                                                <div data-name="Page Field: TabletLatestContent">
                                                    <!--CS: Start Page Field: TabletLatestContent Snippet-->
                                                    <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                                    <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="c1bfdb0b-68d2-417d-93af-dd58564d58f5" runat="server">-->
                                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">TabletLatestContent</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">TabletLatestContent</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">TabletLatestContent field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                                    <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                                                    <!--CE: End Page Field: TabletLatestContent Snippet-->
                                                </div>
                                            </div>
                                            <div id="fragmentTab2" class="hidden">
                                                <div data-name="Page Field: TabletMostViewedContent">
                                                    <!--CS: Start Page Field: TabletMostViewedContent Snippet-->
                                                    <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                                    <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="e2726e19-12ec-4a7a-abcb-1c2ca60829ab" runat="server">-->
                                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">TabletMostViewedContent</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">TabletMostViewedContent</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">TabletMostViewedContent field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                                    <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                                                    <!--CE: End Page Field: TabletMostViewedContent Snippet-->
                                                </div>
                                            </div>
                                            <div id="fragmentTab3" class="hidden">
                                                <div data-name="Page Field: TabletLastAccessedContent">
                                                    <!--CS: Start Page Field: TabletLastAccessedContent Snippet-->
                                                    <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                                    <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="454f0578-dc0e-44e5-8bf8-cadfbfd1e6df" runat="server">-->
                                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">TabletLastAccessedContent</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">TabletLastAccessedContent</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">TabletLastAccessedContent field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                                    <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                                                    <!--CE: End Page Field: TabletLastAccessedContent Snippet-->
                                                </div>
                                            </div>
                                            <div id="fragmentTab4" class="hidden">
                                                <div data-name="Page Field: TabletPopularContent">
                                                    <!--CS: Start Page Field: TabletPopularContent Snippet-->
                                                    <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                                    <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="1f30b9fe-ffc6-464a-8004-6171edb83802" runat="server">-->
                                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">TabletPopularContent</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">TabletPopularContent</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">TabletPopularContent field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                                    <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                                                    <!--CE: End Page Field: TabletPopularContent Snippet-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--CS: Start Page Field: LeftTopContent Snippet-->
                                        <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                        <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="0a791357-9ce3-43bd-ba43-ff87b589c830" runat="server">-->
                                            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">LeftTopContent</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">LeftTopContent</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">LeftTopContent field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                        <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                                        <!--CE: End Page Field: LeftTopContent Snippet-->
                                    </div>
                                </div>
                            </div>
                            <div class="left-top-content hidden-desktop">
                                <div class="more-link">
                                    <a href="/Pages/TopContentListView.aspx">more
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--announcement div-->
                        <div class="right-top-content">
                            <div class="heading-bg">
                        Announcements

                    
                            </div>
                            <div class="content-padding">
                                <div class="top-announcement">
                                    <table id="Announcetable">
                                    </table>
                                    <!--CS: Start Page Field: RightAnnouncements Snippet-->
                                    <!--SPM:<%@Register Tagprefix="PageFieldRichLinkField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <!--MS:<PageFieldRichLinkField:RichLinkField FieldName="abdb004c-5d08-4134-a0d0-76b6a3460d4c" runat="server">-->
                                        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">RightAnnouncements</div><div id="ctl02__ControlWrapper_RichLinkField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">RightAnnouncements</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field"><a href="http://www.microsoft.com">"RightAnnouncements" field</a></div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                                    <!--ME:</PageFieldRichLinkField:RichLinkField>-->
                                    <!--CE: End Page Field: RightAnnouncements Snippet-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="moreForTopandAnnounce" class="top-more-links">
                        <div class="left-top-content hidden-tablet">
                            <a class="more-link" href="/Pages/TopContentListView.aspx">
                        more
                    
                            </a>
                        </div>
                        <div class="right-top-content">
                            <div class="more-link">
                                <a href="/Pages/AllAnnouncements.aspx">more
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-container">
                        <div class="left-bottom-content">
                            <!---#F1F2F5-->
                            <div class="heading-bg">
                        Featured Links


                    
                            </div>
                            <div id="featuredLinks" class="featured-links">
                            </div>
                            <div class="heading-bg">
                        Subscriptions


                    
                            </div>
                            <!--CS: Start Page Field: LeftSubscriptions Snippet-->
                            <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="cbea9c5a-6c96-4ec7-9746-76a5f0d0dc9f" runat="server">-->
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">LeftSubscriptions</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">LeftSubscriptions</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">LeftSubscriptions field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                            <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                            <!--CE: End Page Field: LeftSubscriptions Snippet-->
                            <div id="subscription" class="my-subscriptions">
                            </div>
                            <div class="heading-bg">
                        Poll



                    
                            </div>
                            <!--CS: Start Page Field: LeftPoll Snippet-->
                            <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="8a1fab00-b7b9-45bb-8f69-df841907b969" runat="server">-->
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">LeftPoll</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">LeftPoll</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">LeftPoll field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                            <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                            <!--CE: End Page Field: LeftPoll Snippet-->
                            <div id="poll" class="poll-box">
                            </div>
                        </div>
                        <div class="right-bottom-content">
                            <div class="heading-bg">
								Viacom News                    
                            </div>
                            <div id="viacomNews" class="viacom-news">
                                <div data-name="WebPartZone">
                                    <!--CS: Start Web Part Zone Snippet-->
                                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <div xmlns:ie="ie">
                                        <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="ViacomNewsZone" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                            <!--MS:<ZoneTemplate>-->
                                                <!--DC: Replace this comment with default web parts for new pages. -->
                                            <!--ME:</ZoneTemplate>-->
                                        <!--ME:</WebPartPages:WebPartZone>-->
                                    </div>
                                    <!--CE: End Web Part Zone Snippet-->
                                </div>
                            </div>
                            <!--CS: Start Page Field: RightViacomNews Snippet-->
                            <!--SPM:<%@Register Tagprefix="PageFieldRichHtmlField" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <!--MS:<PageFieldRichHtmlField:RichHtmlField FieldName="15e3e0d4-b08c-4f16-a6d5-3b528ee0522d" runat="server">-->
                                <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div id="ctl02_label" style="display:none">RightViacomNews</div><div id="ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl02_label"><div align="left" class="ms-formfieldcontainer"><div class="ms-formfieldlabelcontainer" nowrap="nowrap"><span class="ms-formfieldlabel" nowrap="nowrap">RightViacomNews</span></div><div class="ms-formfieldvaluecontainer"><div class="ms-rtestate-field">RightViacomNews field value. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                            <!--ME:</PageFieldRichHtmlField:RichHtmlField>-->
                            <!--CE: End Page Field: RightViacomNews Snippet-->
                            <div class="moreContainer">
                                <a class="more" style=" padding-bottom:5px" href="/Pages/AllViacomNews.aspx">more</a>
                                <hr class="hrDoc" style="padding:0px; width:100%;" />
                            </div>
							 <div class="heading-bg">
								External Viacom News                    
                            </div>
                            <div id="externalNews" class="external-news">
								<div data-name="WebPartZone">
                                    <!--CS: Start Web Part Zone Snippet-->
                                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <div xmlns:ie="ie">
                                        <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="ViacomExternalNewsZone" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                            <!--MS:<ZoneTemplate>-->
                                                <!--DC: Replace this comment with default web parts for new pages. -->
                                            <!--ME:</ZoneTemplate>-->
                                        <!--ME:</WebPartPages:WebPartZone>-->
                                    </div>
                                    <!--CE: End Web Part Zone Snippet-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderFormDigest" runat="server">-->
            <!--SPM:<SharePoint:FormDigest runat="server"/>-->
        <!--ME:</asp:ContentPlaceHolder>-->
    </body>
</html>
