<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Page Layout (.aspx file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .aspx file, and any rename, move, or deletion operations will be reciprocated.

To build the page layout directly from this HTML file, simply fill in the contents of content placeholders.  Use the Snippet Generator at http://sp2013-dev-6:7000/sites/adspace/_layouts/15/ComponentHome.aspx?Url=http%3A%2F%2Fsp2013%2Ddev%2D6%3A7000%2Fsites%2Fadspace%2F%5Fcatalogs%2Fmasterpage%2FAdSpaceSearch%2Easpx to create and customize additional content placeholders and other useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file within content placeholders will automatically sync to the associated page layout.

-->
<!-- _lcid="1033" _version="15.0.4571" _dal="1" -->
<!-- _LocalBinding -->
<!--SPM:<%@Master language="C#"%>-->
<!--SPM:<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Import Namespace="Microsoft.SharePoint" %>-->
<!--SPM:<%@ Assembly Name="Microsoft.Web.CommandUI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>-->
<!--SPM:<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
<!--SPM:<%@ Register TagPrefix="wssuc" TagName="Welcome" src="~/_controltemplates/15/Welcome.ascx" %>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"[]>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head runat="server">
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="http://sp2013-dev-6:7000/_layouts/15/1033/styles/corev15.css" type="text/css" rel="stylesheet" />
        <link href="http://sp2013-dev-6:7000/_layouts/15/1033/styles/searchv15.css" type="text/css" rel="stylesheet" />
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--CS: Start Edit Mode Panel Snippet-->
            <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<Publishing:EditModePanel runat="server" id="editmodestyles">-->
                <!--MS:<SharePoint:CssRegistration name="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/editmode15.css %&#62;" After="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/pagelayouts15.css %&#62;" runat="server">-->
                <!--ME:</SharePoint:CssRegistration>-->
            <!--ME:</Publishing:EditModePanel>-->
            <!--CE: End Edit Mode Panel Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
                <style type="text/css">//<![CDATA[
    .ms-core-animation-transparent
    {
        opacity:0;
    }
    .ms-isBot .ms-core-animation-transparent
    {
        opacity:1;
    }
    
        
        //]]>
        </style>
        <script type="text/javascript">//<![CDATA[
        var g_pageLoadAnimationParams = { elementSlideIn : "sideNavBox", elementSlideInPhase2 : "contentBox" };
    
        
        //]]>
        </script>
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">ZRMVMDDDEAE7-1-984</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">9567a3fc-0f2d-498b-be7b-d5dc7b73b3ac</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">http://sp2013-dev-6:7000/sites/adspace/_layouts/15/DocIdRedir.aspx?ID=ZRMVMDDDEAE7-1-984, ZRMVMDDDEAE7-1-984</mso:_dlc_DocIdUrl>
<mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitleInTitleArea>
<mso:ContentPlaceHolderHashPlaceHolderMain msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderMain>
<mso:HtmlDesignStatusAndPreview msdt:dt="string">http://sp2013-dev-6:7000/sites/adspace/_catalogs/masterpage/AdSpaceSearch.html, Conversion successful.</mso:HtmlDesignStatusAndPreview>
<mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderAdditionalPageHead>
<mso:ContentTypeId msdt:dt="string">0x01010007FF3E057FA8AB4AA42FCB67B453FFC100E214EEE741181F4E9F7ACC43278EE8110003D357F861E29844953D5CAA1D4D8A3B</mso:ContentTypeId>
<mso:ContentPlaceHolderHashPlaceHolderPageTitle msdt:dt="string">1</mso:ContentPlaceHolderHashPlaceHolderPageTitle>
<mso:HtmlDesignFromMaster msdt:dt="string">http://sp2013-dev-6:7000/sites/adspace/_catalogs/masterpage/seattle.html, http://sp2013-dev-6:7000/sites/adspace/_catalogs/masterpage/seattle.html</mso:HtmlDesignFromMaster>
<mso:PublishingAssociatedContentType msdt:dt="string">;#Article Page;#0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D;#</mso:PublishingAssociatedContentType>
<mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
<mso:ContentPlaceHolderHashPlaceHolderFormDigest msdt:dt="string">1833940137</mso:ContentPlaceHolderHashPlaceHolderFormDigest>
<mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderAdditionalPageHead>
<mso:ContentPlaceHolderHashPlaceHolderLeftActions msdt:dt="string">1162160849</mso:ContentPlaceHolderHashPlaceHolderLeftActions>
<mso:ContentPlaceHolderChangedPlaceHolderMain msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderMain>
<mso:ContentPlaceHolderChangedPlaceHolderFormDigest msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderFormDigest>
<mso:ContentPlaceHolderChangedPlaceHolderTopNavBar msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderTopNavBar>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitle msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitle>
<mso:ContentPlaceHolderHashPlaceHolderTitleBreadcrumb msdt:dt="string">683900979</mso:ContentPlaceHolderHashPlaceHolderTitleBreadcrumb>
<mso:ContentPlaceHolderChangedPlaceHolderLeftActions msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderLeftActions>
<mso:ContentPlaceHolderChangedPlaceHolderSearchArea msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderSearchArea>
<mso:ContentPlaceHolderHashPlaceHolderLeftNavBar msdt:dt="string">1289116816</mso:ContentPlaceHolderHashPlaceHolderLeftNavBar>
<mso:ContentPlaceHolderHashPlaceHolderSearchArea msdt:dt="string">50717157</mso:ContentPlaceHolderHashPlaceHolderSearchArea>
<mso:ContentPlaceHolderChangedPlaceHolderLeftNavBar msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderLeftNavBar>
<mso:ContentPlaceHolderHashPlaceHolderTopNavBar msdt:dt="string">2010927482</mso:ContentPlaceHolderHashPlaceHolderTopNavBar>
<mso:ContentPlaceHolderChangedPlaceHolderPageDescription msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageDescription>
<mso:ContentPlaceHolderHashPlaceHolderPageDescription msdt:dt="string">1337919370</mso:ContentPlaceHolderHashPlaceHolderPageDescription>
<mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderPageTitleInTitleArea>
<mso:ContentPlaceHolderChangedPlaceHolderTitleBreadcrumb msdt:dt="string">True</mso:ContentPlaceHolderChangedPlaceHolderTitleBreadcrumb>
<mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
</mso:CustomDocumentProperties>
</xml><![endif]-->
        <title>TopContent
        </title>
    </head>
<body>
    <script type="text/javascript">
        //<![CDATA[ var submitHook = function () { return false; }; theForm._spOldSubmit = theForm.submit; theForm.submit = function () { if (!submitHook()) { this._spOldSubmit(); } };












        //]]>
    </script>
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderTitleBreadcrumb" runat="server">-->
    <!--SPM:<SharePoint:ListSiteMapPath
        runat="server"
        SiteMapProviders="SPSiteMapProvider,SPContentMapProvider"
        RenderCurrentNodeAsLink="false"
        PathSeparator=""
        CssClass="ms-breadcrumb"
        NodeStyle-CssClass="ms-breadcrumbNode"
        CurrentNodeStyle-CssClass="ms-breadcrumbCurrentNode"
        RootNodeStyle-CssClass="ms-breadcrumbRootNode"
        NodeImageOffsetX="0"
        NodeImageOffsetY="289"
        NodeImageWidth="16"
        NodeImageHeight="16"
        NodeImageUrl="/_layouts/15/images/fgimg.png?rev=23"
        RTLNodeImageOffsetX="0"
        RTLNodeImageOffsetY="312"
        RTLNodeImageWidth="16"
        RTLNodeImageHeight="16"
        RTLNodeImageUrl="/_layouts/15/images/fgimg.png?rev=23"
        HideInteriorRootNodes="true"
        SkipLinkText=""/>-->
    <!--ME:</asp:ContentPlaceHolder>-->
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderTopNavBar" runat="server">-->
    <!--SPM:<SharePoint:AspMenu
    ID="TopNavigationMenu"
    Runat="server"
    EnableViewState="false"
    DataSourceID="topSiteMap"
    AccessKey="&#60;%$Resources:wss,navigation_accesskey%&#62;"
    UseSimpleRendering="true"
    UseSeparateCss="false"
    Orientation="Horizontal"
    StaticDisplayLevels="2"
    AdjustForShowStartingNode="true"
    MaximumDynamicDisplayLevels="2"
    SkipLinkText=""/>-->
    <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><link rel="stylesheet" type="text/css" href="http://sp2013-dev-2:5000/sites/adspace/_layouts/15/1033/styles/menu-21.css" /><div id="zz7_TopNavigationMenu" class=" noindex ms-core-listMenu-horizontalBox"><ul id="zz9_RootAspMenu" class="root ms-core-listMenu-root static"><li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" title="Default Publishing Site" href="#" accesskey="1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Default Publishing Site</span></span></a></li></ul></div><!--PE: End of READ-ONLY PREVIEW-->
    <!--ME:</asp:ContentPlaceHolder>-->
    <script type="text/javascript">
//<![CDATA[
        

        //]]>
    </script>
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderSearchArea" runat="server">-->
    <div id="searchInputBox">
        <!--SPM:<SharePoint:DelegateControl runat="server" ControlId="SmallSearchInputBox"/>-->
        <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome "><div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPart" width="100%" class="ms-WPBody noindex " onlyformepart="true" allowdelete="false" style=""><div componentid="ctl00_SmallSearchInputBox1_csr" id="ctl00_SmallSearchInputBox1_csr"><div id="SearchBox" name="Control"><div class="ms-srch-sb ms-srch-sb-border" id="ctl00_SmallSearchInputBox1_csr_sboxdiv"><input type="text" value="Search This Site..." maxlength="2048" accesskey="S" title="Search This Site..." id="ctl00_SmallSearchInputBox1_csr_sbox" autocomplete="off" autocorrect="off" class="ms-srch-sb-prompt ms-helperText" /><a title="Search" style="float:right;" class="ms-srch-sb-searchLink" id="ctl00_SmallSearchInputBox1_csr_SearchLink" href="javascript: {}"><img src="http://sp2013-dev-2:5000/sites/adspace/_layouts/15/images/searchresultui.png" class="ms-srch-sb-searchImg" id="searchImg" alt="Search" /></a><div class="ms-qSuggest-container ms-shadow" id="AutoCompContainer"><div id="ctl00_SmallSearchInputBox1_csr_AutoCompList"></div></div></div></div></div><div componentid="ctl00_SmallSearchInputBox1_csr" id="ctl00_SmallSearchInputBox1_csr"></div><div id="ctl00_SmallSearchInputBox1"></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
        <div id="verticalSearch">
            <!--CS: Start Search Navigation Snippet-->
            <!--SPM:<%@Register Tagprefix="spsswc"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
            <!--SPM:<%@Register Tagprefix="a2e8ead9d"  Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>-->
            <!--MS:<spsswc:SearchNavigationWebPart runat="server" QueryGroupName="Default" Title="&#60;%Search Navigation%&#62;" FrameType="None" SuppressWebPartChrome="False" Description="&#60;%This webpart helps the users to navigate among search verticals%&#62;" IsIncluded="True" ZoneID="ImportedPartZone" PartOrder="0" FrameState="Normal" AllowRemove="True" AllowZoneChange="True" AllowMinimize="True" AllowConnect="True" AllowEdit="True" AllowHide="True" IsVisible="True" DetailLink="" HelpLink="" HelpMode="Modeless" Dir="Default" PartImageSmall="" MissingAssembly="&#60;%Cannot import this Web Part.%&#62;" ImportErrorMessage="&#60;%Cannot import this Web Part.%&#62;" PartImageLarge="" IsIncludedFilter="" ExportControlledProperties="True" ConnectionID="00000000-0000-0000-0000-000000000000" ID="g_81e90696_f647_491d_8355_964c2757a26a" ChromeType="None" ExportMode="All" __MarkupType="vsattributemarkup" __WebPartId="{81e90696-f647-491d-8355-964c2757a26a}" WebPart="true" Height="" Width="">-->
            <!--ME:</spsswc:SearchNavigationWebPart>-->
            <!--CE: End Search Navigation Snippet-->
        </div>
        <div class="styled-select" style="display:none">
            <select id="lxselect" name="select">
            </select>
        </div>
    </div>
    <!--ME:</asp:ContentPlaceHolder>-->
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderLeftNavBar" runat="server">-->
    <a id="startNavigation" name="startNavigation" tabindex="-1">
    </a>
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderLeftNavBarTop" runat="server">-->
    <!--ME:</asp:ContentPlaceHolder>-->
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderQuickLaunchTop" runat="server">-->
    <!--ME:</asp:ContentPlaceHolder>-->
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderLeftNavBarDataSource" runat="server">-->
    <!--ME:</asp:ContentPlaceHolder>-->
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderCalendarNavigator" runat="server">-->
    <!--ME:</asp:ContentPlaceHolder>-->
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderLeftActions" runat="server">-->
    <!--ME:</asp:ContentPlaceHolder>-->
    <div class="ms-core-sideNavBox-removeLeftMargin">
        <!--SPM:<SharePoint:SPNavigationManager
                            id="QuickLaunchNavigationManager"
                            runat="server"
                            QuickLaunchControlId="V4QuickLaunchMenu"
                            ContainedControl="QuickLaunch"
                            EnableViewState="false"
        >-->
        <!--SPM:<SharePoint:DelegateControl runat="server"
                ControlId="QuickLaunchDataSource">-->
        <!--SPM:<Template_Controls>-->
        <!--SPM:<asp:SiteMapDataSource
                                        SiteMapProvider="SPNavigationProvider"
                                        ShowStartingNode="False"
                                        id="QuickLaunchSiteMap"
                                        StartingNodeUrl="sid:1025"
                                        runat="server"
        />-->
        <!--SPM:</Template_Controls>-->
        <!--SPM:</SharePoint:DelegateControl>-->
        <!--SPM:<SharePoint:AspMenu
                                id="V4QuickLaunchMenu"
                                runat="server"
                                EnableViewState="false"
                                DataSourceId="QuickLaunchSiteMap"
                                UseSimpleRendering="true"
                                Orientation="Vertical"
                                StaticDisplayLevels="3"
                                AdjustForShowStartingNode="true"
                                MaximumDynamicDisplayLevels="0"
                                SkipLinkText=""
        />-->
        <!--SPM:</SharePoint:SPNavigationManager>-->
        <!--SPM:<SharePoint:SPNavigationManager
                                id="TreeViewNavigationManagerV4"
                                runat="server"
                                ContainedControl="TreeView"
                                CssClass="ms-tv-box"
        >-->
        <!--SPM:<SharePoint:SPLinkButton runat="server" NavigateUrl="~site/_layouts/15/viewlsts.aspx" id="idNavLinkSiteHierarchyV4" Text="&#60;%$Resources:wss,treeview_header%&#62;" accesskey="&#60;%$Resources:wss,quiklnch_allcontent_AK%&#62;"
                CssClass="ms-tv-header"/>-->
        <!--SPM:<SharePoint:DelegateControl runat="server" ControlId="TreeViewAndDataSource">-->
        <!--SPM:<Template_Controls>-->
        <!--SPM:<SharePoint:SPHierarchyDataSourceControl
                                            runat="server"
                                            id="TreeViewDataSourceV4"
                                            RootContextObject="Web"
                                            IncludeDiscussionFolders="true"
        />-->
        <!--SPM:<SharePoint:SPRememberScroll runat="server" id="TreeViewRememberScrollV4" onscroll="javascript:_spRecordScrollPositions(this);"
                            style="overflow: auto;">-->
        <!--SPM:<SharePoint:SPTreeView
                                            id="WebTreeViewV4"
                                            runat="server"
                                            ShowLines="false"
                                            DataSourceId="TreeViewDataSourceV4"
                                            ExpandDepth="0"
                                            SelectedNodeStyle-CssClass="ms-tv-selected"
                                            NodeStyle-CssClass="ms-tv-item"
                                            SkipLinkText=""
                                            NodeIndent="12"
                                            ExpandImageUrl="/_layouts/15/images/tvclosed.png?rev=23"
                                            ExpandImageUrlRtl="/_layouts/15/images/tvclosedrtl.png?rev=23"
                                            CollapseImageUrl="/_layouts/15/images/tvopen.png?rev=23"
                                            CollapseImageUrlRtl="/_layouts/15/images/tvopenrtl.png?rev=23"
                                            NoExpandImageUrl="/_layouts/15/images/tvblank.gif?rev=23"
        >-->
        <!--SPM:</SharePoint:SPTreeView>-->
        <!--SPM:</SharePoint:SPRememberScroll>-->
        <!--SPM:</Template_Controls>-->
        <!--SPM:</SharePoint:DelegateControl>-->
        <!--SPM:</SharePoint:SPNavigationManager>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderQuickLaunchBottom" runat="server">-->
        <div class="ms-core-listMenu-verticalBox">
            <!--SPM:<SharePoint:ClusteredSPLinkButton
                    runat="server"
                    id="idNavLinkViewAll"
                    PermissionsString="ViewFormPages"
                    NavigateUrl="~site/_layouts/15/viewlsts.aspx"
                    Text="&#60;%$Resources:wss,AllSiteContentMore%&#62;"
                    accesskey="&#60;%$Resources:wss,quiklnch_allcontent_AK%&#62;"
                    CssClass="ms-core-listMenu-item ms-core-listMenu-heading"/>-->
            <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><a id="ctl00_idNavLinkViewAll" accesskey="3" class="ms-core-listMenu-item ms-core-listMenu-heading" href="#"><span class="ms-splinkbutton-text">All Site Content</span></a><!--PE: End of READ-ONLY PREVIEW-->
        </div>
        <!--ME:</asp:ContentPlaceHolder>-->
    </div>
    <!--ME:</asp:ContentPlaceHolder>-->
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitleInTitleArea" runat="server">-->
    <!--SPM:<SharePoint:SPTitleBreadcrumb
                runat="server"
                RenderCurrentNodeAsLink="true"
                SiteMapProvider="SPContentMapProvider"
            CentralAdminSiteMapProvider="SPXmlAdminContentMapProvider">-->
    <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><span id="ctl00_DeltaPlaceHolderPageTitleInTitleArea">Home</span><!--PE: End of READ-ONLY PREVIEW-->
    <!--SPM:<PATHSEPARATORTEMPLATE>-->
    <!--SPM:<SharePoint:ClusteredDirectionalSeparatorArrow runat="server"/>-->
    <!--SPM:</PATHSEPARATORTEMPLATE>-->
    <!--SPM:</SharePoint:SPTitleBreadcrumb>-->
    <!--CS: Start Page Field: Title Snippet-->
    <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
    <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
    <!--ME:</PageFieldFieldValue:FieldValue>-->
    <!--CE: End Page Field: Title Snippet-->
    <!--ME:</asp:ContentPlaceHolder>-->
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageDescription" runat="server">-->
    <!--ME:</asp:ContentPlaceHolder>-->
    <!--MS:<asp:ContentPlaceHolder id="PlaceHolderMain" runat="server">-->
    <script type="text/javascript">
      

        
        $(document).on('hover', '.ms-srch-item-title', function () {
            // Your Code
            $(this).find('.ms-srch-item-link').each(function() {
                $(this).attr("target","_blank");
            });
            
        });

       
    </script>
    
        <div class="page-title"><h3>Top Content</h3></div>     
        <div class="content-padding">
            <div class="top-content">
      
                <ul id="ultabs" class="tab-items">
                    <li  id="tab1">
                        <a href="#fragment1" onclick="ascommon.loadLatest()">                            
                                LATEST                           
                        </a>
                    </li>
                    <li  id="tab2" style="display:none">
                        <a  href="#fragment3" onclick="ascommon.loadMostViwed()">                           
                                MOST VIEWED
                        </a>
                    </li>
                    <li id="tab3" style="display:none">
                        <a  href="#fragment2" onclick="ascommon.loadLastAccesed()">

                                LAST ACCESSED

                        </a>
                    </li>
                    <li  id="tab4">
                        <a href="#fragment4" onclick="ascommon.loadPopular()">
                            
                                POPULAR
                        </a>
                    </li>

                </ul>
                <div data-name="EditModePanelShowInEdit">
                    <div class="top-content-container" >
                        <div id="fragment1" class="top-content-tab" style="display:none" >
                            <div data-name="WebPartZone">
                                <div class="refiner-block">
                                    <!--CS: Start Web Part Zone Snippet-->
                                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <div xmlns:ie="ie">
                                        <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="latestRefiner" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                        <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                        <!--ME:</ZoneTemplate>-->
                                        <!--ME:</WebPartPages:WebPartZone>-->
                                    </div>
                                    <!--CE: End Web Part Zone Snippet-->
                                    </div>
                                <div class="content-result-block">
                                    <!--CS: Start Web Part Zone Snippet-->
                                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <div xmlns:ie="ie">
                                        <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="latestCSWP" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                        <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                        <!--ME:</ZoneTemplate>-->
                                        <!--ME:</WebPartPages:WebPartZone>-->
                                    </div>
                                    <!--CE: End Web Part Zone Snippet-->

                                </div>

                                </div>
                        </div>
                        <div id="fragment2" class="top-content-tab" style="display:none">
                            <div data-name="WebPartZone">
                                <table width="100%">
                                    <tr>
                                        <td valign="top">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="lastacessedRefiner" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                                <!--MS:<ZoneTemplate>-->
                                                <!--DC: Replace this comment with default web parts for new pages. -->
                                                <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </td>
                                        <td valign="top">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="lastacessedCSWP" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                                <!--MS:<ZoneTemplate>-->
                                                <!--DC: Replace this comment with default web parts for new pages. -->
                                                <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </div>
                        <div id="fragment3" class="top-content-tab" style="display:none">
                            <div data-name="WebPartZone">
                                <table width="100%">
                                    <tr>
                                        <td valign="top">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="mostViewedRefiner" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                                <!--MS:<ZoneTemplate>-->
                                                <!--DC: Replace this comment with default web parts for new pages. -->
                                                <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </td>
                                        <td valign="top">
                                            <!--CS: Start Web Part Zone Snippet-->
                                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                            <div xmlns:ie="ie">
                                                <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="mostViewedCSWP" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                                <!--MS:<ZoneTemplate>-->
                                                <!--DC: Replace this comment with default web parts for new pages. -->
                                                <!--ME:</ZoneTemplate>-->
                                                <!--ME:</WebPartPages:WebPartZone>-->
                                            </div>
                                            <!--CE: End Web Part Zone Snippet-->
                                        </td>
                                    </tr>
                                </table>


                            </div>

                        </div>
                        <div id="fragment4" class="top-content-tab" style="display:none">
                            <div data-name="WebPartZone">
                                <div class="refiner-block">
                                    <!--CS: Start Web Part Zone Snippet-->
                                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <div xmlns:ie="ie">
                                        <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="popularRefiner" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                        <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                        <!--ME:</ZoneTemplate>-->
                                        <!--ME:</WebPartPages:WebPartZone>-->
                                    </div>
                                    <!--CE: End Web Part Zone Snippet-->
                                    </div>
                                <div class="content-result-block">
                                    <!--CS: Start Web Part Zone Snippet-->
                                    <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                    <div xmlns:ie="ie">
                                        <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="popularCSWP" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                        <!--MS:<ZoneTemplate>-->
                                        <!--DC: Replace this comment with default web parts for new pages. -->
                                        <!--ME:</ZoneTemplate>-->
                                        <!--ME:</WebPartPages:WebPartZone>-->
                                    </div>
                                    <!--CE: End Web Part Zone Snippet-->
                                    </div>


                                </div>

                        </div>
                    </div>

                </div>
                </div>
                </div>
       
                <!--ME:</asp:ContentPlaceHolder>-->
                <!--MS:<asp:ContentPlaceHolder id="PlaceHolderFormDigest" runat="server">-->
                <!--SPM:<SharePoint:FormDigest runat="server"/>-->
                <!--ME:</asp:ContentPlaceHolder>-->
</body>
</html>
