﻿#suiteLinksBox, #ms-help
{
	display:none;
}
#suiteBarLeft{
	background:none repeat scroll 0% 0% #3B4F65 !important
}
#s4-bodyContainer {
    width: 90% !important;
    margin: auto;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item, .ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item {
    color: #48494B !important;
}
.ms-core-listMenu-verticalBox {
    font-family: verdana !important;
    font-size: 13px !important;
    color: #48494B !important;
}
.ms-core-listMenu-verticalBox {
    background: none repeat scroll 0% 0% #ECEDF1;
    border-bottom: 3px solid #C7C7C7;
    font-family: verdana !important;
    font-size: 13px !important;
    color: #48494B !important;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected, .ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:hover {
    background: none repeat scroll 0% 0% #DDD;
    border-left: 5px solid #EA8525;
}
body {
    font-family: Verdana !important;
    font-size: 12px !important;
    font-weight: normal !important;
}
.ms-core-pageTitle {
    font-size: 22px!important;
        width: 100%;
    font-family: "Verdana" !important;
    text-align: left;
    color: #536173!important;
    height: 25px!important;

}
.ms-core-pageTitle a {
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    font-family: "Verdana" !important;
    color: #536173;
}
.hrDoc {
    color: #DDD;
    background: none repeat scroll 0% 0% #DDD;
    height: 4px;
    border: 0px none;
    margin-bottom: 15px;
}
.ms-breadcrumb-box {
    height: 30px;
}
#searchInputBox {
    margin-top: 15px;
    float: left;
    margin-left: 50px;
    display: table;
    width: 550px;
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sbox {
    width: 80%;
}
#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_sboxdiv {
    width: 350px;
    border: 2px solid #2CB6C0;
    margin-right: 15px;
}
#titleAreaBox {
    margin: 0px;
}
.clsHome, .clsHome:hover
{
	background:#EA8525!important;
	font-weight:bold!important;
	  font-family: "Verdana" !important;
    font-size: 12px!important;
    text-transform:uppercase!important;
    color: #DEE9F5!important;
    display: inline-block;
    text-decoration: none !important;
    list-style: none outside none;
    float: left;
    margin:0px !important;
    cursor:pointer!important;
 
}
.clsHome, .clsHome:hover{

border:0;
text-align:center;	
}
a[id$='Ribbon.Documents.Copies.Download-Large'] {
display:none;
} 
