﻿body{
	margin:0;
	font-family:Verdana;
}*, *:before, *:after {
	-moz-box-sizing: border-box;
}
[class*="icon-"] {
	font-family: 'icomoon';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
}
.wrap {
	
	max-width: 100%;
	
	position: relative;
	/*margin-top: -10px;
	margin-left: -10px;padding: 10px;*/	
}
/************/
.ms-siteicon-a {
	height:30px;
}
..ms-tableRow{
	margin-top:
}
#DeltaSiteLogo{
    height:30px;
    margin-top: -15px;	
    display:none;
}
/***menu***/
#ms-designer-ribbon{
	
	display:none;
}
#menu
{
position: fixed; 
top: 65px; 
overflow: auto;
bottom: 0px; width: 15.625em; height: 100%; transition: left 300ms ease 0s; left: -15.625em;
  background:#F4F4F7;/**#3B4F65!important;**/
  border-top:2px solid #ddd;
}

a {
	text-decoration: none;
	transition: all 0.2s ease 0s;
}
img {
	/**display: block;**/
	margin: 0 auto;
	}
pre {
	background-color: #ECF0F1;
	font-size: 0.875em;
	padding: 1em;
}
.masthead {
	/**background:#3B4D63;*/
	/**color: #FFFFFF;**/
	position: relative;
	height:auto!important;
	min-height:60px;
}
#drawerNavBotton {
	font-size: 1.5em;
	position: absolute;
}
#drawerNavBotton:link {
	/*background: #666;*/
	border-radius: 4px;
	color: #FFFFFF;
	padding: 0.2em 0.4em;
}
#drawerNavBotton:visited
{
	
}
#drawerNavBotton:hover, #drawerNavBotton:active {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	color: #25B89A;
}
.subtitle {
	font-size: 1.125em;
	margin: 0.5em 0;
	text-align: center;
}
.btn-list {
	margin: 3em 0;
	text-align: center;
}
.btn-list li {
	display: inline-block;
}
.btn-list li:first-of-type {
	margin-right: 1em;
}
.btn {
	border-radius: 6px;
	padding: 1em 0.5em;
	text-align: center;
}
.btn:link, .btn:visited {
	background: none repeat scroll 0 0 #25B89A;
	color: #FFFFFF;
}
.btn:hover, .btn:active {
	background: none repeat scroll 0 0 #16A085;
}
.panel {
	background: none repeat scroll 0 0 #333;
	left: -15.625em;
	position: fixed;
	width: 15.625em;
	z-index: 1000;
	height:100%;
	clear:both;
	background-color: #B8B8B8 !important;
}
#box
{
	overflow-x:visible;
	display:block;
	clear:both;
	
}
#search
{
	position:absolute;
	right:20px;
	margin-top:5px
}
#searchContainer{
     margin-top:43px;
	display:none;
		font-family: "Verdana"!important;
        font-size: 13px;
        position:absolute;
        /**margin-top:13px;**/
	    float:left;
	    text-align:left;
	    padding:20px;*/
	    /**border:1px solid #777777;*/	    
        clear:both;
	    width:100%!important; /**overflow:visible;**/
	   	background: none repeat scroll 0% 0% #A8A8A8;
	   	height:110%!important;
	   	/*cccccc*/
	   /* background-color:#F4F4F7;*/
	   left:-3px;
	    margin-left:3px;
		background-image: url('/sites/adspaceviacom/SiteAssets/images/MobileImages/iPhone/bg.jpg');
	    background-repeat: repeat;

}
#ctl00_ctl66_g_9f0599a6_7d16_4d49_8fcc_27170e0dcdf9_csr_SearchLink
{
	top:-30px!important;
	right:-200px!important
}
.ms-srch-sbLarge
{
	width:250px;
	height:40px
}
.nav-icon {
	margin-right: 6px;
}
.hide {
	border: 0 none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.clr{
	clear:both
}
.js-callout-content
{
	width:300px!important;
	max-width:320px!important;
	/*overflow-x:scroll!important*/
}
.js-callout-mainElement
{
	left:0px!important
}
.js-callout-body
{
	overflow-y:scroll!important;
	/*max-height:auto!important;*/
}
/* for slide menu*/
.menuType
{
	padding-left: 10px;
font-size: 14px;
text-transform: uppercase;
color: grey;
font-weight: bold;
background: white;
}
#TopNavigationMenu {
	list-style: none!important;
	position: relative;
	font-family: "Verdana"!important;
	font-size: 12px;
	height: auto;
	clear: both;
	padding-bottom: 5px;
}
/*****div that contains header name and alink for header****/
/****ulHeadNav:- outer most div: that displays name of the header***/
.divHeadNav {
	font-family: "Helvetica" !important;
	font-size: 12px; /* padding:9px 14px;*/;
	padding: 8px 8px 8px 0;
	font-weight: bold;
	color: #DEE9F5;
	display: inline-block;
	text-decoration: none!important;
	list-style: none;
	float: left;
	width: 100%;
	border-bottom: 1px solid #999;
	border-top: 1px solid #ccc;
	position: relative;
	box-sizing: border-box;
}
#SiteHomeDiv {
	border-top: none;	
}
/*.divHeadNav:hover {
	background-color: #EA8525!important;
}*/
/*.divHeadNav:hover .divCategoryNav {
	border-top: 2px #EA8525 solid;
	display: block;
	cursor: default;
}
.divHeadNav:hover .divCategoryNav:empty {
	display: none;
}
.divHeadNav:hover .aHeaderName {
	background-color: #EA8525!important;
	color: white;
}*/
.aHeaderName {
	color: #48494B;;
	text-decoration: none;
	text-transform: capitalize !important;
	font-family: "Verdana"!important;
	font-size: 14px; /*padding: 5px;*/;
	padding: 10px;
	cursor: pointer;
}
.aStaticHeaderName {
	color: #48494B ;
	text-decoration: none;
	text-transform: capitalize !important;
	font-family: "Helvetica" !important;
	font-size: 14px; /*padding: 5px;*/;
	padding: 10px;
	cursor: pointer;
}
.aStaticHeaderName:visited, .aHeaderName:visited
{
	color:#48494B 
}
#SupportMenu a{
	color: #48494B ;
	text-decoration: none;
	font-family: "Verdana"!important;
	font-size: 14px; /*padding: 5px;*/;
	padding: 10px;
	cursor: pointer;
}

/*****div that contains HOME  and alink for HOME****/
.Home {
display:none!important;
	font-family: "Verdana"!important;
	font-size: 12px; /*padding:9px 14px;*/;
	padding: 10px 0 10px 0;
	font-weight: bold;
	color: #DEE9F5;
	/*display: inline-block;*/
	text-decoration: none!important;
	list-style: none;
	float: left; /*margin-top:5px;*/;
	width: 100%;
}
.Home:hover {
	/*background-color: #EA8525!important;*/
}
.aHomeLink {
	color: #DEE9F5;
	text-decoration: none;
	text-transform:  capitalize!important;
	font-family: "Verdana"!important;
	font-size: 14px; /*padding: 5px;*/;
	padding: 10px;
}
.Home:hover .aHomeLink {
	/*background-color: #EA8525!important;*/
}
/*******div that contains navigation links, visible when you hover on divHeadNav************/
.divCategoryNav {
	display: none;
	font-family: "Verdana"!important;
	font-size: 13px;
	position: relative;
	margin:0 auto;
	text-align: left;
	/**padding: 10px 0 10px 10px;**/
/**border:1px solid #777777;*/z-index: 999 !important;
	clear: both;
	width: 95%!important; /**overflow:visible;**/;
background: none;
margin-left: 10px;
padding-left:10px;
}
.divCategoryNav:empty {
	display: none;
}
/***************Category *******************/
#TopNavigationMenu a:hover, #TopNavigationMenu a:active, #TopNavigationMenu a:visited {
	text-decoration: none!important;
}
#TopNavigationMenu a {
	/**color: #DEE9F5;**/
	color:#48494B!important;

}

.ulCategoryNav 
{
	/**padding-left: 9px;**/
	width: 88%;
	/**margin: 0 10px 10px 0;**/
}
 .ulCategoryNav:first-child 
 {
	/**padding-left: 9px;**/
	width: 88%;
	/**margin: 0 10px 10px 0;**/
}

.aCategoryNav {
	text-transform:  capitalize;
	font-family: "Verdana"!important;
	font-size: 13px;
	color: #48494B!important;
	font-weight: bold;
	/**padding-bottom: 10px;**/
}
.LinknameLI {
	color: #696969!important;
	font-family: "Verdana"!important;
	font-size: 12px;
	color: #696969!important;
	font-weight: normal;
}
.LinknameLI:hover {
	color: grey;
}
/*.liLinkNav:hover 
    {
	    background: #F4F4F4;
    }*/
.liLinkNav {
	/**padding-bottom: 15px;**/
}
.triangle {
	width: 8px;
	height: 8px;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	border-top: none;
	border-left: none;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 10px;
	position: absolute;	
	right: 15px;
}

.upTriangle {
    width: 8px;
	height: 8px;
    position: absolute;
    margin-top: 6px;
	border-top: 2px solid #555;
	border-left: 2px solid #555;
	border-right: none;
	border-bottom: none;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 10px;
	right: 15px;
}
/**arrow down 7A7A7A**/

/*************links resources bookmarks************/
#links-container, #resources-container
{
	/*display:none;*/
}
/***dialog box z-index 1504****/
#bannerLinksDiv {
	margin-top: 14px;
	margin-left: 10px;
	background: white;
	right: 0;
	width: 850px;
	position: absolute;
	clear: both;
	border-top: 3px solid #EA8525;
	max-width: 850px!important;
	z-index: 999;
	font-size: 12px;
	text-align: left;
	padding: 10px 5px 10px 10px;
	font-family: "Verdana"!important;
	text-align: left;
	border: 1px #ddd solid;
	border-top: 3px solid #EA8525;
}
#bannerResourcesDiv {
	margin-top: 14px; /*background: #ECEDF1;*/;
	background: white;
	right: 0;
	width: auto;
	position: absolute;
	clear: both;
	border-top: 3px solid #EA8525;
	z-index: 9999999999;
	font-size: 13px;
	text-align: left;
	padding: 10px 5px 10px 5px;
	font-family: "Verdana"!important;
	text-align: left;
	border-top: 3px solid #EA8525;
	background: #ECEDF1;
}
#bannerLinks {
	width: 70%;
	float: left;
	border-right: 1px #ddd solid;
}
#bannerBookmarks {
	float: right;
}
.LinkSpan {
	color: #DEE9F5;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Verdana"!important;
	padding: 5px 5px 5px 5px;
}
#links-container:hover a#LinkSpan {
	color: black;
}
#links-container:hover .LinkSpan, #resources-container:hover .LinkSpan {
	background-color: #6A7B8B!important;
}
#links-container {

	list-style: none!important;
	position: relative;
	float: left;
	font-family: "Verdana"!important;
	font-size: 12px;
	padding: 10px 0px;
	font-weight: bold;
	color: #DEE9F5;
	text-decoration: none!important;
	list-style: none;
	width: 100%;
}
#links-container:hover {
	background-color: #6A7B8B!important;
}
.ulBannerLinks, .ulRecources {
	padding-left: 9px;
	padding: 0px 0px 10px 0px !important;
	float: left;
	width: auto;
	margin: 0 10px 10px 0;
	list-style: none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0----for ulRecources**/
}
.clr {
	clear: both;
}
.pUlBannerLink {
	text-transform: uppercase;
	font-family: "Verdana"!important;
	font-size: 12px;
	color: #868686!important;
	font-weight: bold;
	margin-bottom: 25px;

    /* color:#EA8525!important;padding:0 0 10px 0;margin:0!important;text-transform:uppercase;font-weight:bold;**/
}
#resources-container {
	list-style: none!important;
	position: relative;
	float: left;
	font-family: "Verdana"!important;
	font-size: 12px;
	padding: 10px 0;
	font-weight: bold;
	color: #DEE9F5;
	text-decoration: none!important;
	width: 100%;
}
#resources-container:hover {
	background-color: #6A7B8B!important;
}
#support-container {
	position: relative;
	float: left;
	font-family: "Verdana"!important;
	font-size: 12px;
	padding: 10px 0;
	font-weight: bold;
	color: #DEE9F5;
	text-decoration: none!important;
	width: 100%;
	background-color: rgba(192, 192, 192, 0.25);
}
#support-container:hover {
	background-color: #6A7B8B!important;
}
#support-container a {
	color: #DEE9F5;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	padding-left:5px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Verdana"!important;
	
}
#support-container a:hover {
	color: #ea8525;
}
.liBannerLinks {
	margin-bottom: 20px;
}
.liResources {
	padding-bottom: 20px;
	white-space: nowrap;
}
.aBannerLinks, .aResources {
	color: #444!important;
	font-family: "Verdana"!important;
	font-size: 12px;
	font-weight: normal;
}
.BannerLinkUL {
	padding-bottom: 12px;
}
.aBannerLinks:hover .aBannerLinks {
	color: silver;
}
/****support tab****/
.supportTabSpan {
	display: inline-block;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0px 7px 0px 10px;
	border-right: 1px solid transparent;
	background-clip: padding-box;
}
/****bookmarks******/
.ulBookmarHead {
	padding-left: 9px;
	padding: 0px 0px 10px 0px !important;
	float: left;
	width: auto;
	margin: 0 10px 10px 0;
	list-style: none;

        /*list-style:none;width:auto;float:left;padding:8px;margin:0**/
}
.pBookmarkHead {
	text-transform: uppercase;
	font-family: "Verdana"!important;
	font-size: 13px;
	color: #868686 !important;
	font-weight: bold;
	margin-bottom: 20px;

    /*padding:0 0 5px 0!important;margin:0!important**/
}
#BookmarHead li a {
	cursor: pointer;
	color: #696969;
	font-weight: normal;
}
#BookmarHead li img {
	padding-bottom: 1px;
}
.liAddBookmark {
	margin-bottom: 15px;
	font-weight: normal;
	clear: both;
	color: #696969!important;
	font-family: "Verdana"!important;
	font-size: 12px;
}
.aAddBookmark {
	cursor: pointer;
	color: #696969;
	font-weight: normal;
	margin-bottom: 20px;
}
#ms-help {
	display: none;
}
.search{
	background:#666;
	border-radius:5px;
	padding:9px 0;
	float:right;
	width:40px;
	vertical-align:middle;
	cursor:pointer;
}
.filter{
	background:#666;
	border-radius:5px;
	padding:9px 0;
	float:right;
	width:40px;
	vertical-align:middle;
	cursor:pointer;
	margin-right:20px;
}

.search-div{
	width:100%;
	height:auto;
	background:#666;
	right:0;
	display:none;
	position:absolute;
	padding:10px 0;
}
.search-box{
	width:80%;
	margin:10px 30px!important;
	border:1px solid #00CCFF;
}

.btn-div{
	width:80%;
	margin:0 auto;
}.btn{
	background-color:#eee;
	padding:8px 15px;
	border:0;
}
.ulCategoryNav li
{
	color: rgb(72, 73, 75) !important;
	font-weight:normal;
	padding:1 1 1 1;	
}
/*callout close icon css*/
.js-callout-closeButton
{
	border:none!important
}
/**/
.aAddBookmark
{
	color:#DEE9F5!important;
	font-weight:bold
}


/*******************************************/

/*************************************************/
/********** Phone Landscape **********/
@media only screen
and (min-width: 320px)
and (orientation: landscape){
   .mediaspace_wrapper
	{
		width:500px!important;
		height:400px!important;
	}  
	.ms-dlgContent  
	{
		width: 422px!important;
		height: 262px!important;
	}
	.ms-dlgBorder
	{
		width: 420px!important;
		height: 260px!important

	}
	.ms-dlgFrame
	{
		width: 380px!important;
		height: 172px!important;
		overflow:scroll!important;
		

	}
		

}
/*
@media (min-width: 320px) and (max-width: 640px){
	#Ribbon{
	border:1px solid red;
}*/

}


/********** Phone Portait **********/
@media only screen
and (min-width: 50px)
and (orientation: portrait){
 	.mediaspace_wrapper
	{
		width:500px!important;
		height:400px!important;
	}  
	.ms-dlgContent  
	{
		width: 273px!important;
		height: 495px!important
	}
	.ms-dlgBorder
	{
		width: 271px!important;
		height: 535px!important

	}
	.ms-dlgFrame
	{
		width: 233px!important;
		height: 319px!important;
		overflow:scroll!important
	}
	

		
}

/**********************************************************/
.clsdocLib
{
	min-height:110px
}
/***********************************/
#GroupName
{
	width:100px!important
}
/*trial*/

.aBookmarkDelete{
	padding-right:10px!important;
	padding-left:10px!important
}

/* TopContent Page Styling in Mobile */
.top-content-page #drawerIcon #drawerNavBotton {
	z-index: 9;
	height: 22px;
	padding: 0;
	left: 10px;
	top: 10px;
}
.top-content-page #search {
	z-index: 9;
	height: 25px;
	margin-top: 0;
	right: 5px;
	top: 8px;
}